In [1]:
from py_bref.team_season import TeamSeason
from py_bref.franchises import Franchise

In [2]:
rays = Franchise("Rays")

I'm 90% that you want Tampa Bay Rays

In [3]:
rays1999 = TeamSeason(rays, 1999)

In [4]:
# rays1999.stats()

In [5]:
valid_table_types =  ['team_batting', 'team_pitching', 'appearances', 'standard_fielding',
                             'players_value_batting', 'players_value_pitching']

In [6]:
for tbl in valid_table_types:
    print(tbl)
    display(rays1999.stats(tbl))

In [7]:
rays1999.schedule_results()

Index(['Gm#', 'Date', 'Unnamed: 2', 'Tm', 'Unnamed: 4', 'Opp', 'W/L', 'R',
       'RA', 'Inn', 'W-L', 'Rank', 'GB', 'Win', 'Loss', 'Save', 'Time', 'D/N',
       'Attendance', 'Streak', 'Orig. Scheduled'],
      dtype='object')
Index(['Gm#', 'Date', 'Tm', 'H/A', 'Opp', 'W/L', 'R', 'RA', 'Inn', 'W-L',
       'Rank', 'GB', 'Win', 'Loss', 'Save', 'Time', 'D/N', 'Attendance',
       'Streak', 'Orig. Scheduled'],
      dtype='object')

,Gm#,Date,Tm,H/A,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,Streak,Orig. Scheduled
0,1,"Monday, Apr 5",TBD,A,BAL,L,7,10,NaN,0-1,4,1.0,Mussina,Alvarez,Timlin,3:45,D,46733.0,-,NaN
1,2,"Wednesday, Apr 7",TBD,A,BAL,W,8,5,NaN,1-1,3,1.0,Saunders,Guzman,Hernandez,3:20,N,42284.0,+,NaN
2,3,"Thursday, Apr 8",TBD,A,BAL,W,6,3,NaN,2-1,2,1.0,Witt,Erickson,NaN,2:59,N,39853.0,++,NaN
3,4,"Friday, Apr 9",TBD,H,BOS,L,1,4,NaN,2-2,3,2.0,Portugal,Arrojo,NaN,2:35,N,40525.0,-,NaN
4,5,"Saturday, Apr 10",TBD,H,BOS,L,3,5,NaN,2-3,3,3.0,Martinez,Santana,Gordon,2:50,N,28522.0,--,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,158,"Tuesday, Sep 28",TBD,H,TOR,L,2,8,NaN,68-90,5,27.5,Wells,Wheeler,NaN,2:55,N,19781.0,-,NaN
163,159,"Wednesday, Sep 29",TBD,H,TOR,L,2,6,NaN,68-91,5,28.0,Escobar,Witt,NaN,3:10,N,22180.0,--,NaN
165,160,"Friday, Oct 1",TBD,H,NYY,L,7,11,NaN,68-92,5,29.0,Mendoza,Arrojo,Rivera,3:53,N,27248.0,---,NaN
166,161,"Saturday, Oct 2",TBD,H,NYY,L,2,3,NaN,68-93,5,30.0,Cone,Alvarez,Rivera,3:22,N,40756.0,----,NaN
167,162,"Sunday, Oct 3",TBD,H,NYY,W,6,2,NaN,69-93,5,29.0,Gaillard,Juden,Hernandez,2:39,D,31292.0,+,NaN