In [1]:
from sportsref.baseball import Player

im calling bref now

In [2]:
import pandas as pd
pd.set_option("display.max_columns", 50)

## things to test

for players:

* player `__repr__` representation
* for batters players
    * test overview pages
        * apperances
        * batting_standard
        * batting_value
        * batting_postseason
        * standard_fielding

    * test splits pages
        * total
    * test game logs
        * game_log
* for pitchers
    * test overview page
        * apperances
        * standard_pitching
        * pitching_value
        * pitching_postseason
        * standard_fielding
    * test splits pages
        * total

In [3]:
aaron = Player("hank aaron")

I'm 100% sure that you want Hank Aaron

In [4]:
aaron.advanced("advanced_fielding_lf", "f")

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Year                Age                 Tm                 Lg
0               1954                 20                MLN                 NL
1               1955                 21                MLN                 NL
2               1973                 39                ATL                 NL
3               1974                 40                ATL                 NL
4               1975                 41                MIL                 AL
5               1976                 42                MIL                 AL
6          6 Seasons          6 Seasons          6 Seasons                NaN
7       MLB Averages       MLB Averages       MLB Averages                NaN

  Errors                      Assists                      \
     Tot  Cch   Fld  Thr  ROE     Tot   1B   2B   3B   Hm
0    5.0  0.0   5.0  0.0  1.0     2.0  0.0  2.0  0.0  0.0
1    1.0  0.0   1.0  0.0  0.0     1.0  0.0  0.0  0.0  1.0
2    4.0  0.0   4.0  0.0  1.0     3.0  0.0  3.0  0.0  0.0
3    2.0  0.0   2.0  0.0  1.0     3.0  0.0  2.0  0.0  1.0
4    0.0  0.0   0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0
5    0.0  0.0   0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0
6   12.0  0.0  12.0  0.0  3.0     9.0  0.0  7.0  0.0  2.0
7    NaN  NaN   NaN  NaN  NaN     NaN  NaN  NaN  NaN  NaN

  Single w/ Runner on 1st            Single w/ Runner on 2nd             \
                      Opp  Held Kill                     Opp  Held Kill
0                    33.0  27.0  0.0                    19.0   6.0  0.0
1                    16.0  14.0  0.0                     9.0   3.0  1.0
2                    36.0  27.0  0.0                    24.0   3.0  0.0
3                    19.0  18.0  0.0                    21.0   4.0  1.0
4                     2.0   2.0  0.0                     1.0   0.0  0.0
5                     0.0   0.0  0.0                     0.0   0.0  0.0
6                   106.0  88.0  0.0                    74.0  16.0  2.0
7                     NaN   NaN  NaN                     NaN   NaN  NaN

  Double w/ Runner on 1st            Flyout, <2out, Runner on 3rd            \
                      Opp  Held Kill                          Opp Held Kill
0                     9.0   7.0  0.0                          8.0  2.0  0.0
1                     2.0   1.0  0.0                          2.0  2.0  0.0
2                    14.0   8.0  0.0                          7.0  0.0  0.0
3                    11.0   7.0  0.0                          6.0  1.0  0.0
4                     0.0   0.0  0.0                          0.0  0.0  0.0
5                     0.0   0.0  0.0                          0.0  0.0  0.0
6                    36.0  23.0  0.0                         23.0  5.0  0.0
7                     NaN   NaN  NaN                          NaN  NaN  NaN

  Flyout, <2out, Runner on 2nd            Baserunning Totals                \
                           Opp  Held Kill                Opp   Held  Held%
0                         13.0  13.0  0.0               82.0   55.0  67.1%
1                          6.0   6.0  0.0               35.0   26.0  74.3%
2                         15.0  13.0  0.0               96.0   51.0  53.1%
3                         17.0  17.0  0.0               74.0   47.0  63.5%
4                          0.0   0.0  0.0                3.0    2.0  66.7%
5                          0.0   0.0  0.0                0.0    0.0    NaN
6                         51.0  49.0  0.0              290.0  181.0  62.4%
7                          NaN   NaN  NaN                NaN    NaN  58.8%

                           Unnamed: 36_level_0 Unnamed: 37_level_0  \
     Adv Kill Kill% Aother                  PA                RHB%
0   27.0  0.0  0.0%    2.0              3423.0                 64%
1    8.0  1.0  2.9%    0.0               800.0                 64%
2   45.0  0.0  0.0%    3.0              3013.0                 57%
3   26.0  1.0  1.4%    2.0              2728.0                 56%
4    1.0  0.0  0.0%    0.0                98.0                 40%
5    0.0  0.0   NaN    0.0                10.0                 60%
6  107.0  2.0  0.7%    7.0             10072.0                 59%
7    NaN  NaN  2.7%    NaN                 NaN                 63%

  Unnamed: 38_level_0 Unnamed: 39_level_0 Unnamed: 40_level_0  \
                 BIP%               FBIP%                 Fld
0                 75%                 30%               297.0
1                 74%                 29%                69.0
2                 76%                 27%               305.0
3                 78%                 28%               266.0
4                 69%                 18%                 7.0
5                 90%                 10%                 1.0
6                 76%                 28%               945.0
7                 75%                 28%                 NaN

  Unnamed: 41_level_0
                 F2O%
0                 58%
1                 49%
2                 57%
3                 54%
4                 29%
5                100%
6                 56%
7                 48%

In [5]:
aaron.hr_log()

,1954,#car,#yr,#gm,Date,@Bat,Unnamed: 6,Unnamed: 7,Pitcher,Score,Inn,Out,RoB,RBI,BOP,Pos,WPA,bWE,Notes,Play Description
0,1,1,1,1,1954-04-23,MLN,@,STL,Vic Raschi,behind 2-4,t 6,1,---,1,6,9,0.114,30%,NaN,Home Run
1,2,2,2,1,1954-04-25,MLN,@,STL,Stu Miller,behind 0-1,t 5,0,---,1,6,9,0.139,50%,NaN,Home Run
2,3,3,3,1,1954-05-21,MLN,@,CHC,Hal Jeffcoat,tied 4-4,t 8,1,1--,2,7,7,0.348,85%,NaN,Home Run (Deep LF); Logan Scores
3,4,4,4,1,1954-05-22 (2),MLN,@,CHC,Warren Hacker,behind 3-8,t 7,0,1--,2,7,7,0.058,11%,NaN,Home Run (Deep LF); Logan Scores
4,5,5,5,1,1954-05-25,MLN,@,CIN,Herm Wehmeier,behind 0-1,t 5,1,-2-,2,7,7,0.225,61%,NaN,Home Run; Adcock Scores
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,751,751,6,1,1976-06-19,MIL,@,OAK,Glenn Abbott,behind 3-6,t 6,1,---,1,4,DH,0.072,16%,NaN,Home Run (Deep LF)
773,752,752,7,1,1976-06-22,MIL,NaN,DET,Dave Roberts,behind 1-4,b 4,0,---,1,5,DH,0.096,28%,NaN,Home Run (Deep LF)
774,753,753,8,1,1976-07-09,MIL,NaN,TEX,Jim Umbarger,behind 0-2,b 2,0,---,1,4,DH,0.111,43%,NaN,Home Run (Deep LF)
775,754,754,9,1,1976-07-11 (2),MIL,NaN,TEX,Steve Foucault,tied 4-4,b 10,1,---,1,4,DH,0.429,100%,Walk-Off,Home Run (Deep LF)
776,755,755,10,1,1976-07-20,MIL,NaN,CAL,Dick Drago,ahead 4-1,b 7,2,---,1,4,DH,0.029,97%,NaN,Home Run (Deep LF)

In [6]:
demp = Player("Dempster")

I'm 90% sure that you want Ryan Dempster

In [7]:
demp.overview("pitching_standard")

,Year,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,Awards
4,1998,21,FLA,NL,1,5,0.167,7.08,14,11,1,0,0,0,54.2,72,47,43,6,38,1,35,9,0,5,272,57,5.86,2.012,11.9,1.0,6.3,5.8,0.92,NaN
6,1999,22,FLA,NL,7,8,0.467,4.71,25,25,0,0,0,0,147.0,146,77,77,21,93,2,126,6,0,8,666,91,5.30,1.626,8.9,1.3,5.7,7.7,1.35,NaN
7,2000,23,FLA,NL,14,10,0.583,3.66,33,33,0,2,1,0,226.1,210,102,92,30,97,7,209,5,0,4,974,121,4.36,1.356,8.4,1.2,3.9,8.3,2.15,AS
8,2001,24,FLA,NL,15,12,0.556,4.94,34,34,0,2,1,0,211.1,218,123,116,21,112,5,171,10,0,5,954,86,4.45,1.562,9.3,0.9,4.8,7.3,1.53,NaN
10,2002,25,FLA,NL,5,8,0.385,4.79,18,18,0,3,0,0,120.1,126,66,64,12,55,1,87,7,0,0,521,84,4.36,1.504,9.4,0.9,4.1,6.5,1.58,NaN
11,2002,25,CIN,NL,5,5,0.500,6.19,15,15,0,1,0,0,88.2,102,61,61,16,38,1,66,3,0,2,394,69,5.21,1.579,10.4,1.6,3.9,6.7,1.74,NaN
13,2003,26,CIN,NL,3,7,0.300,6.54,22,20,1,0,0,0,115.2,134,89,84,14,70,4,84,5,0,3,545,63,5.10,1.764,10.4,1.1,5.4,6.5,1.20,NaN
15,2004,27,CHC,NL,1,1,0.500,3.92,23,0,8,0,0,2,20.2,16,9,9,1,13,0,18,2,0,1,93,114,4.11,1.403,7.0,0.4,5.7,7.8,1.38,NaN
16,2005,28,CHC,NL,5,3,0.625,3.13,63,6,53,0,0,33,92.0,83,35,32,4,49,7,89,4,0,4,401,141,3.38,1.435,8.1,0.4,4.8,8.7,1.82,NaN
17,2006,29,CHC,NL,1,9,0.100,4.80,74,0,64,0,0,24,75.0,77,47,40,5,36,3,67,3,0,6,342,97,3.79,1.507,9.2,0.6,4.3,8.0,1.86,NaN
19,2007,30,CHC,NL,2,7,0.222,4.73,66,0,58,0,0,28,66.2,59,36,35,8,30,4,55,1,1,2,282,98,4.55,1.335,8.0,1.1,4.1,7.4,1.83,NaN
20,2008,31,CHC,NL,17,6,0.739,2.96,33,33,0,1,0,0,206.2,174,75,68,14,76,1,187,7,0,5,856,154,3.41,1.210,7.6,0.6,3.3,8.1,2.46,"AS,CYA-6"
21,2009,32,CHC,NL,11,9,0.550,3.65,31,31,0,1,1,0,200.0,196,94,81,22,65,4,172,6,0,11,842,122,3.87,1.305,8.8,1.0,2.9,7.7,2.65,NaN
22,2010,33,CHC,NL,15,12,0.556,3.85,34,34,0,1,0,0,215.1,198,110,92,25,86,4,208,10,0,6,918,110,3.99,1.319,8.3,1.0,3.6,8.7,2.42,NaN
23,2011,34,CHC,NL,10,14,0.417,4.80,34,34,0,0,0,0,202.1,211,111,108,23,82,2,191,5,0,7,881,81,3.90,1.448,9.4,1.0,3.6,8.5,2.33,NaN
25,2012,35,CHC,NL,5,5,0.500,2.25,16,16,0,0,0,0,104.0,81,28,26,9,27,0,83,1,1,0,417,182,3.43,1.038,7.0,0.8,2.3,7.2,3.07,NaN
26,2012,35,TEX,AL,7,3,0.700,5.09,12,12,0,0,0,0,69.0,74,43,39,10,25,0,70,1,0,2,300,86,4.08,1.435,9.7,1.3,3.3,9.1,2.80,NaN
27,2013,36,BOS,AL,8,9,0.471,4.57,32,29,1,0,0,0,171.1,170,97,87,26,79,1,157,6,1,9,754,90,4.68,1.453,8.9,1.4,4.1,8.2,1.99,NaN

In [ ]:
aaron.splits("lever", year=1962, split_type='b')

In [ ]:
aaron.game_logs(1962)

In [ ]:
aaron.vs()

In [7]:
ruth = Player("Babe Ruth")

I'm 100% sure that you want Babe Ruth

In [8]:
ruth.vs()

,Name,PA,AB,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,SH,SF,IBB,HBP,GDP,missG,name
0,George Uhle,194,155,58,8,1,10,26,39,31,0.374,0.500,0.632,1.132,0,0,6,0,2,4.0,Babe Ruth
1,Red Faber,184,148,41,8,1,8,32,35,29,0.277,0.418,0.507,0.925,0,0,8,1,2,12.0,Babe Ruth
2,Rube Walberg,165,129,36,3,0,16,38,31,15,0.279,0.406,0.674,1.080,0,5,0,0,1,3.0,Babe Ruth
3,Ted Lyons,164,135,44,6,2,9,33,26,17,0.326,0.432,0.600,1.032,2,1,2,0,5,5.0,Babe Ruth
4,Earl Whitehill,160,129,35,4,2,9,22,30,26,0.271,0.413,0.543,0.955,0,0,0,1,4,12.0,Babe Ruth
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,Vern Underhill,1,0,0,0,0,0,0,1,0,NaN,1.000,NaN,NaN,0,0,0,0,0,NaN,Babe Ruth
427,Jim Walkup,1,1,1,0,0,0,2,0,0,1.000,1.000,1.000,2.000,0,0,0,0,0,NaN,Babe Ruth
428,Frank Wayenberg,1,1,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0,0,0,0,0,NaN,Babe Ruth
429,Ralph Winegarner,1,1,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0,0,0,0,0,NaN,Babe Ruth
430,Hoge Workman,1,1,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0,0,0,0,0,1.0,Babe Ruth

In [ ]:
maddux = Player("Maddux")

In [ ]:
maddux.vs('pitcher')

In [ ]:
# test prep

# some batters
babe_ruth = Player("Babe Ruth")
junior = Player("Ken Griffy Jr.")
jiman = Player("jiman choi")

batters = [babe_ruth, junior, jiman]

# some pitcher
cy_young = Player("Cy Young")
maddux = Player("Greg Maddux")
cole = Player("Gerrit Cole")

pitchers = [cy_young, maddux, cole]

# TEST players overviews

In [ ]:
%%time
for player in batters + pitchers:
    print(player)
    print("#" * 30)
    for table in ["pitching_standard", "pitching_value", "batting_standard",
                             "standard_fielding", "appearances",
                            "batting_postseason", "pitching_postseason"]:
        print(player.name, table)
        try:
            display(player.overview(table).shape)
        except Exception as e:
            print(e)

# Test player game logs

In [ ]:
maddux.game_logs(2004,"f")

In [ ]:
%%time
for player in [babe_ruth]:
    for log_type in ["p","b","f"]:
        for year in player.years_active:
            print("trying", player.name, year, log_type)
            try:
                display(player.game_logs(log_type=log_type, year=year).shape)
            except Exception as e:
                print(e)

# TEST player splits

In [ ]:
%%time
for player in [jiman]:
    for table in ['total', 'plato', 'hmvis', 'half', 'month', f'outcb',
                              'stsub', 'defp', 'leado', 'lineu', 'count', 'outs',
                              'bases', 'clutc', 'lever', 'innng', 'times', 'power',
                              'gbfb', 'hitlo', 'traj', "site", "stad", "oppon"]:
        print(table)
        display(player.splits(split_type="b", table=table))

In [ ]:
%%time
for player in [jiman]:
    for table in ['total', 'plato', 'hmvis', 'half', 'month', f'outcb',
                              'stsub', 'defp', 'leado', 'lineu', 'count', 'outs',
                              'bases', 'clutc', 'lever', 'innng', 'times', 'power',
                              'gbfb', 'hitlo', 'traj', "site", "stad", "oppon"]:
        print(table)
        display(player.splits(split_type="b", table=table))

In [ ]:
%%time
for player in [cole]:
    for table in ['total','total_extra','plato','hmvis','hmvis_extra','half',
                  'half_extra','month','month_extra','outco','outco_extra',
                  'sprel','sprel_extra','rs','rs_extra','lineu','tkswg',
                  'count','leado','defpo','outs','bases','clutc','lever',
                  'innng','times','pitco','dr','dr_extra','hitlo','traj',
                  'oppon','oppon_extra','stad','stad_extra','site','site_extra','catch','ump','ump_extra']:
        print(table)
        display(player.splits(split_type="p", table_type=table))

In [ ]:
cole.splits("plato")

In [ ]:
cole.splits("ump").sort_values("G",ascending=False).head(30)

In [ ]:
glasnow = Player("tyler glasnow")

In [ ]:
glasnow_ump_df = glasnow.splits('ump')

In [ ]:
glasnow_ump_df.sort_values("SO/W", ascending=False)

In [ ]:
df = glasnow.overview().sum()
df.P / df.G

In [ ]:
archer = Player("chris arch")

In [ ]:
archer.overview("pitching_standard")

In [ ]:
archer.game_logs(2019).columns

In [ ]:
archer.game_logs(2019).set_index("Rk").SO.rolling(3).mean().plot()

In [ ]:
Player("Zack greinke").game_logs(2019).set_index("Rk").SO.rolling(3).mean().plot()