In [1]:
from py_bref.players import Player
from py_bref.bref_util import get_player_info

In [2]:
import pandas as pd
pd.set_option("display.max_columns", 50)

## things to test

for players:

* player `__repr__` representation
* for batters players
    * test overview pages
        * apperances
        * batting_standard
        * batting_value
        * batting_postseason
        * standard_fielding

    * test splits pages
        * total
    * test game logs
        * game_log
* for pitchers
    * test overview page
        * apperances
        * standard_pitching
        * pitching_value
        * pitching_postseason
        * standard_fielding
    * test splits pages
        * total

In [3]:
Player("hank aaron").vs_pitcher()

I'm 100% sure that you want Hank Aaron

,Name,PA,AB,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,SH,SF,IBB,HBP,GDP,missG,name
0,Don Drysdale,249,221,59,14,2,17,41,27,47,.267,.345,.579,.925,0,1,4,0,3,NaN,Hank Aaron
1,Larry Jackson,198,179,65,9,0,9,28,18,16,.363,.419,.564,.983,0,1,3,0,4,1,Hank Aaron
2,Bob Friend,180,177,61,7,2,12,30,2,17,.345,.350,.610,.960,0,1,1,0,4,8,Hank Aaron
3,Bob Gibson,180,163,35,8,1,8,26,15,32,.215,.278,.423,.701,0,2,2,0,3,NaN,Hank Aaron
4,Juan Marichal,161,146,42,3,0,8,20,13,23,.288,.348,.473,.820,0,1,1,1,3,NaN,Hank Aaron
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758,Fred Wenz,1,0,0,0,0,0,0,1,0,NaN,1.000,NaN,NaN,0,0,0,0,0,NaN,Hank Aaron
759,Dave Wickersham,1,1,0,0,0,0,0,0,1,.000,.000,.000,.000,0,0,0,0,0,1,Hank Aaron
760,Ted Wieand,1,1,0,0,0,0,0,0,0,.000,.000,.000,.000,0,0,0,0,0,NaN,Hank Aaron
761,Milt Wilcox,1,1,0,0,0,0,0,0,0,.000,.000,.000,.000,0,0,0,0,1,NaN,Hank Aaron
762,Floyd Wooldridge,1,1,1,0,0,0,1,0,0,1.000,1.000,1.000,2.000,0,0,0,0,0,NaN,Hank Aaron

In [3]:
# test prep

# some batters
babe_ruth = Player("Babe Ruth")
junior = Player("Ken Griffy Jr.")
jiman = Player("jiman choi")

batters = [babe_ruth, junior, jiman]

# some pitcher
cy_young = Player("Cy Young")
maddux = Player("Greg Maddux")
cole = Player("Gerrit Cole")

pitchers = [cy_young, maddux, cole]

I'm 100% sure that you want Babe Ruth
I'm 96% sure that you want Ken Griffey Jr.
I'm 95% sure that you want Ji-Man Choi
I'm 100% sure that you want Cy Young
I'm 100% sure that you want Greg Maddux
I'm 100% sure that you want Gerrit Cole

# TEST players overviews

In [4]:
%%time
for player in batters + pitchers:
    print(player)
    print("#" * 30)
    for table in ["pitching_standard", "pitching_value", "batting_standard",
                             "standard_fielding", "appearances",
                            "batting_postseason", "pitching_postseason"]:
        print(player.name, table)
        try:
            display(player.overview(table).shape)
        except Exception as e:
            print(e)

< Babe Ruth, 1914 - 1935, not active >
##############################
Babe Ruth pitching_standard

(10, 35)

Babe Ruth pitching_value

(10, 24)

Babe Ruth batting_standard

(22, 30)

Babe Ruth standard_fielding

(77, 27)

Babe Ruth appearances

(22, 21)

Babe Ruth batting_postseason

(10, 31)

Babe Ruth pitching_postseason

(2, 36)

< Ken Griffey Jr., 1989 - 2010, not active >
##############################
Ken Griffey Jr. pitching_standard
error getting pitching_standard for key Ken Griffey Jr.. probably because the table doesn't exist on the page.
Ken Griffey Jr. pitching_value
error getting pitching_value for key Ken Griffey Jr.. probably because the table doesn't exist on the page.
Ken Griffey Jr. batting_standard

(23, 30)

Ken Griffey Jr. standard_fielding

(75, 25)

Ken Griffey Jr. appearances

(23, 21)

Ken Griffey Jr. batting_postseason

(4, 31)

Ken Griffey Jr. pitching_postseason
error getting pitching_postseason for key Ken Griffey Jr.. probably because the table doesn't exist on the page.
< Ji-Man Choi, 2016 - 2019, active >
##############################
Ji-Man Choi pitching_standard
error getting pitching_standard for key Ji-Man Choi. probably because the table doesn't exist on the page.
Ji-Man Choi pitching_value
error getting pitching_value for key Ji-Man Choi. probably because the table doesn't exist on the page.
Ji-Man Choi batting_standard

(5, 30)

Ji-Man Choi standard_fielding

(13, 25)

Ji-Man Choi appearances

(5, 21)

Ji-Man Choi batting_postseason

(2, 31)

Ji-Man Choi pitching_postseason
error getting pitching_postseason for key Ji-Man Choi. probably because the table doesn't exist on the page.
< Cy Young, 1890 - 1911, not active >
##############################
Cy Young pitching_standard

(23, 35)

Cy Young pitching_value

(23, 24)

Cy Young batting_standard

(23, 30)

Cy Young standard_fielding

(25, 21)

Cy Young appearances

(23, 21)

Cy Young batting_postseason

(2, 31)

Cy Young pitching_postseason

(2, 36)

< Greg Maddux, 1986 - 2008, not active >
##############################
Greg Maddux pitching_standard

(25, 35)

Greg Maddux pitching_value

(25, 24)

Greg Maddux batting_standard

(25, 30)

Greg Maddux standard_fielding

(25, 28)

Greg Maddux appearances

(25, 21)

Greg Maddux batting_postseason

(23, 31)

Greg Maddux pitching_postseason

(23, 36)

< Gerrit Cole, 2013 - 2019, active >
##############################
Gerrit Cole pitching_standard

(7, 35)

Gerrit Cole pitching_value

(7, 24)

Gerrit Cole batting_standard

(7, 30)

Gerrit Cole standard_fielding

(7, 28)

Gerrit Cole appearances

(7, 21)

Gerrit Cole batting_postseason

(7, 31)

Gerrit Cole pitching_postseason

(8, 36)

CPU times: user 1.89 s, sys: 60.3 ms, total: 1.95 s
Wall time: 15.8 s

# Test player game logs

In [7]:
maddux.game_logs(2004,"f")

https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Dmaddugr01%26t%3Df%26year%3D2004&div=div__0

,Rk,Gtm,Date,Tm,H/A,Opp,Rslt,Inngs,BF,Inn,PO,A,E,Ch,DP,Pos,year
0,1,2 (1),Apr 7,CHC,A,CIN,"L,1-3",GS,25,6.0,0,0,0,0,0,P,2004
1,2,7 (4),Apr 12,CHC,H,PIT,"L,2-13",GS,24,3.2,0,0,0,0,0,P,2004
2,3,12 (4),Apr 18,CHC,H,CIN,"L,10-11",GS,29,6.0,0,0,0,0,0,P,2004
3,4,16 (3),Apr 23,CHC,H,NYM,"W,3-1",GS,28,7.0,0,2,0,2,1,P,2004
4,5,21 (4),Apr 28,CHC,A,ARI,"W,4-3",GS,25,6.0,1,4,0,5,0,P,2004
6,6,25 (3),May 3,CHC,A,STL,"W,7-3",GS,29,7.0,1,3,0,4,0,P,2004
7,7,30 (4),May 8,CHC,H,COL,"L,3-4",GS,28,7.0,0,1,0,1,0,P,2004
8,8,35 (4),May 14,CHC,A,SDP,"W,6-1",GS,28,8.0,0,3,0,3,0,P,2004
9,9,40 (4),May 20,CHC,H,SFG,"L,3-5",GS,31,7.0,1,2,0,3,0,P,2004
10,10,45 (4),May 26,CHC,A,HOU,"L,3-7",GS,24,5.0,1,2,0,3,0,P,2004
11,11,50 (4),May 31,CHC,H,HOU,"W,3-1",GS,28,6.2,0,1,0,1,0,P,2004
13,12,55 (4),Jun 6,CHC,H,PIT,"W,4-1",GS,24,7.0,1,1,0,2,0,P,2004
14,13,60 (4),Jun 11,CHC,A,ANA,"L,2-3",GS,26,7.0,1,0,0,1,0,P,2004
15,14,65 (4),Jun 16,CHC,A,HOU,"W,4-1",GS,26,6.1,1,3,0,4,0,P,2004
16,15,70 (4),Jun 22,CHC,A,STL,"W,5-4",GS,28,6.2,1,2,0,3,0,P,2004
17,16,75 (4),Jun 27,CHC,A,CHW,"L,4-9",GS,25,4.0,1,1,0,2,0,P,2004
19,17,80 (4),Jul 3,CHC,H,CHW,"W,4-2",GS,22,5.1,1,1,0,2,0,P,2004
20,18,85 (4),Jul 9,CHC,A,STL,"L,1-6",GS,25,6.0,0,1,0,1,0,P,2004
21,19,90 (4),Jul 17,CHC,H,MIL,"W,5-0",CG,30,9.0,0,2,0,2,1,P,2004
22,20,95 (4),Jul 22,CHC,H,CIN,"W,13-2",CG,29,9.0,1,3,0,4,0,P,2004
23,21,100 (4),Jul 27,CHC,A,MIL,"W,7-1",GS,23,6.0,1,2,0,3,0,P,2004
25,22,105 (4),Aug 1,CHC,H,PHI,"W,6-3",GS,25,6.0,0,0,0,0,0,P,2004
26,23,110 (4),Aug 7,CHC,A,SFG,"W,8-4",GS,24,5.0,0,1,0,1,0,P,2004
27,24,115 (4),Aug 13,CHC,H,LAD,"L,1-8",GS,28,6.1,2,3,0,5,0,P,2004
28,25,120 (4),Aug 19,CHC,A,MIL,"W,9-6",GS,27,7.0,0,1,1,2,0,P,2004
29,26,126 (5),Aug 25,CHC,H,MIL,"W,4-2",GS,28,8.0,0,2,0,2,0,P,2004
30,27,131 (4),Aug 30,CHC,A,MON,"W,5-2",GS,26,7.0,2,2,0,4,0,P,2004
32,28,136 (4),Sep 8,CHC,H,MON,"L,0-6",GS,30,7.2,2,4,0,6,0,P,2004
33,29,141 (4),Sep 13,CHC,H,PIT,"W,7-2",GS,27,7.0,0,2,0,2,0,P,2004
34,30,146 (4),Sep 18,CHC,A,CIN,"L,5-6",GS,26,6.0,1,1,0,2,0,P,2004
35,31,152 (5),Sep 23,CHC,A,PIT,"W,6-3",GS,24,6.0,1,2,0,3,1,P,2004
36,32,157 (4),Sep 28,CHC,H,CIN,"L,3-8",GS,25,5.0,0,0,0,0,0,P,2004
37,33,162 (4),Oct 3,CHC,H,ATL,"W,10-8",GS,25,6.0,1,3,0,4,0,P,2004

In [8]:
%%time
for player in [babe_ruth]:
    for log_type in ["p","b","f"]:
        for year in player.years_active:
            print("trying", player.name, year, log_type)
            try:
                display(player.game_logs(log_type=log_type, year=year).shape)
            except Exception as e:
                print(e)

trying Babe Ruth 1914 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1914&div=div_pitching_gamelogs

(4, 33)

trying Babe Ruth 1915 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1915&div=div_pitching_gamelogs

(32, 33)

trying Babe Ruth 1916 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1916&div=div_pitching_gamelogs

(44, 33)

trying Babe Ruth 1917 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1917&div=div_pitching_gamelogs

(41, 33)

trying Babe Ruth 1918 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1918&div=div_pitching_gamelogs

(20, 33)

trying Babe Ruth 1919 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1919&div=div_pitching_gamelogs

(17, 33)

trying Babe Ruth 1920 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1920&div=div_pitching_gamelogs

(1, 33)

trying Babe Ruth 1921 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1921&div=div_pitching_gamelogs

(2, 33)

trying Babe Ruth 1922 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1922&div=div_pitching_gamelogs
html5lib not found, please install it
trying Babe Ruth 1923 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1923&div=div_pitching_gamelogs
html5lib not found, please install it
trying Babe Ruth 1924 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1924&div=div_pitching_gamelogs
html5lib not found, please install it
trying Babe Ruth 1925 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1925&div=div_pitching_gamelogs
html5lib not found, please install it
trying Babe Ruth 1926 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1926&div=div_pitching_gamelogs
html5lib not found, please install it
trying Babe Ruth 1927 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1927&div=div_pitching_gamelogs
html5lib not found, please install it
trying Babe Ruth 1928 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1928&div=div_pitching_gamelogs
html5lib not found, please install it
trying Babe Ruth 1929 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1929&div=div_pitching_gamelogs
html5lib not found, please install it
trying Babe Ruth 1930 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1930&div=div_pitching_gamelogs

(1, 45)

trying Babe Ruth 1931 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1931&div=div_pitching_gamelogs
html5lib not found, please install it
trying Babe Ruth 1932 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1932&div=div_pitching_gamelogs
html5lib not found, please install it
trying Babe Ruth 1933 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1933&div=div_pitching_gamelogs

(1, 45)

trying Babe Ruth 1934 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1934&div=div_pitching_gamelogs
html5lib not found, please install it
trying Babe Ruth 1935 p
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Dp%26year%3D1935&div=div_pitching_gamelogs
html5lib not found, please install it
trying Babe Ruth 1914 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1914&div=div_batting_gamelogs

(5, 34)

trying Babe Ruth 1915 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1915&div=div_batting_gamelogs

(42, 34)

trying Babe Ruth 1916 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1916&div=div_batting_gamelogs

(68, 34)

trying Babe Ruth 1917 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1917&div=div_batting_gamelogs

(52, 34)

trying Babe Ruth 1918 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1918&div=div_batting_gamelogs

(95, 34)

trying Babe Ruth 1919 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1919&div=div_batting_gamelogs

(130, 34)

trying Babe Ruth 1920 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1920&div=div_batting_gamelogs

(142, 34)

trying Babe Ruth 1921 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1921&div=div_batting_gamelogs

(152, 34)

trying Babe Ruth 1922 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1922&div=div_batting_gamelogs

(110, 34)

trying Babe Ruth 1923 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1923&div=div_batting_gamelogs

(152, 34)

trying Babe Ruth 1924 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1924&div=div_batting_gamelogs

(153, 37)

trying Babe Ruth 1925 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1925&div=div_batting_gamelogs

(98, 37)

trying Babe Ruth 1926 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1926&div=div_batting_gamelogs

(152, 37)

trying Babe Ruth 1927 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1927&div=div_batting_gamelogs

(151, 37)

trying Babe Ruth 1928 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1928&div=div_batting_gamelogs

(154, 37)

trying Babe Ruth 1929 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1929&div=div_batting_gamelogs

(135, 37)

trying Babe Ruth 1930 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1930&div=div_batting_gamelogs

(145, 37)

trying Babe Ruth 1931 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1931&div=div_batting_gamelogs

(145, 37)

trying Babe Ruth 1932 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1932&div=div_batting_gamelogs

(133, 37)

trying Babe Ruth 1933 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1933&div=div_batting_gamelogs

(137, 37)

trying Babe Ruth 1934 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1934&div=div_batting_gamelogs

(125, 37)

trying Babe Ruth 1935 b
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Db%26year%3D1935&div=div_batting_gamelogs

(28, 37)

trying Babe Ruth 1914 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1914&div=div__0

(4, 17)

trying Babe Ruth 1915 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1915&div=div__0

(32, 17)

trying Babe Ruth 1916 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1916&div=div__0

(44, 17)

trying Babe Ruth 1917 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1917&div=div__0

(41, 17)

trying Babe Ruth 1918 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1918&div=div__0

(91, 17)

trying Babe Ruth 1919 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1919&div=div__0

(129, 17)

trying Babe Ruth 1920 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1920&div=div__0

(141, 17)

trying Babe Ruth 1921 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1921&div=div__0

(152, 17)

trying Babe Ruth 1922 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1922&div=div__0

(110, 17)

trying Babe Ruth 1923 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1923&div=div__0

(152, 17)

trying Babe Ruth 1924 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1924&div=div__0

(152, 17)

trying Babe Ruth 1925 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1925&div=div__0

(98, 17)

trying Babe Ruth 1926 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1926&div=div__0

(149, 17)

trying Babe Ruth 1927 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1927&div=div__0

(150, 17)

trying Babe Ruth 1928 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1928&div=div__0

(154, 17)

trying Babe Ruth 1929 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1929&div=div__0

(132, 17)

trying Babe Ruth 1930 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1930&div=div__0

(145, 17)

trying Babe Ruth 1931 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1931&div=div__0

(143, 17)

trying Babe Ruth 1932 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1932&div=div__0

(129, 17)

trying Babe Ruth 1933 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1933&div=div__0

(132, 17)

trying Babe Ruth 1934 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1934&div=div__0

(110, 17)

trying Babe Ruth 1935 f
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fgl.fcgi%3Fid%3Druthba01%26t%3Df%26year%3D1935&div=div__0

(26, 17)

CPU times: user 4.95 s, sys: 135 ms, total: 5.08 s
Wall time: 1min 25s

# TEST player splits

In [9]:
%%time
for player in [jiman]:
    for table in ['total', 'plato', 'hmvis', 'half', 'month', f'outcb',
                              'stsub', 'defp', 'leado', 'lineu', 'count', 'outs',
                              'bases', 'clutc', 'lever', 'innng', 'times', 'power',
                              'gbfb', 'hitlo', 'traj', "site", "stad", "oppon"]:
        print(table)
        display(player.splits(split_type="b", table_type=table))

total

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Career Totals,248,194,855,727,90,180,39,3,36,112,6,7,108,195,0.248,0.347,0.458,0.805,333,11,9,0,11,4,3,0.284,100,career
1,Last 7 days,4,4,15,14,4,6,2,0,3,5,0,0,1,2,0.429,0.467,1.214,1.681,17,0,0,0,0,0,0,0.333,300,career
2,Last 14 days,9,9,39,35,6,10,3,0,4,9,0,0,3,15,0.286,0.333,0.714,1.048,25,0,0,0,1,0,0,0.353,152,career
3,Last 28 days,21,18,81,64,10,16,4,1,6,14,0,0,15,24,0.250,0.383,0.625,1.008,40,2,0,0,2,0,0,0.278,147,career
4,Last 365days,127,106,487,410,54,107,20,2,19,63,2,3,64,108,0.261,0.363,0.459,0.822,188,7,6,0,7,2,2,0.303,105,career

plato

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,vs RHP,235,NaN,730,619,78.0,160,36,3,33,103,6,6,94,164,0.258,0.358,0.486,0.844,301,10,7,0,10,4,3,0.294,109,career
1,vs LHP,82,NaN,125,108,12.0,20,3,0,3,9,0,1,14,31,0.185,0.288,0.296,0.584,32,1,2,0,1,0,0,0.227,48,career
2,vs RHP as LHB,235,NaN,730,619,NaN,160,36,3,33,103,0,0,94,164,0.258,0.358,0.486,0.844,301,10,7,0,10,4,3,0.294,109,career
3,vs LHP as LHB,82,NaN,125,108,NaN,20,3,0,3,9,0,0,14,31,0.185,0.288,0.296,0.584,32,1,2,0,1,0,0,0.227,48,career
4,vs RH Starter,201,181.0,760,653,77.0,158,35,3,31,96,6,6,90,175,0.242,0.336,0.447,0.783,292,10,7,0,10,3,3,0.278,94,career
5,vs LH Starter,47,13.0,95,74,13.0,22,4,0,5,16,0,1,18,20,0.297,0.442,0.554,0.996,41,1,2,0,1,1,0,0.340,148,career

hmvis

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Home,129,101,437,374,44,88,12,3,18,56,5,5,53,103,0.235,0.336,0.428,0.764,160,4,6,0,4,3,1,0.272,90,career
1,Away,119,93,418,353,46,92,27,0,18,56,1,2,55,92,0.261,0.359,0.490,0.849,173,7,3,0,7,1,2,0.296,110,career

half

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,1st Half,105,83,367,317,34,77,13,1,13,42,1,4,42,86,0.243,0.335,0.413,0.748,131,6,4,0,4,1,2,0.288,87,career
1,2nd Half,143,111,488,410,56,103,26,2,23,70,5,3,66,109,0.251,0.357,0.493,0.849,202,5,5,0,7,3,1,0.281,111,career

month

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,April/March,30,23,98,80,11,22,7,1,1,8,1,3,15,19,0.275,0.398,0.425,0.823,34,0,2,0,1,0,2,0.344,107,career
1,May,35,28,129,116,9,25,3,0,5,13,0,1,11,35,0.216,0.279,0.371,0.650,43,3,0,0,2,1,0,0.256,61,career
2,June,29,22,100,86,11,22,1,0,5,15,0,0,11,22,0.256,0.350,0.442,0.792,38,2,2,0,1,0,0,0.283,97,career
3,July,48,39,162,144,16,36,9,0,6,20,2,0,16,37,0.250,0.321,0.438,0.758,63,2,0,0,2,1,1,0.291,88,career
4,August,53,44,194,162,21,40,10,1,8,27,2,2,27,39,0.247,0.361,0.469,0.830,76,2,3,0,2,2,0,0.274,106,career
5,Sept/Oct,53,38,172,139,22,35,9,1,11,29,1,1,28,43,0.252,0.378,0.568,0.946,79,2,2,0,3,0,0,0.273,133,career

outcb

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,in Wins,139,111,511,441,64,137,33,2,21,78,5,3,57,111,0.311,0.389,0.537,0.927,237,7,5,0,8,4,2,0.366,129,career
1,in Losses,109,83,344,286,26,43,6,1,15,34,1,4,51,84,0.150,0.285,0.336,0.621,96,4,4,0,3,0,1,0.147,55,career

stsub

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,as Starter,194,194,797,682,83,167,37,3,33,98,5,7,96,178,0.245,0.340,0.453,0.793,309,10,8,0,11,2,3,0.278,97,career
1,as Sub,54,0,58,45,7,13,2,0,3,14,1,0,12,17,0.289,0.448,0.533,0.982,24,1,1,0,0,2,0,0.400,145,career

defp

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,as 1B,129.0,NaN,493.0,420.0,55.0,113.0,22.0,2.0,21.0,64.0,2,5,60.0,101.0,0.269,0.359,0.481,0.840,202.0,10.0,4.0,0.0,9.0,1.0,3.0,0.300,108.0,career
1,as LF,17.0,NaN,52.0,44.0,4.0,8.0,2.0,0.0,3.0,9.0,0,2,8.0,7.0,0.182,0.308,0.432,0.740,19.0,1.0,0.0,0.0,0.0,0.0,0.0,0.147,83.0,career
2,as DH,68.0,NaN,270.0,234.0,27.0,53.0,13.0,1.0,11.0,33.0,3,0,30.0,75.0,0.226,0.322,0.432,0.754,101.0,0.0,4.0,0.0,2.0,1.0,0.0,0.280,87.0,career
3,as PH,42.0,NaN,42.0,31.0,4.0,6.0,2.0,0.0,1.0,6.0,0,0,10.0,13.0,0.194,0.405,0.355,0.760,11.0,0.0,1.0,0.0,0.0,2.0,0.0,0.294,94.0,career
4,as PH for DH,2.0,NaN,2.0,2.0,NaN,0.0,0.0,0.0,0.0,0.0,0,0,0.0,1.0,0.000,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,-100.0,career
5,as PR,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,career

leado

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,1st Batter G,10,NaN,10,9,NaN,2,2,0,0,0,NaN,NaN,1,2,0.222,0.300,0.444,0.744,4,0,0,0,0,0,0,0.286,83,career
1,Leadoff Inn.,138,NaN,180,157,NaN,42,11,1,10,10,NaN,NaN,23,43,0.268,0.361,0.541,0.903,85,0,0,0,0,0,1,0.308,122,career

lineu

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Batting 1st,12,10,49,42,7,10,3,0,1,4,0,0,7,12,0.238,0.347,0.381,0.728,16,1,0,0,0,0,0,0.310,83,career
1,Batting 2nd,4,1,6,6,2,2,1,0,1,2,1,0,0,3,0.333,0.333,1.000,1.333,6,0,0,0,0,0,0,0.500,214,career
2,Batting 3rd,65,65,284,245,29,61,13,2,10,33,2,2,32,56,0.249,0.342,0.441,0.782,108,3,4,0,3,0,2,0.280,95,career
3,Batting 4th,37,30,126,102,15,26,6,0,4,16,1,0,18,34,0.255,0.373,0.431,0.804,44,1,3,0,3,0,0,0.328,102,career
4,Batting 5th,43,38,165,146,24,45,9,1,13,33,1,1,16,35,0.308,0.370,0.651,1.020,95,2,0,0,3,0,0,0.317,149,career
5,Batting 6th,28,21,88,71,3,9,1,0,3,7,0,1,16,25,0.127,0.284,0.268,0.552,19,2,0,0,1,2,0,0.136,40,career
6,Batting 7th,21,18,70,62,6,13,4,0,3,7,1,1,7,14,0.210,0.300,0.419,0.719,26,1,1,0,0,0,1,0.222,78,career
7,Batting 8th,18,4,30,24,1,5,1,0,0,3,0,0,4,8,0.208,0.333,0.250,0.583,6,1,1,0,1,0,0,0.294,51,career
8,Batting 9th,20,7,37,29,3,9,1,0,1,7,0,2,8,8,0.310,0.459,0.448,0.908,13,0,0,0,0,2,0,0.400,130,career

count

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,First Pitch,64,NaN,70,69,11.0,28,4,0,5,16,1.0,3.0,0,0,0.406,0.400,0.681,1.081,47,1,0,0,1,0,0,0.354,164,career
1,1-0 Count,48,NaN,54,53,12.0,13,2,0,3,8,1.0,0.0,0,0,0.245,0.241,0.453,0.694,24,1,0,0,1,0,0,0.196,68,career
2,2-0 Count,18,NaN,20,19,4.0,7,1,0,3,10,0.0,0.0,0,0,0.368,0.350,0.895,1.245,17,0,0,0,1,0,0,0.235,196,career
3,3-0 Count,17,NaN,17,1,NaN,1,1,0,0,0,0.0,0.0,16,0,1.000,1.000,2.000,3.000,2,0,0,0,0,3,0,1.000,625,career
4,0-1 Count,52,NaN,61,56,10.0,13,4,0,3,11,0.0,0.0,0,0,0.232,0.262,0.464,0.727,26,2,3,0,2,0,0,0.182,77,career
5,1-1 Count,65,NaN,73,70,8.0,29,5,2,1,9,0.0,0.0,0,0,0.414,0.425,0.586,1.010,41,2,2,0,1,0,0,0.400,150,career
6,2-1 Count,42,NaN,43,42,8.0,17,5,0,4,9,1.0,0.0,0,0,0.405,0.395,0.810,1.205,34,0,0,0,1,0,0,0.333,191,career
7,3-1 Count,40,NaN,48,19,5.0,6,1,0,4,7,0.0,0.0,29,0,0.316,0.729,1.000,1.729,19,1,0,0,0,1,0,0.133,328,career
8,0-2 Count,52,NaN,56,53,5.0,6,1,0,1,6,0.0,2.0,0,27,0.113,0.143,0.189,0.332,10,1,2,0,1,0,1,0.192,-18,career
9,1-2 Count,93,NaN,112,109,7.0,18,3,1,2,8,1.0,0.0,0,61,0.165,0.179,0.266,0.445,29,0,2,0,1,0,0,0.340,10,career
10,2-2 Count,108,NaN,140,139,11.0,22,6,0,5,14,0.0,1.0,0,63,0.158,0.157,0.309,0.466,43,2,0,0,1,0,2,0.236,13,career
11,Full Count,117,NaN,161,97,9.0,20,6,0,5,14,2.0,1.0,63,44,0.206,0.516,0.423,0.938,41,1,0,0,1,0,0,0.306,141,career
12,After 1-0,190,NaN,365,285,NaN,71,15,2,15,49,NaN,NaN,72,65,0.249,0.400,0.474,0.874,135,4,3,0,5,3,0,0.267,119,career
13,After 2-0,107,NaN,126,79,NaN,23,8,0,6,20,NaN,NaN,45,21,0.291,0.540,0.620,1.160,49,0,0,0,2,3,0,0.315,191,career
14,After 3-0,36,NaN,39,13,NaN,3,2,0,0,2,NaN,NaN,26,5,0.231,0.744,0.385,1.128,5,0,0,0,0,3,0,0.375,198,career
15,After 0-1,207,NaN,420,373,NaN,81,20,1,16,47,NaN,NaN,36,130,0.217,0.293,0.405,0.698,151,6,6,0,5,1,3,0.280,73,career
16,After 1-1,190,NaN,378,319,NaN,77,15,2,14,36,NaN,NaN,54,105,0.241,0.354,0.433,0.787,138,4,3,0,2,1,1,0.312,97,career
17,After 2-1,149,NaN,219,158,NaN,38,11,0,11,23,NaN,NaN,59,45,0.241,0.443,0.519,0.962,82,2,0,0,2,1,0,0.260,141,career
18,After 3-1,78,NaN,97,45,NaN,9,3,0,4,9,NaN,NaN,51,12,0.200,0.619,0.533,1.152,24,2,0,0,1,1,0,0.167,195,career
19,After 0-2,127,NaN,166,151,NaN,26,6,1,5,21,NaN,NaN,9,69,0.172,0.229,0.325,0.553,49,3,3,0,3,0,2,0.263,37,career
20,After 1-2,166,NaN,263,236,NaN,43,9,1,9,27,NaN,NaN,23,118,0.182,0.259,0.343,0.602,81,2,2,0,2,0,2,0.306,50,career
21,After 2-2,162,NaN,252,210,NaN,39,10,0,10,26,NaN,NaN,41,95,0.186,0.317,0.376,0.694,79,2,0,0,1,0,2,0.274,73,career
22,Zero Balls,144,NaN,187,178,26.0,47,9,0,9,33,1.0,5.0,0,27,0.264,0.278,0.466,0.744,83,4,5,0,4,0,1,0.260,82,career
23,Zero Strikes,128,NaN,161,142,27.0,49,8,0,11,34,2.0,3.0,16,0,0.345,0.404,0.634,1.038,90,2,0,0,3,3,0,0.284,155,career
24,Three Balls,149,NaN,226,117,14.0,27,8,0,9,21,2.0,1.0,108,44,0.231,0.597,0.530,1.127,62,2,0,0,1,4,0,0.277,188,career
25,Two Strikes,214,NaN,469,398,32.0,66,16,1,13,42,3.0,4.0,63,195,0.166,0.284,0.309,0.593,123,4,4,0,4,0,3,0.273,49,career
26,Batter Ahead,193,NaN,343,231,38.0,64,16,0,19,48,4.0,1.0,108,44,0.277,0.501,0.593,1.095,137,3,0,0,4,4,0,0.262,174,career
27,Even Count,170,NaN,283,278,30.0,79,15,2,11,39,1.0,4.0,0,63,0.284,0.286,0.471,0.757,131,5,2,0,3,0,2,0.329,85,career
28,Pitcher Ahead,152,NaN,229,218,22.0,37,8,1,6,25,1.0,2.0,0,88,0.170,0.192,0.298,0.490,65,3,7,0,4,0,1,0.242,20,career

outs

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,0 outs,174,NaN,266,228,22,60,12,1,13,26,2,0,34,63,0.263,0.353,0.496,0.849,113,3,0,0,4,1,1,0.301,110,career
1,1 out,183,NaN,309,258,24,55,13,1,11,46,4,3,41,71,0.213,0.320,0.399,0.720,103,8,3,0,7,2,0,0.240,79,career
2,2 outs,181,NaN,280,241,44,65,14,1,12,40,0,4,33,61,0.270,0.371,0.485,0.857,117,0,6,0,0,1,2,0.315,113,career

bases

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,RISP,142,NaN,219,168,57.0,34,2,0,8,71,2,3,36,55,0.202,0.338,0.357,0.695,60,2,4,0,11,4,0,0.224,75.0,career
1,---,214,NaN,475,416,19.0,109,32,2,19,19,0,0,56,100,0.262,0.354,0.486,0.839,202,0,3,0,0,0,2,0.303,108.0,career
2,Men On,198,NaN,380,311,71.0,71,7,1,17,93,6,7,52,95,0.228,0.339,0.421,0.761,131,11,6,0,11,4,1,0.257,90.0,career
3,1--,131,NaN,161,143,14.0,37,5,1,9,22,4,4,16,40,0.259,0.342,0.497,0.838,71,9,2,0,0,0,1,0.298,107.0,career
4,-2-,56,NaN,60,49,16.0,9,0,0,3,10,0,0,11,11,0.184,0.333,0.367,0.701,18,0,0,0,0,1,0,0.171,76.0,career
5,--3,29,NaN,29,18,5.0,1,0,0,0,5,0,0,6,6,0.056,0.310,0.056,0.366,1,0,2,0,3,0,0,0.067,2.0,career
6,12-,51,NaN,50,42,16.0,7,1,0,1,9,2,1,8,15,0.167,0.300,0.262,0.562,11,0,0,0,0,0,0,0.231,44.0,career
7,1-3,34,NaN,24,21,6.0,8,0,0,1,13,0,2,1,8,0.381,0.417,0.524,0.940,11,1,1,0,1,0,0,0.538,135.0,career
8,-23,33,NaN,33,23,4.0,4,1,0,1,11,0,0,8,10,0.174,0.364,0.348,0.711,8,0,0,0,2,3,0,0.214,81.0,career
9,123,21,NaN,23,15,10.0,5,0,0,2,23,0,0,2,5,0.333,0.348,0.733,1.081,11,1,1,0,5,0,0,0.231,160.0,career
10,"on 1st, lt 2 out",120,NaN,156,134,18.0,34,5,0,6,38,6,3,15,42,0.254,0.321,0.425,0.746,57,11,1,0,6,0,0,0.304,85.0,career
11,"on 3rd, lt 2 out",63,NaN,68,42,13.0,11,1,0,2,36,0,1,15,14,0.262,0.382,0.429,0.811,18,2,0,0,11,3,0,0.243,104.0,career
12,"on 3rd, 2 out",38,NaN,41,35,12.0,7,0,0,2,16,0,1,2,15,0.200,0.317,0.371,0.689,13,0,4,0,0,0,0,0.278,72.0,career
13,"0 out, ---",142,NaN,187,164,10.0,45,11,1,10,10,0,0,23,44,0.274,0.364,0.537,0.900,88,0,0,0,0,0,1,0.318,122.0,career
14,"0 out, 1--",38,NaN,36,33,4.0,10,1,0,2,4,2,0,3,9,0.303,0.361,0.515,0.876,17,3,0,0,0,0,0,0.364,116.0,career
15,"0 out, -2-",10,NaN,11,9,4.0,1,0,0,1,2,0,0,2,1,0.111,0.273,0.444,0.717,4,0,0,0,0,0,0,0.000,76.0,career
16,"0 out, --3",2,NaN,2,0,NaN,0,0,0,0,1,0,0,1,0,NaN,0.500,NaN,NaN,0,0,0,0,1,0,0,0.000,NaN,career
17,"0 out, 12-",12,NaN,10,8,1.0,0,0,0,0,0,0,0,2,4,0.000,0.200,0.000,0.200,0,0,0,0,0,0,0,0.000,-42.0,career
18,"0 out, 1-3",11,NaN,9,8,1.0,3,0,0,0,5,0,0,1,3,0.375,0.444,0.375,0.819,3,0,0,0,0,0,0,0.600,110.0,career
19,"0 out, -23",9,NaN,9,6,NaN,1,0,0,0,2,0,0,2,2,0.167,0.333,0.167,0.500,1,0,0,0,1,1,0,0.200,32.0,career
20,"0 out, 123",2,NaN,2,0,2.0,0,0,0,0,2,0,0,0,0,NaN,0.000,NaN,NaN,0,0,0,0,2,0,0,0.000,NaN,career
21,"1 out, ---",126,NaN,160,137,5.0,29,8,1,5,5,0,0,21,33,0.212,0.325,0.394,0.719,54,0,2,0,0,0,0,0.242,80.0,career
22,"1 out, 1--",61,NaN,68,61,4.0,15,3,0,3,9,2,1,6,18,0.246,0.324,0.443,0.766,27,6,1,0,0,0,0,0.300,90.0,career
23,"1 out, -2-",22,NaN,21,19,3.0,2,0,0,1,3,0,0,2,6,0.105,0.190,0.263,0.454,5,0,0,0,0,0,0,0.083,12.0,career
24,"1 out, --3",15,NaN,15,9,2.0,1,0,0,0,4,0,0,4,3,0.111,0.333,0.111,0.444,1,0,0,0,2,0,0,0.125,20.0,career
25,"1 out, 12-",15,NaN,14,13,2.0,2,1,0,0,3,2,1,1,5,0.154,0.214,0.231,0.445,3,0,0,0,0,0,0,0.250,12.0,career
26,"1 out, 1-3",8,NaN,7,6,3.0,2,0,0,1,5,0,1,0,2,0.333,0.286,0.833,1.119,5,1,0,0,1,0,0,0.250,164.0,career
27,"1 out, -23",14,NaN,14,8,4.0,2,1,0,1,7,0,0,5,3,0.250,0.500,0.750,1.250,6,0,0,0,1,2,0,0.200,208.0,career
28,"1 out, 123",10,NaN,10,5,1.0,2,0,0,0,10,0,0,2,1,0.400,0.400,0.400,0.800,2,1,0,0,3,0,0,0.286,103.0,career
29,"2 out, ---",106,NaN,128,115,4.0,35,13,0,4,4,0,0,12,23,0.304,0.375,0.522,0.897,60,0,1,0,0,0,1,0.352,122.0,career
30,"2 out, 1--",54,NaN,57,49,6.0,12,1,1,4,9,0,3,7,13,0.245,0.351,0.551,0.902,27,0,1,0,0,0,1,0.250,121.0,career
31,"2 out, -2-",28,NaN,28,21,9.0,6,0,0,1,5,0,0,7,4,0.286,0.464,0.429,0.893,9,0,0,0,0,1,0,0.313,127.0,career
32,"2 out, --3",12,NaN,12,9,3.0,0,0,0,0,0,0,0,1,3,0.000,0.250,0.000,0.250,0,0,2,0,0,0,0,0.000,-28.0,career
33,"2 out, 12-",28,NaN,26,21,13.0,5,0,0,1,6,0,0,5,6,0.238,0.385,0.381,0.766,8,0,0,0,0,0,0,0.286,94.0,career
34,"2 out, 1-3",15,NaN,8,7,2.0,3,0,0,0,3,0,1,0,3,0.429,0.500,0.429,0.929,3,0,1,0,0,0,0,0.750,138.0,career
35,"2 out, -23",10,NaN,10,9,NaN,1,0,0,0,2,0,0,1,5,0.111,0.200,0.111,0.311,1,0,0,0,0,0,0,0.250,-18.0,career
36,"2 out, 123",10,NaN,11,10,7.0,3,0,0,2,11,0,0,0,4,0.300,0.364,0.900,1.264,9,0,1,0,0,0,0,0.250,201.0,career

clutc

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,"2 outs, RISP",81,NaN,95,77,34,18,0,0,4,27,0,1,14,25,0.234,0.379,0.390,0.769,30,0,4,0,0,1,0,0.292,94,career
1,Late & Close,109,NaN,136,116,12,29,6,1,7,24,0,2,18,40,0.250,0.353,0.500,0.853,58,2,1,0,1,2,0,0.314,111,career
2,Tie Game,147,NaN,237,197,28,55,15,0,8,25,2,3,37,52,0.279,0.397,0.477,0.874,94,3,2,0,1,1,0,0.341,119,career
3,Within 1 R,204,NaN,450,381,47,101,22,1,18,60,2,5,60,96,0.265,0.364,0.470,0.834,179,5,3,0,6,2,1,0.304,108,career
4,Within 2 R,218,NaN,590,500,59,132,31,1,24,78,5,7,76,130,0.264,0.363,0.474,0.837,237,6,6,0,8,3,2,0.305,108,career
5,Within 3 R,226,NaN,675,574,66,147,34,2,26,88,6,7,87,147,0.256,0.356,0.458,0.814,263,8,6,0,8,3,2,0.296,103,career
6,Within 4 R,230,NaN,751,638,75,157,36,3,30,98,6,7,96,167,0.246,0.346,0.453,0.799,289,10,7,0,10,4,3,0.282,99,career
7,Margin > 4 R,61,NaN,104,89,15,23,3,0,6,14,0,0,12,28,0.258,0.356,0.494,0.850,44,1,2,0,1,0,0,0.304,110,career
8,Ahead,146,NaN,352,305,27,75,16,2,9,43,4,4,36,77,0.246,0.324,0.400,0.724,122,6,3,0,8,3,1,0.291,81,career
9,Behind,133,NaN,266,225,35,50,8,1,19,44,0,0,35,66,0.222,0.335,0.520,0.855,117,2,4,0,2,0,2,0.218,110,career

lever

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,High Lvrge,116.0,NaN,157.0,125.0,29,27.0,3.0,0.0,7.0,41.0,1,2,25.0,41.0,0.216,0.350,0.408,0.758,51.0,4.0,3.0,0.0,4.0,1.0,0.0,0.247,90.0,career
1,Medium Lvrge,184.0,NaN,311.0,263.0,35,68.0,13.0,1.0,16.0,42.0,1,5,41.0,66.0,0.259,0.354,0.498,0.852,131.0,4.0,1.0,0.0,6.0,1.0,1.0,0.278,111.0,career
2,Low Lvrge,181.0,NaN,387.0,339.0,25,85.0,23.0,2.0,13.0,29.0,4,0,42.0,88.0,0.251,0.341,0.445,0.787,151.0,3.0,5.0,0.0,1.0,2.0,2.0,0.301,95.0,career
3,Unk Lvrge,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,career

innng

,Split,G,IP,ER,ERA,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,1st inning,110,NaN,NaN,NaN,NaN,110,99,8,24,9,0,1,11,1,1,8,24,0.242,0.300,0.364,0.664,36,2,1,0,2,0,0,0.303,66,career
1,2nd inning,88,NaN,NaN,NaN,NaN,88,75,13,22,4,0,6,11,1,1,12,17,0.293,0.398,0.587,0.984,44,1,1,0,0,0,0,0.308,143,career
2,3rd inning,81,NaN,NaN,NaN,NaN,81,65,8,9,1,0,2,10,0,1,12,22,0.138,0.272,0.246,0.518,16,0,1,0,3,0,1,0.159,32,career
3,4th inning,104,NaN,NaN,NaN,NaN,103,91,13,23,4,1,5,13,1,1,9,19,0.253,0.320,0.484,0.804,44,0,1,0,2,0,0,0.261,98,career
4,5th inning,83,NaN,NaN,NaN,NaN,83,68,9,16,3,0,5,13,0,0,10,12,0.235,0.337,0.500,0.837,34,1,2,0,3,0,0,0.204,106,career
5,6th inning,99,NaN,NaN,NaN,NaN,98,78,13,26,8,0,5,12,0,1,20,16,0.333,0.469,0.628,1.098,49,2,0,0,0,0,2,0.368,172,career
6,7th inning,102,NaN,NaN,NaN,NaN,100,86,13,25,5,1,6,18,0,1,12,21,0.291,0.390,0.581,0.971,50,1,2,0,0,2,0,0.322,139,career
7,8th inning,97,NaN,NaN,NaN,NaN,97,89,5,13,3,1,1,4,2,0,8,40,0.146,0.216,0.236,0.452,21,4,0,0,0,0,0,0.250,14,career
8,9th inning,76,NaN,NaN,NaN,NaN,77,63,6,18,1,0,4,17,1,1,13,19,0.286,0.416,0.492,0.908,31,0,1,0,0,2,0,0.350,127,career
9,Ext inning,14,NaN,NaN,NaN,NaN,18,13,2,4,1,0,1,3,0,0,4,5,0.308,0.444,0.615,1.060,8,0,0,0,1,0,0,0.375,162,career
10,Innings 1-3,194,NaN,NaN,NaN,NaN,279,239,29,55,14,0,9,32,2,3,32,63,0.230,0.323,0.402,0.724,96,3,3,0,5,0,1,0.267,81,career
11,Innings 4-6,198,NaN,NaN,NaN,NaN,284,237,35,65,15,1,15,38,1,2,39,47,0.274,0.377,0.536,0.913,127,3,3,0,5,0,2,0.278,126,career
12,Innings 7-9,217,NaN,NaN,NaN,NaN,274,238,24,56,9,2,11,39,3,2,33,80,0.235,0.336,0.429,0.764,102,5,3,0,0,4,0,0.306,90,career

times

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,vs. SP,196,NaN,500,431,50.0,114,30,2,20,53,3,6,55,96,0.265,0.350,0.483,0.833,208,4,6,0,8,0,3,0.291,106,career
1,vs. RP,212,NaN,355,296,40.0,66,9,1,16,59,3,1,53,99,0.223,0.344,0.422,0.766,125,7,3,0,3,4,0,0.272,91,career
2,"vs. SP, 1st",196,NaN,196,174,NaN,45,13,0,6,17,0,0,19,43,0.259,0.332,0.437,0.768,76,3,1,0,2,0,0,0.307,91,career
3,"vs. SP, 2nd",182,NaN,182,152,NaN,36,4,1,10,27,0,0,23,36,0.237,0.341,0.474,0.814,72,0,3,0,4,0,1,0.236,102,career
4,"vs. SP, 3rd",121,NaN,121,104,NaN,32,12,1,4,9,0,0,13,17,0.308,0.388,0.558,0.946,58,1,2,0,2,0,2,0.329,134,career
5,"vs. SP, 4th+",5,NaN,1,1,NaN,1,1,0,0,0,0,0,0,0,1.000,1.000,2.000,3.000,2,0,0,0,0,0,0,1.000,625,career
6,"vs. RP, 1st",212,NaN,338,280,NaN,64,9,1,15,57,0,0,52,95,0.229,0.352,0.429,0.781,120,7,3,0,3,3,0,0.283,95,career
7,"vs. RP, 2nd",16,NaN,17,16,NaN,2,0,0,1,2,0,0,1,4,0.125,0.176,0.313,0.489,5,0,0,0,0,1,0,0.091,19,career

power

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,vs. Power,100,NaN,154,131,NaN,29,1,1,8,25,NaN,NaN,20,49,0.221,0.325,0.427,0.752,56,3,1,0,2,0,1,0.276,87,career
1,vs. avg.P/F,143,NaN,296,251,NaN,54,10,0,11,30,NaN,NaN,35,70,0.215,0.318,0.386,0.704,97,6,5,0,5,2,1,0.246,76,career
2,vs. Finesse,145,NaN,401,342,NaN,96,28,2,16,55,NaN,NaN,52,76,0.281,0.377,0.515,0.891,176,2,3,0,4,2,1,0.315,121,career
3,NaN,2,NaN,4,3,NaN,1,0,0,1,2,NaN,NaN,1,0,0.333,0.500,1.333,1.833,4,0,0,0,0,0,0,0.000,335,career

gbfb

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,vs. Fly Ball,166,NaN,392,324,NaN,72,19,1,17,49,NaN,NaN,55,88,0.222,0.334,0.444,0.779,144,3,4,0,9,3,2,0.241,93,career
1,vs. avg.F/G,154,NaN,341,294,NaN,80,17,2,14,46,NaN,NaN,42,76,0.272,0.367,0.486,0.853,143,6,3,0,2,1,0,0.320,112,career
2,vs. GrndBall,75,NaN,122,109,NaN,28,3,0,5,17,NaN,NaN,11,31,0.257,0.336,0.422,0.758,46,2,2,0,0,0,1,0.315,89,career

hitlo

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,To Infield,155,NaN,240,240,NaN,17,0,0,0,7,NaN,NaN,0,0,0.071,0.071,0.071,0.142,17,11,0,0,0,0,2,0.071,-64,career
1,To Outfield,174,NaN,301,290,NaN,162,39,3,36,102,NaN,NaN,0,0,0.559,0.538,1.086,1.624,315,0,0,0,11,0,1,0.475,292,career
2,Ball In Play,208,NaN,507,496,NaN,144,39,3,0,49,NaN,NaN,0,0,0.290,0.284,0.381,0.665,189,11,0,0,11,0,3,0.284,65,career
3,Not in Play,191,NaN,348,231,NaN,36,0,0,36,63,NaN,NaN,108,195,0.156,0.440,0.623,1.063,144,0,9,0,0,4,0,NaN,163,career
4,Fair Terr,211,NaN,525,514,NaN,179,39,3,36,109,NaN,NaN,0,0,0.348,0.341,0.646,0.987,332,11,0,0,11,0,3,0.292,139,career
5,Foul Terr,16,NaN,16,16,NaN,0,0,0,0,0,NaN,NaN,0,0,0.000,0.000,0.000,0.000,0,0,0,0,0,0,0,0.000,-100,career
6,Pulled-LHB,124,NaN,175,174,NaN,53,13,2,16,33,NaN,NaN,0,0,0.305,0.303,0.678,0.981,118,6,0,0,1,0,2,0.233,135,career
7,Up Mdle-LHB,164,NaN,271,263,NaN,102,17,1,17,65,NaN,NaN,0,0,0.388,0.376,0.654,1.030,172,5,0,0,8,0,0,0.335,151,career
8,Opp Fld-LHB,80,NaN,95,93,NaN,24,9,0,3,11,NaN,NaN,0,0,0.258,0.253,0.452,0.704,42,0,0,0,2,0,1,0.228,72,career
9,Unknown Loc,2,NaN,2,2,NaN,1,0,0,0,0,NaN,NaN,0,0,0.500,0.500,0.500,1.000,1,0,0,0,0,0,0,0.500,153,career

traj

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Ground Balls,152,NaN,235,235,NaN,56,3,0,0,18,NaN,NaN,0,0,0.238,0.238,0.251,0.489,59,11,0,0,0,0,3,0.238,23,career
1,Fly Balls,123,NaN,164,156,NaN,39,8,1,29,58,NaN,NaN,0,0,0.250,0.238,0.872,1.110,136,0,0,0,8,0,0,0.074,159,career
2,Line Drives,105,NaN,141,138,NaN,83,28,2,7,33,NaN,NaN,0,0,0.601,0.589,0.986,1.574,136,0,0,0,3,0,0,0.567,285,career
3,Bunts,3,NaN,3,3,NaN,2,0,0,0,0,NaN,NaN,0,0,0.667,0.667,0.667,1.333,2,0,0,0,0,0,0,0.667,238,career

site

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,LAA-Angel Stad,31,18,73,62,7,11,1,0,3,7,2,3,10,13,0.177,0.288,0.339,0.626,21,2,0,0,1,1,0,0.170,57,career
1,PHI-CitizensBank,2,0,2,2,1,2,0,0,1,4,0,0,0,0,1.000,1.000,2.500,3.500,5,0,0,0,0,0,0,1.000,734,career
2,DET-Comerica Pk,2,1,6,5,0,3,0,0,0,1,0,0,1,0,0.600,0.667,0.600,1.267,3,0,0,0,0,0,0,0.600,223,career
3,CHW-Guaranteed,5,5,21,18,1,1,1,0,0,1,0,0,2,7,0.056,0.143,0.111,0.254,2,0,0,0,1,0,0,0.083,-35,career
4,LAD-Dodger Stad,2,2,10,8,1,2,0,0,1,3,0,0,1,4,0.250,0.300,0.625,0.925,5,0,0,0,1,0,0,0.250,123,career
5,HOU-MinuteMaidPk,7,6,26,24,6,6,3,0,2,5,0,0,2,9,0.250,0.308,0.625,0.933,15,0,0,0,0,0,0,0.308,125,career
6,BOS-Fenway Pk,8,6,30,22,6,11,4,0,1,4,1,0,7,7,0.500,0.600,0.818,1.418,18,1,0,0,1,0,0,0.667,252,career
7,CLE-Progressive,12,11,48,40,3,9,2,0,2,5,0,1,7,12,0.225,0.333,0.425,0.758,17,1,0,0,1,0,0,0.259,89,career
8,MIA-Marlins Pk,2,2,8,8,0,2,0,0,0,0,0,0,0,1,0.250,0.250,0.250,0.500,2,0,0,0,0,0,0,0.286,27,career
9,MIL-Miller Pk,5,1,8,8,1,1,1,0,0,0,0,0,0,5,0.125,0.125,0.250,0.375,2,0,0,0,0,0,0,0.333,-9,career
10,OAK-Oakland Col.,6,4,16,14,1,3,0,0,1,3,0,0,1,2,0.214,0.250,0.429,0.679,6,1,0,0,1,0,0,0.167,66,career
11,BAL-Camden Yards,10,10,40,29,2,5,2,0,0,4,0,0,8,5,0.172,0.350,0.241,0.591,7,0,1,0,2,0,0,0.192,53,career
12,SFG-AT&T Pk,2,2,9,8,1,5,2,0,0,2,0,0,0,1,0.625,0.667,0.875,1.542,7,0,1,0,0,0,0,0.714,283,career
13,SDP-Petco Pk,3,2,9,9,3,4,3,0,1,2,0,0,0,0,0.444,0.444,1.111,1.556,10,0,0,0,0,0,0,0.375,271,career
14,KCR-KauffmanStad,6,5,23,21,2,5,2,0,1,5,0,0,2,2,0.238,0.304,0.476,0.781,10,0,0,0,0,0,1,0.222,92,career
15,SEA-Safeco Fld,5,2,10,7,0,0,0,0,0,1,0,0,3,2,0.000,0.300,0.000,0.300,0,1,0,0,0,0,0,0.000,-14,career
16,TOR-Rogers Ctr,16,13,58,55,10,16,5,0,4,6,0,1,3,14,0.291,0.328,0.600,0.928,33,0,0,0,0,0,1,0.324,126,career
17,ATL-SunTrust Pk,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0,0,0,0,0,0,0,0.000,-100,career
18,MIN-Target Field,9,7,31,24,1,4,0,0,1,2,0,0,6,10,0.167,0.355,0.292,0.647,7,1,1,0,0,1,0,0.231,66,career
19,TEX-Rangers Bpk,6,5,25,17,4,8,0,0,3,7,0,0,8,4,0.471,0.640,1.000,1.640,17,1,0,0,0,0,0,0.500,303,career
20,TBR-TropicanaFld,94,80,351,300,35,74,10,3,13,45,3,2,42,86,0.247,0.348,0.430,0.778,129,2,6,0,3,2,1,0.299,94,career
21,CHC-Wrigley Fld,2,2,6,6,0,1,0,0,0,0,0,0,0,1,0.167,0.167,0.167,0.333,1,0,0,0,0,0,0,0.200,-15,career
22,NYY-Yankee Stad3,12,10,44,39,5,7,3,0,2,5,0,0,5,10,0.179,0.273,0.410,0.683,16,1,0,0,0,0,0,0.185,68,career

stad

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Night,160,127,556,472,60,120,24,2,25,70,4,4,74,112,0.254,0.362,0.472,0.834,223,9,7,0,3,2,1,0.281,107,career
1,Day,88,67,299,255,30,60,15,1,11,42,2,3,34,83,0.235,0.321,0.431,0.752,110,2,2,0,8,2,2,0.290,87,career
2,Open,121,92,401,331,38,81,20,0,17,55,3,4,59,80,0.245,0.357,0.459,0.816,152,9,3,0,8,2,1,0.264,103,career
3,Dome,102,83,368,316,37,76,11,3,14,46,3,2,43,94,0.241,0.340,0.427,0.767,135,2,6,0,3,2,1,0.294,91,career
4,Retract,25,19,86,80,15,23,8,0,5,11,0,1,6,21,0.288,0.337,0.575,0.912,46,0,0,0,0,0,1,0.333,123,career
5,Grass,138,101,446,372,45,90,24,0,19,61,3,4,63,95,0.242,0.350,0.460,0.809,171,9,3,0,8,2,1,0.267,101,career
6,Artif. Turf,110,93,409,355,45,90,15,3,17,51,3,3,45,100,0.254,0.345,0.456,0.801,162,2,6,0,3,2,2,0.303,99,career

oppon

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Inter-League,38,29,124,114,9,27,4,0,5,14,0,0,8,34,0.237,0.290,0.404,0.694,46,2,1,0,1,1,0,0.289,72,career
1,Los Angeles Angels,7,4,21,19,3,2,0,0,1,2,0,0,1,6,0.105,0.190,0.263,0.454,5,2,1,0,0,0,0,0.083,12,career
2,Arizona Diamondbacks,5,3,16,16,1,3,1,0,0,2,0,0,0,5,0.188,0.188,0.250,0.438,4,0,0,0,0,0,0,0.273,9,career
3,Atlanta Braves,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0,0,0,0,0,0,0,0.000,-100,career
4,Baltimore Orioles,22,21,85,63,11,15,4,1,3,13,0,1,18,12,0.238,0.400,0.476,0.876,30,0,1,0,3,0,0,0.235,119,career
5,Boston Red Sox,22,16,75,62,15,23,7,2,2,11,2,0,11,21,0.371,0.467,0.645,1.112,40,1,1,0,1,1,0,0.525,175,career
6,Chicago Cubs,3,2,6,6,0,1,0,0,0,0,0,0,0,1,0.167,0.167,0.167,0.333,1,0,0,0,0,0,0,0.200,-15,career
7,Chicago White Sox,13,13,52,44,3,7,2,0,0,6,2,0,5,14,0.159,0.231,0.205,0.435,9,0,0,0,3,0,0,0.212,11,career
8,Cleveland Indians,18,17,71,62,7,17,2,0,5,11,0,1,7,22,0.274,0.352,0.548,0.900,34,1,1,0,1,0,0,0.333,121,career
9,Colorado Rockies,3,2,9,7,1,2,0,0,0,0,0,0,2,2,0.286,0.444,0.286,0.730,2,0,0,0,0,0,0,0.400,90,career
10,Detroit Tigers,6,3,18,15,0,7,1,0,0,3,0,0,3,2,0.467,0.556,0.533,1.089,8,0,0,0,0,0,0,0.538,177,career
11,Miami Marlins,6,6,25,24,2,6,0,0,1,2,0,0,1,5,0.250,0.280,0.375,0.655,9,0,0,0,0,0,0,0.278,63,career
12,Houston Astros,12,10,42,39,6,10,3,0,2,7,1,1,3,15,0.256,0.310,0.487,0.797,19,0,0,0,0,0,1,0.364,96,career
13,Kansas City Royals,11,9,39,33,2,8,3,0,1,5,0,0,6,5,0.242,0.359,0.424,0.783,14,0,0,0,0,0,1,0.259,96,career
14,Los Angeles Dodgers,4,4,18,16,1,4,0,0,1,3,0,0,1,6,0.250,0.278,0.438,0.715,7,0,0,0,1,0,0,0.300,76,career
15,Milwaukee Brewers,6,2,12,10,1,1,0,0,1,2,0,0,2,5,0.100,0.250,0.400,0.650,4,1,0,0,0,0,0,0.000,59,career
16,Minnesota Twins,13,10,45,36,4,7,1,0,2,4,0,0,7,14,0.194,0.356,0.389,0.744,14,1,2,0,0,1,0,0.250,88,career
17,New York Yankees,17,16,65,56,6,15,3,0,2,4,0,0,9,13,0.268,0.369,0.429,0.798,24,1,0,0,0,0,0,0.317,100,career
18,Oakland Athletics,15,11,47,41,5,7,0,0,4,10,1,1,4,5,0.171,0.255,0.463,0.719,19,1,1,0,1,1,0,0.091,75,career
19,Philadelphia Phillies,2,0,2,2,1,2,0,0,1,4,0,0,0,0,1.000,1.000,2.500,3.500,5,0,0,0,0,0,0,1.000,734,career
20,San Diego Padres,3,2,9,9,3,4,3,0,1,2,0,0,0,0,0.444,0.444,1.111,1.556,10,0,0,0,0,0,0,0.375,271,career
21,Seattle Mariners,13,7,32,25,0,2,0,0,0,1,0,1,6,6,0.080,0.281,0.080,0.361,2,1,1,0,0,1,0,0.105,-2,career
22,San Francisco Giants,2,2,9,8,1,5,2,0,0,2,0,0,0,1,0.625,0.667,0.875,1.542,7,0,1,0,0,0,0,0.714,283,career
23,St. Louis Cardinals,1,0,1,1,0,0,0,0,0,0,0,0,0,1,0.000,0.000,0.000,0.000,0,0,0,0,0,0,0,NaN,-100,career
24,Tampa Bay Rays,1,1,3,2,0,0,0,0,0,0,0,0,1,0,0.000,0.333,0.000,0.333,0,0,0,0,0,0,0,0.000,-4,career
25,Texas Rangers,15,10,48,37,5,10,0,0,4,8,0,0,11,9,0.270,0.438,0.595,1.032,22,2,0,0,0,0,0,0.250,156,career
26,Toronto Blue Jays,27,23,104,93,12,22,7,0,5,10,0,2,10,25,0.237,0.308,0.473,0.781,44,0,0,0,1,0,1,0.266,92,career
27,WP lt .500,124,97,432,361,46,88,20,1,19,61,3,4,60,91,0.244,0.352,0.463,0.814,167,4,4,0,7,3,1,0.267,103,career
28,WP of .500+,124,97,423,366,44,92,19,2,17,51,3,3,48,104,0.251,0.343,0.454,0.796,166,7,5,0,4,1,2,0.301,98,career

CPU times: user 1.3 s, sys: 47.5 ms, total: 1.35 s
Wall time: 23.4 s

In [ ]:
%%time
for player in [jiman]:
    for table in ['total', 'plato', 'hmvis', 'half', 'month', f'outcb',
                              'stsub', 'defp', 'leado', 'lineu', 'count', 'outs',
                              'bases', 'clutc', 'lever', 'innng', 'times', 'power',
                              'gbfb', 'hitlo', 'traj', "site", "stad", "oppon"]:
        print(table)
        display(player.splits(split_type="b", table_type=table))

In [ ]:
%%time
for player in [cole]:
    for table in ['total','total_extra','plato','hmvis','hmvis_extra','half',
                  'half_extra','month','month_extra','outco','outco_extra',
                  'sprel','sprel_extra','rs','rs_extra','lineu','tkswg',
                  'count','leado','defpo','outs','bases','clutc','lever',
                  'innng','times','pitco','dr','dr_extra','hitlo','traj',
                  'oppon','oppon_extra','stad','stad_extra','site','site_extra','catch','ump','ump_extra']:
        print(table)
        display(player.splits(split_type="p", table_type=table))

In [ ]:
cole.splits("p")

In [ ]:
cole.splits("p","career","ump").sort_values("G",ascending=False).head(30)

In [ ]:
glasnow = Player("tyler glasnow")

In [ ]:
glasnow_ump_df = glasnow.splits('ump')

In [ ]:
glasnow_ump_df.sort_values("SO/W", ascending=False)

In [ ]:
df = glasnow.overview().sum()
df.P / df.G

In [ ]:
archer = Player("chris arch")

In [ ]:
archer.overview("pitching_standard")

In [ ]:
archer.game_logs(2019).columns

In [ ]:
archer.game_logs(2019).set_index("Rk").SO.rolling(3).mean().plot()

In [ ]:
Player("Zack greinke").game_logs(2019).set_index("Rk").SO.rolling(3).mean().plot()