In [1]:
from py_bref.players import Player
from py_bref.bref_util import get_player_info

In [2]:
import pandas as pd
pd.set_option("display.max_columns", 50)

## things to test

for players:

* player `__repr__` representation
* for batters players
    * test overview pages
        * apperances
        * batting_standard
        * batting_value
        * batting_postseason
        * standard_fielding

    * test splits pages
        * total
    * test game logs
        * game_log
* for pitchers
    * test overview page
        * apperances
        * standard_pitching
        * pitching_value
        * pitching_postseason
        * standard_fielding
    * test splits pages
        * total

In [3]:
print("https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fa%2Faaronha01.shtml&div=div_appearances")
Player("hank aaron").overview()

https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fa%2Faaronha01.shtml&div=div_appearances
I'm 100% sure that you want Hank Aaron
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fa%2Faaronha01.shtml&div=div_appearances
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fa%2Faaronha01.shtml&div=div_appearances

,Year,Age,Tm,Lg,G,GS,Batting,Defense,P,C,1B,2B,3B,SS,LF,CF,RF,OF,DH,PH,PR
0,1954,20,MLN,NL,122,113,122,116,0,0,0,0,0,0,105,0,11,116,0,7,1
1,1955,21,MLN,NL,153,151,153,151,0,0,0,27,0,0,30,0,104,126,0,2,0
2,1956,22,MLN,NL,153,152,153,152,0,0,0,0,0,0,0,0,152,152,0,1,0
3,1957,23,MLN,NL,151,150,151,150,0,0,0,0,0,0,0,69,84,150,0,1,0
4,1958,24,MLN,NL,153,153,153,153,0,0,0,0,0,0,0,39,119,153,0,0,0
5,1959,25,MLN,NL,154,154,154,154,0,0,0,0,5,0,0,13,144,152,0,0,0
6,1960,26,MLN,NL,153,153,153,153,0,0,0,2,0,0,0,5,150,153,0,0,0
7,1961,27,MLN,NL,155,154,155,154,0,0,0,0,2,0,0,83,78,154,0,1,0
8,1962,28,MLN,NL,156,153,156,153,0,0,1,0,0,0,0,83,71,153,0,3,0
9,1963,29,MLN,NL,161,161,161,161,0,0,0,0,0,0,0,0,161,161,0,0,0
10,1964,30,MLN,NL,145,142,145,143,0,0,0,11,0,0,0,0,139,139,0,2,0
11,1965,31,MLN,NL,150,148,150,148,0,0,0,0,0,0,0,0,148,148,0,2,0
12,1966,32,ATL,NL,158,157,158,158,0,0,0,2,0,0,0,5,158,158,0,1,0
13,1967,33,ATL,NL,155,152,155,152,0,0,0,1,0,0,0,11,142,152,0,3,0
14,1968,34,ATL,NL,160,157,160,157,0,0,14,0,0,0,0,0,151,151,0,3,0
15,1969,35,ATL,NL,147,145,147,145,0,0,4,0,0,0,0,0,144,144,0,2,0
16,1970,36,ATL,NL,150,135,150,136,0,0,11,0,0,0,0,0,125,125,0,15,0
17,1971,37,ATL,NL,139,129,139,129,0,0,71,0,0,0,0,0,60,60,0,10,0
18,1972,38,ATL,NL,129,121,129,122,0,0,109,0,0,0,0,0,15,15,0,8,0
19,1973,39,ATL,NL,120,105,120,105,0,0,0,0,0,0,87,0,18,105,0,15,0
20,1974,40,ATL,NL,112,89,112,89,0,0,0,0,0,0,89,0,0,89,0,23,0
21,1975,41,MIL,AL,137,129,137,3,0,0,0,0,0,0,3,0,0,3,127,8,0
22,1976,42,MIL,AL,85,70,85,1,0,0,0,0,0,0,1,0,0,1,74,15,0

In [4]:
# test prep

# some batters
babe_ruth = Player("Babe Ruth")
junior = Player("Ken Griffy Jr.")
jiman = Player("jiman choi")

batters = [babe_ruth, junior, jiman]

# some pitcher
cy_young = Player("Cy Young")
maddux = Player("Greg Maddux")
cole = Player("Gerrit Cole")

pitchers = [cy_young, maddux, cole]

I'm 100% sure that you want Babe Ruth
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fr%2Fruthba01.shtml&div=div_appearances
I'm 96% sure that you want Ken Griffey Jr.
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fg%2Fgriffke02.shtml&div=div_appearances
I'm 95% sure that you want Ji-Man Choi
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fc%2Fchoiji01.shtml&div=div_appearances
I'm 100% sure that you want Cy Young
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fy%2Fyoungcy01.shtml&div=div_appearances
I'm 100% sure that you want Greg Maddux
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fm%2Fmaddugr01.shtml&div=div_appearances
I'm 100% sure that you want Gerrit Cole
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fc%2Fcolege01.shtml&div=div_appearances

# TEST players overviews

In [5]:
%%time
for player in batters + pitchers:
    print(player)
    print("#" * 30)
    for table in ["pitching_standard", "pitching_value", "batting_standard",
                             "standard_fielding", "appearances",
                            "batting_postseason", "pitching_postseason"]:
        print(player.name, table)
        try:
            display(player.overview(table).shape)
        except Exception as e:
            print(e)

< Babe Ruth, 1914 - 1935, not active >
##############################
Babe Ruth pitching_standard
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fr%2Fruthba01.shtml&div=div_pitching_standard

(10, 35)

Babe Ruth pitching_value
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fr%2Fruthba01.shtml&div=div_pitching_value

(10, 24)

Babe Ruth batting_standard
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fr%2Fruthba01.shtml&div=div_batting_standard

(22, 30)

Babe Ruth standard_fielding
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fr%2Fruthba01.shtml&div=div_standard_fielding

(77, 27)

Babe Ruth appearances
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fr%2Fruthba01.shtml&div=div_appearances

(22, 21)

Babe Ruth batting_postseason
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fr%2Fruthba01.shtml&div=div_batting_postseason
error getting batting_postseason for key Babe Ruth. probably because the table doesn't exist on the page.
Babe Ruth pitching_postseason
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fr%2Fruthba01.shtml&div=div_pitching_postseason

(2, 36)

< Ken Griffey Jr., 1989 - 2010, not active >
##############################
Ken Griffey Jr. pitching_standard
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fg%2Fgriffke02.shtml&div=div_pitching_standard
error getting pitching_standard for key Ken Griffey Jr.. probably because the table doesn't exist on the page.
Ken Griffey Jr. pitching_value
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fg%2Fgriffke02.shtml&div=div_pitching_value
error getting pitching_value for key Ken Griffey Jr.. probably because the table doesn't exist on the page.
Ken Griffey Jr. batting_standard
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fg%2Fgriffke02.shtml&div=div_batting_standard

(23, 30)

Ken Griffey Jr. standard_fielding
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fg%2Fgriffke02.shtml&div=div_standard_fielding
error getting standard_fielding for key Ken Griffey Jr.. probably because the table doesn't exist on the page.
Ken Griffey Jr. appearances
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fg%2Fgriffke02.shtml&div=div_appearances

(23, 21)

Ken Griffey Jr. batting_postseason
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fg%2Fgriffke02.shtml&div=div_batting_postseason

(4, 31)

Ken Griffey Jr. pitching_postseason
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fg%2Fgriffke02.shtml&div=div_pitching_postseason
error getting pitching_postseason for key Ken Griffey Jr.. probably because the table doesn't exist on the page.
< Ji-Man Choi, 2016 - 2019, active >
##############################
Ji-Man Choi pitching_standard
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fc%2Fchoiji01.shtml&div=div_pitching_standard
error getting pitching_standard for key Ji-Man Choi. probably because the table doesn't exist on the page.
Ji-Man Choi pitching_value
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fc%2Fchoiji01.shtml&div=div_pitching_value
error getting pitching_value for key Ji-Man Choi. probably because the table doesn't exist on the page.
Ji-Man Choi batting_standard
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fc%2Fchoiji01.shtml&div=div_batting_standard

(5, 30)

Ji-Man Choi standard_fielding
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fc%2Fchoiji01.shtml&div=div_standard_fielding

(13, 25)

Ji-Man Choi appearances
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fc%2Fchoiji01.shtml&div=div_appearances

(5, 21)

Ji-Man Choi batting_postseason
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fc%2Fchoiji01.shtml&div=div_batting_postseason

(2, 31)

Ji-Man Choi pitching_postseason
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fc%2Fchoiji01.shtml&div=div_pitching_postseason
error getting pitching_postseason for key Ji-Man Choi. probably because the table doesn't exist on the page.
< Cy Young, 1890 - 1911, not active >
##############################
Cy Young pitching_standard
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fy%2Fyoungcy01.shtml&div=div_pitching_standard

(23, 35)

Cy Young pitching_value
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fy%2Fyoungcy01.shtml&div=div_pitching_value

(23, 24)

Cy Young batting_standard
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fy%2Fyoungcy01.shtml&div=div_batting_standard

(23, 30)

Cy Young standard_fielding
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fy%2Fyoungcy01.shtml&div=div_standard_fielding

(25, 21)

Cy Young appearances
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fy%2Fyoungcy01.shtml&div=div_appearances

(23, 21)

Cy Young batting_postseason
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fy%2Fyoungcy01.shtml&div=div_batting_postseason

(2, 31)

Cy Young pitching_postseason
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fy%2Fyoungcy01.shtml&div=div_pitching_postseason

(2, 36)

< Greg Maddux, 1986 - 2008, not active >
##############################
Greg Maddux pitching_standard
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fm%2Fmaddugr01.shtml&div=div_pitching_standard

(25, 35)

Greg Maddux pitching_value
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fm%2Fmaddugr01.shtml&div=div_pitching_value

(25, 24)

Greg Maddux batting_standard
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fm%2Fmaddugr01.shtml&div=div_batting_standard

(25, 30)

Greg Maddux standard_fielding
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fm%2Fmaddugr01.shtml&div=div_standard_fielding

(25, 28)

Greg Maddux appearances
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fm%2Fmaddugr01.shtml&div=div_appearances

(25, 21)

Greg Maddux batting_postseason
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fm%2Fmaddugr01.shtml&div=div_batting_postseason

(23, 31)

Greg Maddux pitching_postseason
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fm%2Fmaddugr01.shtml&div=div_pitching_postseason

(23, 36)

< Gerrit Cole, 2013 - 2019, active >
##############################
Gerrit Cole pitching_standard
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fc%2Fcolege01.shtml&div=div_pitching_standard

(7, 35)

Gerrit Cole pitching_value
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fc%2Fcolege01.shtml&div=div_pitching_value

(7, 24)

Gerrit Cole batting_standard
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fc%2Fcolege01.shtml&div=div_batting_standard

(7, 30)

Gerrit Cole standard_fielding
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fc%2Fcolege01.shtml&div=div_standard_fielding

(7, 28)

Gerrit Cole appearances
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fc%2Fcolege01.shtml&div=div_appearances

(7, 21)

Gerrit Cole batting_postseason
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fc%2Fcolege01.shtml&div=div_batting_postseason

(7, 31)

Gerrit Cole pitching_postseason
https://widgets.sports-reference.com/wg.fcgi?css=1&site=br&url=%2Fplayers%2Fc%2Fcolege01.shtml&div=div_pitching_postseason

(8, 36)

CPU times: user 1.76 s, sys: 29.6 ms, total: 1.79 s
Wall time: 36.6 s

# Test player game logs

In [6]:
maddux.game_logs(2004,"f")

,Rk,Gtm,Date,Tm,H/A,Opp,Rslt,Inngs,BF,Inn,PO,A,E,Ch,DP,Pos,year
0,1,2 (1),Apr 7,CHC,A,CIN,"L,1-3",GS,25,6.0,0,0,0,0,0,P,2004
1,2,7 (4),Apr 12,CHC,H,PIT,"L,2-13",GS,24,3.2,0,0,0,0,0,P,2004
2,3,12 (4),Apr 18,CHC,H,CIN,"L,10-11",GS,29,6.0,0,0,0,0,0,P,2004
3,4,16 (3),Apr 23,CHC,H,NYM,"W,3-1",GS,28,7.0,0,2,0,2,1,P,2004
4,5,21 (4),Apr 28,CHC,A,ARI,"W,4-3",GS,25,6.0,1,4,0,5,0,P,2004
6,6,25 (3),May 3,CHC,A,STL,"W,7-3",GS,29,7.0,1,3,0,4,0,P,2004
7,7,30 (4),May 8,CHC,H,COL,"L,3-4",GS,28,7.0,0,1,0,1,0,P,2004
8,8,35 (4),May 14,CHC,A,SDP,"W,6-1",GS,28,8.0,0,3,0,3,0,P,2004
9,9,40 (4),May 20,CHC,H,SFG,"L,3-5",GS,31,7.0,1,2,0,3,0,P,2004
10,10,45 (4),May 26,CHC,A,HOU,"L,3-7",GS,24,5.0,1,2,0,3,0,P,2004
11,11,50 (4),May 31,CHC,H,HOU,"W,3-1",GS,28,6.2,0,1,0,1,0,P,2004
13,12,55 (4),Jun 6,CHC,H,PIT,"W,4-1",GS,24,7.0,1,1,0,2,0,P,2004
14,13,60 (4),Jun 11,CHC,A,ANA,"L,2-3",GS,26,7.0,1,0,0,1,0,P,2004
15,14,65 (4),Jun 16,CHC,A,HOU,"W,4-1",GS,26,6.1,1,3,0,4,0,P,2004
16,15,70 (4),Jun 22,CHC,A,STL,"W,5-4",GS,28,6.2,1,2,0,3,0,P,2004
17,16,75 (4),Jun 27,CHC,A,CHW,"L,4-9",GS,25,4.0,1,1,0,2,0,P,2004
19,17,80 (4),Jul 3,CHC,H,CHW,"W,4-2",GS,22,5.1,1,1,0,2,0,P,2004
20,18,85 (4),Jul 9,CHC,A,STL,"L,1-6",GS,25,6.0,0,1,0,1,0,P,2004
21,19,90 (4),Jul 17,CHC,H,MIL,"W,5-0",CG,30,9.0,0,2,0,2,1,P,2004
22,20,95 (4),Jul 22,CHC,H,CIN,"W,13-2",CG,29,9.0,1,3,0,4,0,P,2004
23,21,100 (4),Jul 27,CHC,A,MIL,"W,7-1",GS,23,6.0,1,2,0,3,0,P,2004
25,22,105 (4),Aug 1,CHC,H,PHI,"W,6-3",GS,25,6.0,0,0,0,0,0,P,2004
26,23,110 (4),Aug 7,CHC,A,SFG,"W,8-4",GS,24,5.0,0,1,0,1,0,P,2004
27,24,115 (4),Aug 13,CHC,H,LAD,"L,1-8",GS,28,6.1,2,3,0,5,0,P,2004
28,25,120 (4),Aug 19,CHC,A,MIL,"W,9-6",GS,27,7.0,0,1,1,2,0,P,2004
29,26,126 (5),Aug 25,CHC,H,MIL,"W,4-2",GS,28,8.0,0,2,0,2,0,P,2004
30,27,131 (4),Aug 30,CHC,A,MON,"W,5-2",GS,26,7.0,2,2,0,4,0,P,2004
32,28,136 (4),Sep 8,CHC,H,MON,"L,0-6",GS,30,7.2,2,4,0,6,0,P,2004
33,29,141 (4),Sep 13,CHC,H,PIT,"W,7-2",GS,27,7.0,0,2,0,2,0,P,2004
34,30,146 (4),Sep 18,CHC,A,CIN,"L,5-6",GS,26,6.0,1,1,0,2,0,P,2004
35,31,152 (5),Sep 23,CHC,A,PIT,"W,6-3",GS,24,6.0,1,2,0,3,1,P,2004
36,32,157 (4),Sep 28,CHC,H,CIN,"L,3-8",GS,25,5.0,0,0,0,0,0,P,2004
37,33,162 (4),Oct 3,CHC,H,ATL,"W,10-8",GS,25,6.0,1,3,0,4,0,P,2004

In [7]:
%%time
for player in [babe_ruth]:
    for log_type in ["p","b","f"]:
        for year in player.years_active:
            print("trying", player.name, year, log_type)
            try:
                display(player.game_logs(log_type=log_type, year=year).shape)
            except Exception as e:
                print(e)

trying Babe Ruth 1914 p

(4, 33)

trying Babe Ruth 1915 p

(32, 33)

trying Babe Ruth 1916 p

(44, 33)

trying Babe Ruth 1917 p

(41, 33)

trying Babe Ruth 1918 p

(20, 33)

trying Babe Ruth 1919 p

(17, 33)

trying Babe Ruth 1920 p

(1, 33)

trying Babe Ruth 1921 p

(2, 33)

trying Babe Ruth 1922 p
html5lib not found, please install it
trying Babe Ruth 1923 p
html5lib not found, please install it
trying Babe Ruth 1924 p
html5lib not found, please install it
trying Babe Ruth 1925 p
html5lib not found, please install it
trying Babe Ruth 1926 p
html5lib not found, please install it
trying Babe Ruth 1927 p
html5lib not found, please install it
trying Babe Ruth 1928 p
html5lib not found, please install it
trying Babe Ruth 1929 p
html5lib not found, please install it
trying Babe Ruth 1930 p

(1, 45)

trying Babe Ruth 1931 p
html5lib not found, please install it
trying Babe Ruth 1932 p
html5lib not found, please install it
trying Babe Ruth 1933 p

(1, 45)

trying Babe Ruth 1934 p
html5lib not found, please install it
trying Babe Ruth 1935 p
html5lib not found, please install it
trying Babe Ruth 1914 b

(5, 34)

trying Babe Ruth 1915 b

(42, 34)

trying Babe Ruth 1916 b

(68, 34)

trying Babe Ruth 1917 b

(52, 37)

trying Babe Ruth 1918 b

(95, 37)

trying Babe Ruth 1919 b

(130, 37)

trying Babe Ruth 1920 b

(142, 37)

trying Babe Ruth 1921 b

(152, 37)

trying Babe Ruth 1922 b

(110, 37)

trying Babe Ruth 1923 b

(152, 37)

trying Babe Ruth 1924 b

(153, 37)

trying Babe Ruth 1925 b

(98, 37)

trying Babe Ruth 1926 b

(152, 37)

trying Babe Ruth 1927 b

(151, 37)

trying Babe Ruth 1928 b

(154, 37)

trying Babe Ruth 1929 b

(135, 37)

trying Babe Ruth 1930 b

(145, 37)

trying Babe Ruth 1931 b

(145, 37)

trying Babe Ruth 1932 b

(133, 37)

trying Babe Ruth 1933 b

(137, 37)

trying Babe Ruth 1934 b

(125, 37)

trying Babe Ruth 1935 b

(28, 37)

trying Babe Ruth 1914 f

(4, 17)

trying Babe Ruth 1915 f

(32, 17)

trying Babe Ruth 1916 f

(44, 17)

trying Babe Ruth 1917 f

(41, 17)

trying Babe Ruth 1918 f

(91, 17)

trying Babe Ruth 1919 f

(129, 17)

trying Babe Ruth 1920 f

(140, 17)

trying Babe Ruth 1921 f

(152, 17)

trying Babe Ruth 1922 f

(110, 17)

trying Babe Ruth 1923 f

(151, 17)

trying Babe Ruth 1924 f

(152, 17)

trying Babe Ruth 1925 f

(98, 17)

trying Babe Ruth 1926 f

(149, 17)

trying Babe Ruth 1927 f

(150, 17)

trying Babe Ruth 1928 f

(154, 17)

trying Babe Ruth 1929 f

(132, 17)

trying Babe Ruth 1930 f

(145, 17)

trying Babe Ruth 1931 f

(143, 17)

trying Babe Ruth 1932 f

(129, 17)

trying Babe Ruth 1933 f

(132, 17)

trying Babe Ruth 1934 f

(110, 17)

trying Babe Ruth 1935 f

(26, 17)

CPU times: user 4.94 s, sys: 117 ms, total: 5.06 s
Wall time: 1min 21s

# TEST player splits

In [8]:
%%time
for player in [jiman]:
    for table in ['total', 'plato', 'hmvis', 'half', 'month', f'outcb',
                              'stsub', 'defp', 'leado', 'lineu', 'count', 'outs',
                              'bases', 'clutc', 'lever', 'innng', 'times', 'power',
                              'gbfb', 'hitlo', 'traj', "site", "stad", "oppon"]:
        print(table)
        display(player.splits(split_type="b", table_type=table))

total

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Career Totals,248,194,855,727,90,180,39,3,36,112,6,7,108,195,0.248,0.347,0.458,0.805,333,11,9,0,11,4,3,0.284,100,career

plato

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,vs RHP,235,NaN,730,619,78.0,160,36,3,33,103,6,6,94,164,0.258,0.358,0.486,0.844,301,10,7,0,10,4,3,0.294,109,career
1,vs LHP,82,NaN,125,108,12.0,20,3,0,3,9,0,1,14,31,0.185,0.288,0.296,0.584,32,1,2,0,1,0,0,0.227,48,career
2,vs RHP as LHB,235,NaN,730,619,NaN,160,36,3,33,103,0,0,94,164,0.258,0.358,0.486,0.844,301,10,7,0,10,4,3,0.294,109,career
3,vs LHP as LHB,82,NaN,125,108,NaN,20,3,0,3,9,0,0,14,31,0.185,0.288,0.296,0.584,32,1,2,0,1,0,0,0.227,48,career
4,vs RH Starter,201,181.0,760,653,77.0,158,35,3,31,96,6,6,90,175,0.242,0.336,0.447,0.783,292,10,7,0,10,3,3,0.278,94,career
5,vs LH Starter,47,13.0,95,74,13.0,22,4,0,5,16,0,1,18,20,0.297,0.442,0.554,0.996,41,1,2,0,1,1,0,0.340,148,career

hmvis

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Home,129,101,437,374,44,88,12,3,18,56,5,5,53,103,0.235,0.336,0.428,0.764,160,4,6,0,4,3,1,0.272,90,career
1,Away,119,93,418,353,46,92,27,0,18,56,1,2,55,92,0.261,0.359,0.490,0.849,173,7,3,0,7,1,2,0.296,110,career

half

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,1st Half,105,83,367,317,34,77,13,1,13,42,1,4,42,86,0.243,0.335,0.413,0.748,131,6,4,0,4,1,2,0.288,87,career
1,2nd Half,143,111,488,410,56,103,26,2,23,70,5,3,66,109,0.251,0.357,0.493,0.849,202,5,5,0,7,3,1,0.281,111,career

month

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,April/March,30,23,98,80,11,22,7,1,1,8,1,3,15,19,0.275,0.398,0.425,0.823,34,0,2,0,1,0,2,0.344,107,career
1,May,35,28,129,116,9,25,3,0,5,13,0,1,11,35,0.216,0.279,0.371,0.650,43,3,0,0,2,1,0,0.256,61,career
2,June,29,22,100,86,11,22,1,0,5,15,0,0,11,22,0.256,0.350,0.442,0.792,38,2,2,0,1,0,0,0.283,97,career
3,July,48,39,162,144,16,36,9,0,6,20,2,0,16,37,0.250,0.321,0.438,0.758,63,2,0,0,2,1,1,0.291,88,career
4,August,53,44,194,162,21,40,10,1,8,27,2,2,27,39,0.247,0.361,0.469,0.830,76,2,3,0,2,2,0,0.274,106,career
5,Sept/Oct,53,38,172,139,22,35,9,1,11,29,1,1,28,43,0.252,0.378,0.568,0.946,79,2,2,0,3,0,0,0.273,133,career

outcb

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,in Wins,139,111,511,441,64,137,33,2,21,78,5,3,57,111,0.311,0.389,0.537,0.927,237,7,5,0,8,4,2,0.366,129,career
1,in Losses,109,83,344,286,26,43,6,1,15,34,1,4,51,84,0.150,0.285,0.336,0.621,96,4,4,0,3,0,1,0.147,55,career

stsub

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,as Starter,194,194,797,682,83,167,37,3,33,98,5,7,96,178,0.245,0.340,0.453,0.793,309,10,8,0,11,2,3,0.278,97,career
1,as Sub,54,0,58,45,7,13,2,0,3,14,1,0,12,17,0.289,0.448,0.533,0.982,24,1,1,0,0,2,0,0.400,145,career

defp

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,as 1B,129.0,NaN,493.0,420.0,55.0,113.0,22.0,2.0,21.0,64.0,2,5,60.0,101.0,0.269,0.359,0.481,0.840,202.0,10.0,4.0,0.0,9.0,1.0,3.0,0.300,108.0,career
1,as LF,17.0,NaN,52.0,44.0,4.0,8.0,2.0,0.0,3.0,9.0,0,2,8.0,7.0,0.182,0.308,0.432,0.740,19.0,1.0,0.0,0.0,0.0,0.0,0.0,0.147,83.0,career
2,as DH,68.0,NaN,270.0,234.0,27.0,53.0,13.0,1.0,11.0,33.0,3,0,30.0,75.0,0.226,0.322,0.432,0.754,101.0,0.0,4.0,0.0,2.0,1.0,0.0,0.280,87.0,career
3,as PH,42.0,NaN,42.0,31.0,4.0,6.0,2.0,0.0,1.0,6.0,0,0,10.0,13.0,0.194,0.405,0.355,0.760,11.0,0.0,1.0,0.0,0.0,2.0,0.0,0.294,94.0,career
4,as PH for DH,2.0,NaN,2.0,2.0,NaN,0.0,0.0,0.0,0.0,0.0,0,0,0.0,1.0,0.000,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,-100.0,career
5,as PR,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,career

leado

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,1st Batter G,10,NaN,10,9,NaN,2,2,0,0,0,NaN,NaN,1,2,0.222,0.300,0.444,0.744,4,0,0,0,0,0,0,0.286,83,career
1,Leadoff Inn.,138,NaN,180,157,NaN,42,11,1,10,10,NaN,NaN,23,43,0.268,0.361,0.541,0.903,85,0,0,0,0,0,1,0.308,122,career

lineu

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Batting 1st,12,10,49,42,7,10,3,0,1,4,0,0,7,12,0.238,0.347,0.381,0.728,16,1,0,0,0,0,0,0.310,83,career
1,Batting 2nd,4,1,6,6,2,2,1,0,1,2,1,0,0,3,0.333,0.333,1.000,1.333,6,0,0,0,0,0,0,0.500,214,career
2,Batting 3rd,65,65,284,245,29,61,13,2,10,33,2,2,32,56,0.249,0.342,0.441,0.782,108,3,4,0,3,0,2,0.280,95,career
3,Batting 4th,37,30,126,102,15,26,6,0,4,16,1,0,18,34,0.255,0.373,0.431,0.804,44,1,3,0,3,0,0,0.328,102,career
4,Batting 5th,43,38,165,146,24,45,9,1,13,33,1,1,16,35,0.308,0.370,0.651,1.020,95,2,0,0,3,0,0,0.317,149,career
5,Batting 6th,28,21,88,71,3,9,1,0,3,7,0,1,16,25,0.127,0.284,0.268,0.552,19,2,0,0,1,2,0,0.136,40,career
6,Batting 7th,21,18,70,62,6,13,4,0,3,7,1,1,7,14,0.210,0.300,0.419,0.719,26,1,1,0,0,0,1,0.222,78,career
7,Batting 8th,18,4,30,24,1,5,1,0,0,3,0,0,4,8,0.208,0.333,0.250,0.583,6,1,1,0,1,0,0,0.294,51,career
8,Batting 9th,20,7,37,29,3,9,1,0,1,7,0,2,8,8,0.310,0.459,0.448,0.908,13,0,0,0,0,2,0,0.400,130,career

count

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,First Pitch,64,NaN,70,69,11.0,28,4,0,5,16,1.0,3.0,0,0,0.406,0.400,0.681,1.081,47,1,0,0,1,0,0,0.354,164,career
1,1-0 Count,48,NaN,54,53,12.0,13,2,0,3,8,1.0,0.0,0,0,0.245,0.241,0.453,0.694,24,1,0,0,1,0,0,0.196,68,career
2,2-0 Count,18,NaN,20,19,4.0,7,1,0,3,10,0.0,0.0,0,0,0.368,0.350,0.895,1.245,17,0,0,0,1,0,0,0.235,196,career
3,3-0 Count,17,NaN,17,1,NaN,1,1,0,0,0,0.0,0.0,16,0,1.000,1.000,2.000,3.000,2,0,0,0,0,3,0,1.000,625,career
4,0-1 Count,52,NaN,61,56,10.0,13,4,0,3,11,0.0,0.0,0,0,0.232,0.262,0.464,0.727,26,2,3,0,2,0,0,0.182,77,career
5,1-1 Count,65,NaN,73,70,8.0,29,5,2,1,9,0.0,0.0,0,0,0.414,0.425,0.586,1.010,41,2,2,0,1,0,0,0.400,150,career
6,2-1 Count,42,NaN,43,42,8.0,17,5,0,4,9,1.0,0.0,0,0,0.405,0.395,0.810,1.205,34,0,0,0,1,0,0,0.333,191,career
7,3-1 Count,40,NaN,48,19,5.0,6,1,0,4,7,0.0,0.0,29,0,0.316,0.729,1.000,1.729,19,1,0,0,0,1,0,0.133,328,career
8,0-2 Count,52,NaN,56,53,5.0,6,1,0,1,6,0.0,2.0,0,27,0.113,0.143,0.189,0.332,10,1,2,0,1,0,1,0.192,-18,career
9,1-2 Count,93,NaN,112,109,7.0,18,3,1,2,8,1.0,0.0,0,61,0.165,0.179,0.266,0.445,29,0,2,0,1,0,0,0.340,10,career
10,2-2 Count,108,NaN,140,139,11.0,22,6,0,5,14,0.0,1.0,0,63,0.158,0.157,0.309,0.466,43,2,0,0,1,0,2,0.236,13,career
11,Full Count,117,NaN,161,97,9.0,20,6,0,5,14,2.0,1.0,63,44,0.206,0.516,0.423,0.938,41,1,0,0,1,0,0,0.306,141,career
12,After 1-0,190,NaN,365,285,NaN,71,15,2,15,49,NaN,NaN,72,65,0.249,0.400,0.474,0.874,135,4,3,0,5,3,0,0.267,119,career
13,After 2-0,107,NaN,126,79,NaN,23,8,0,6,20,NaN,NaN,45,21,0.291,0.540,0.620,1.160,49,0,0,0,2,3,0,0.315,191,career
14,After 3-0,36,NaN,39,13,NaN,3,2,0,0,2,NaN,NaN,26,5,0.231,0.744,0.385,1.128,5,0,0,0,0,3,0,0.375,198,career
15,After 0-1,207,NaN,420,373,NaN,81,20,1,16,47,NaN,NaN,36,130,0.217,0.293,0.405,0.698,151,6,6,0,5,1,3,0.280,73,career
16,After 1-1,190,NaN,378,319,NaN,77,15,2,14,36,NaN,NaN,54,105,0.241,0.354,0.433,0.787,138,4,3,0,2,1,1,0.312,97,career
17,After 2-1,149,NaN,219,158,NaN,38,11,0,11,23,NaN,NaN,59,45,0.241,0.443,0.519,0.962,82,2,0,0,2,1,0,0.260,141,career
18,After 3-1,78,NaN,97,45,NaN,9,3,0,4,9,NaN,NaN,51,12,0.200,0.619,0.533,1.152,24,2,0,0,1,1,0,0.167,195,career
19,After 0-2,127,NaN,166,151,NaN,26,6,1,5,21,NaN,NaN,9,69,0.172,0.229,0.325,0.553,49,3,3,0,3,0,2,0.263,37,career
20,After 1-2,166,NaN,263,236,NaN,43,9,1,9,27,NaN,NaN,23,118,0.182,0.259,0.343,0.602,81,2,2,0,2,0,2,0.306,50,career
21,After 2-2,162,NaN,252,210,NaN,39,10,0,10,26,NaN,NaN,41,95,0.186,0.317,0.376,0.694,79,2,0,0,1,0,2,0.274,73,career
22,Zero Balls,144,NaN,187,178,26.0,47,9,0,9,33,1.0,5.0,0,27,0.264,0.278,0.466,0.744,83,4,5,0,4,0,1,0.260,82,career
23,Zero Strikes,128,NaN,161,142,27.0,49,8,0,11,34,2.0,3.0,16,0,0.345,0.404,0.634,1.038,90,2,0,0,3,3,0,0.284,155,career
24,Three Balls,150,NaN,226,117,14.0,27,8,0,9,21,2.0,1.0,108,44,0.231,0.597,0.530,1.127,62,2,0,0,1,4,0,0.277,188,career
25,Two Strikes,214,NaN,469,398,32.0,66,16,1,13,42,3.0,4.0,63,195,0.166,0.284,0.309,0.593,123,4,4,0,4,0,3,0.273,49,career
26,Batter Ahead,193,NaN,343,231,38.0,64,16,0,19,48,4.0,1.0,108,44,0.277,0.501,0.593,1.095,137,3,0,0,4,4,0,0.262,174,career
27,Even Count,170,NaN,283,278,30.0,79,15,2,11,39,1.0,4.0,0,63,0.284,0.286,0.471,0.757,131,5,2,0,3,0,2,0.329,85,career
28,Pitcher Ahead,152,NaN,229,218,22.0,37,8,1,6,25,1.0,2.0,0,88,0.170,0.192,0.298,0.490,65,3,7,0,4,0,1,0.242,20,career

outs

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,0 outs,174,NaN,266,228,22,60,12,1,13,26,2,0,34,63,0.263,0.353,0.496,0.849,113,3,0,0,4,1,1,0.301,110,career
1,1 out,183,NaN,309,258,24,55,13,1,11,46,4,3,41,71,0.213,0.320,0.399,0.720,103,8,3,0,7,2,0,0.240,79,career
2,2 outs,181,NaN,280,241,44,65,14,1,12,40,0,4,33,61,0.270,0.371,0.485,0.857,117,0,6,0,0,1,2,0.315,113,career

bases

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,RISP,142,NaN,219,168,57.0,34,2,0,8,71,2,3,36,55,0.202,0.338,0.357,0.695,60,2,4,0,11,4,0,0.224,75.0,career
1,---,214,NaN,475,416,19.0,109,32,2,19,19,0,0,56,100,0.262,0.354,0.486,0.839,202,0,3,0,0,0,2,0.303,108.0,career
2,Men On,198,NaN,380,311,71.0,71,7,1,17,93,6,7,52,95,0.228,0.339,0.421,0.761,131,11,6,0,11,4,1,0.257,90.0,career
3,1--,131,NaN,161,143,14.0,37,5,1,9,22,4,4,16,40,0.259,0.342,0.497,0.838,71,9,2,0,0,0,1,0.298,107.0,career
4,-2-,56,NaN,60,49,16.0,9,0,0,3,10,0,0,11,11,0.184,0.333,0.367,0.701,18,0,0,0,0,1,0,0.171,76.0,career
5,--3,29,NaN,29,18,5.0,1,0,0,0,5,0,0,6,6,0.056,0.310,0.056,0.366,1,0,2,0,3,0,0,0.067,2.0,career
6,12-,51,NaN,50,42,16.0,7,1,0,1,9,2,1,8,15,0.167,0.300,0.262,0.562,11,0,0,0,0,0,0,0.231,44.0,career
7,1-3,34,NaN,24,21,6.0,8,0,0,1,13,0,2,1,8,0.381,0.417,0.524,0.940,11,1,1,0,1,0,0,0.538,135.0,career
8,-23,33,NaN,33,23,4.0,4,1,0,1,11,0,0,8,10,0.174,0.364,0.348,0.711,8,0,0,0,2,3,0,0.214,81.0,career
9,123,21,NaN,23,15,10.0,5,0,0,2,23,0,0,2,5,0.333,0.348,0.733,1.081,11,1,1,0,5,0,0,0.231,160.0,career
10,"on 1st, <2 out",120,NaN,156,134,18.0,34,5,0,6,38,6,3,15,42,0.254,0.321,0.425,0.746,57,11,1,0,6,0,0,0.304,85.0,career
11,"on 3rd, <2 out",63,NaN,68,42,13.0,11,1,0,2,36,0,1,15,14,0.262,0.382,0.429,0.811,18,2,0,0,11,3,0,0.243,104.0,career
12,"on 3rd, 2 out",38,NaN,41,35,12.0,7,0,0,2,16,0,1,2,15,0.200,0.317,0.371,0.689,13,0,4,0,0,0,0,0.278,72.0,career
13,"0 out, ---",142,NaN,187,164,10.0,45,11,1,10,10,0,0,23,44,0.274,0.364,0.537,0.900,88,0,0,0,0,0,1,0.318,122.0,career
14,"0 out, 1--",38,NaN,36,33,4.0,10,1,0,2,4,2,0,3,9,0.303,0.361,0.515,0.876,17,3,0,0,0,0,0,0.364,116.0,career
15,"0 out, -2-",10,NaN,11,9,4.0,1,0,0,1,2,0,0,2,1,0.111,0.273,0.444,0.717,4,0,0,0,0,0,0,0.000,76.0,career
16,"0 out, --3",2,NaN,2,0,NaN,0,0,0,0,1,0,0,1,0,NaN,0.500,NaN,NaN,0,0,0,0,1,0,0,0.000,NaN,career
17,"0 out, 12-",12,NaN,10,8,1.0,0,0,0,0,0,0,0,2,4,0.000,0.200,0.000,0.200,0,0,0,0,0,0,0,0.000,-42.0,career
18,"0 out, 1-3",11,NaN,9,8,1.0,3,0,0,0,5,0,0,1,3,0.375,0.444,0.375,0.819,3,0,0,0,0,0,0,0.600,110.0,career
19,"0 out, -23",9,NaN,9,6,NaN,1,0,0,0,2,0,0,2,2,0.167,0.333,0.167,0.500,1,0,0,0,1,1,0,0.200,32.0,career
20,"0 out, 123",2,NaN,2,0,2.0,0,0,0,0,2,0,0,0,0,NaN,0.000,NaN,NaN,0,0,0,0,2,0,0,0.000,NaN,career
21,"1 out, ---",126,NaN,160,137,5.0,29,8,1,5,5,0,0,21,33,0.212,0.325,0.394,0.719,54,0,2,0,0,0,0,0.242,80.0,career
22,"1 out, 1--",61,NaN,68,61,4.0,15,3,0,3,9,2,1,6,18,0.246,0.324,0.443,0.766,27,6,1,0,0,0,0,0.300,90.0,career
23,"1 out, -2-",22,NaN,21,19,3.0,2,0,0,1,3,0,0,2,6,0.105,0.190,0.263,0.454,5,0,0,0,0,0,0,0.083,12.0,career
24,"1 out, --3",15,NaN,15,9,2.0,1,0,0,0,4,0,0,4,3,0.111,0.333,0.111,0.444,1,0,0,0,2,0,0,0.125,20.0,career
25,"1 out, 12-",15,NaN,14,13,2.0,2,1,0,0,3,2,1,1,5,0.154,0.214,0.231,0.445,3,0,0,0,0,0,0,0.250,12.0,career
26,"1 out, 1-3",8,NaN,7,6,3.0,2,0,0,1,5,0,1,0,2,0.333,0.286,0.833,1.119,5,1,0,0,1,0,0,0.250,164.0,career
27,"1 out, -23",14,NaN,14,8,4.0,2,1,0,1,7,0,0,5,3,0.250,0.500,0.750,1.250,6,0,0,0,1,2,0,0.200,208.0,career
28,"1 out, 123",10,NaN,10,5,1.0,2,0,0,0,10,0,0,2,1,0.400,0.400,0.400,0.800,2,1,0,0,3,0,0,0.286,103.0,career
29,"2 out, ---",106,NaN,128,115,4.0,35,13,0,4,4,0,0,12,23,0.304,0.375,0.522,0.897,60,0,1,0,0,0,1,0.352,122.0,career
30,"2 out, 1--",54,NaN,57,49,6.0,12,1,1,4,9,0,3,7,13,0.245,0.351,0.551,0.902,27,0,1,0,0,0,1,0.250,121.0,career
31,"2 out, -2-",28,NaN,28,21,9.0,6,0,0,1,5,0,0,7,4,0.286,0.464,0.429,0.893,9,0,0,0,0,1,0,0.313,127.0,career
32,"2 out, --3",12,NaN,12,9,3.0,0,0,0,0,0,0,0,1,3,0.000,0.250,0.000,0.250,0,0,2,0,0,0,0,0.000,-28.0,career
33,"2 out, 12-",28,NaN,26,21,13.0,5,0,0,1,6,0,0,5,6,0.238,0.385,0.381,0.766,8,0,0,0,0,0,0,0.286,94.0,career
34,"2 out, 1-3",15,NaN,8,7,2.0,3,0,0,0,3,0,1,0,3,0.429,0.500,0.429,0.929,3,0,1,0,0,0,0,0.750,138.0,career
35,"2 out, -23",10,NaN,10,9,NaN,1,0,0,0,2,0,0,1,5,0.111,0.200,0.111,0.311,1,0,0,0,0,0,0,0.250,-18.0,career
36,"2 out, 123",10,NaN,11,10,7.0,3,0,0,2,11,0,0,0,4,0.300,0.364,0.900,1.264,9,0,1,0,0,0,0,0.250,201.0,career

clutc

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,"2 outs, RISP",81,NaN,95,77,34,18,0,0,4,27,0,1,14,25,0.234,0.379,0.390,0.769,30,0,4,0,0,1,0,0.292,94,career
1,Late & Close,109,NaN,136,116,12,29,6,1,7,24,0,2,18,40,0.250,0.353,0.500,0.853,58,2,1,0,1,2,0,0.314,111,career
2,Tie Game,147,NaN,237,197,28,55,15,0,8,25,2,3,37,52,0.279,0.397,0.477,0.874,94,3,2,0,1,1,0,0.341,119,career
3,Within 1 R,204,NaN,450,381,47,101,22,1,18,60,2,5,60,96,0.265,0.364,0.470,0.834,179,5,3,0,6,2,1,0.304,108,career
4,Within 2 R,218,NaN,590,500,59,132,31,1,24,78,5,7,76,130,0.264,0.363,0.474,0.837,237,6,6,0,8,3,2,0.305,108,career
5,Within 3 R,226,NaN,675,574,66,147,34,2,26,88,6,7,87,147,0.256,0.356,0.458,0.814,263,8,6,0,8,3,2,0.296,103,career
6,Within 4 R,230,NaN,751,638,75,157,36,3,30,98,6,7,96,167,0.246,0.346,0.453,0.799,289,10,7,0,10,4,3,0.282,99,career
7,Margin > 4 R,61,NaN,104,89,15,23,3,0,6,14,0,0,12,28,0.258,0.356,0.494,0.850,44,1,2,0,1,0,0,0.304,110,career
8,Ahead,146,NaN,352,305,27,75,16,2,9,43,4,4,36,77,0.246,0.324,0.400,0.724,122,6,3,0,8,3,1,0.291,81,career
9,Behind,133,NaN,266,225,35,50,8,1,19,44,0,0,35,66,0.222,0.335,0.520,0.855,117,2,4,0,2,0,2,0.218,110,career

lever

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,High Lvrge,116,NaN,157,125,29,27,3,0,7,41,1,2,25,41,0.216,0.350,0.408,0.758,51,4,3,0,4,1,0,0.247,90,career
1,Medium Lvrge,184,NaN,312,264,35,68,13,1,16,42,1,5,41,66,0.258,0.353,0.496,0.849,131,5,1,0,6,1,1,0.277,110,career
2,Low Lvrge,180,NaN,386,338,26,85,23,2,13,29,4,0,42,88,0.251,0.342,0.447,0.789,151,2,5,0,1,2,2,0.303,96,career

innng

,Split,G,IP,ER,ERA,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,1st inning,110,NaN,NaN,NaN,NaN,110,99,8,24,9,0,1,11,1,1,8,24,0.242,0.300,0.364,0.664,36,2,1,0,2,0,0,0.303,66,career
1,2nd inning,88,NaN,NaN,NaN,NaN,88,75,13,22,4,0,6,11,1,1,12,17,0.293,0.398,0.587,0.984,44,1,1,0,0,0,0,0.308,143,career
2,3rd inning,81,NaN,NaN,NaN,NaN,81,65,8,9,1,0,2,10,0,1,12,22,0.138,0.272,0.246,0.518,16,0,1,0,3,0,1,0.159,32,career
3,4th inning,104,NaN,NaN,NaN,NaN,103,91,13,23,4,1,5,13,1,1,9,19,0.253,0.320,0.484,0.804,44,0,1,0,2,0,0,0.261,98,career
4,5th inning,83,NaN,NaN,NaN,NaN,83,68,9,16,3,0,5,13,0,0,10,12,0.235,0.337,0.500,0.837,34,1,2,0,3,0,0,0.204,106,career
5,6th inning,99,NaN,NaN,NaN,NaN,98,78,13,26,8,0,5,12,0,1,20,16,0.333,0.469,0.628,1.098,49,2,0,0,0,0,2,0.368,172,career
6,7th inning,102,NaN,NaN,NaN,NaN,100,86,13,25,5,1,6,18,0,1,12,21,0.291,0.390,0.581,0.971,50,1,2,0,0,2,0,0.322,139,career
7,8th inning,97,NaN,NaN,NaN,NaN,97,89,5,13,3,1,1,4,2,0,8,40,0.146,0.216,0.236,0.452,21,4,0,0,0,0,0,0.250,14,career
8,9th inning,76,NaN,NaN,NaN,NaN,77,63,6,18,1,0,4,17,1,1,13,19,0.286,0.416,0.492,0.908,31,0,1,0,0,2,0,0.350,127,career
9,Ext inning,14,NaN,NaN,NaN,NaN,18,13,2,4,1,0,1,3,0,0,4,5,0.308,0.444,0.615,1.060,8,0,0,0,1,0,0,0.375,162,career
10,Innings 1-3,194,NaN,NaN,NaN,NaN,279,239,29,55,14,0,9,32,2,3,32,63,0.230,0.323,0.402,0.724,96,3,3,0,5,0,1,0.267,81,career
11,Innings 4-6,198,NaN,NaN,NaN,NaN,284,237,35,65,15,1,15,38,1,2,39,47,0.274,0.377,0.536,0.913,127,3,3,0,5,0,2,0.278,126,career
12,Innings 7-9,217,NaN,NaN,NaN,NaN,274,238,24,56,9,2,11,39,3,2,33,80,0.235,0.336,0.429,0.764,102,5,3,0,0,4,0,0.306,90,career

times

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,vs. SP,196,NaN,500,431,50.0,114,30,2,20,53,3,6,55,96,0.265,0.350,0.483,0.833,208,4,6,0,8,0,3,0.291,106,career
1,vs. RP,212,NaN,355,296,40.0,66,9,1,16,59,3,1,53,99,0.223,0.344,0.422,0.766,125,7,3,0,3,4,0,0.272,91,career
2,"vs. SP, 1st",196,NaN,196,174,NaN,45,13,0,6,17,0,0,19,43,0.259,0.332,0.437,0.768,76,3,1,0,2,0,0,0.307,91,career
3,"vs. SP, 2nd",182,NaN,182,152,NaN,36,4,1,10,27,0,0,23,36,0.237,0.341,0.474,0.814,72,0,3,0,4,0,1,0.236,102,career
4,"vs. SP, 3rd",121,NaN,121,104,NaN,32,12,1,4,9,0,0,13,17,0.308,0.388,0.558,0.946,58,1,2,0,2,0,2,0.329,134,career
5,"vs. SP, 4th+",5,NaN,1,1,NaN,1,1,0,0,0,0,0,0,0,1.000,1.000,2.000,3.000,2,0,0,0,0,0,0,1.000,625,career
6,"vs. RP, 1st",212,NaN,338,280,NaN,64,9,1,15,57,0,0,52,95,0.229,0.352,0.429,0.781,120,7,3,0,3,3,0,0.283,95,career
7,"vs. RP, 2nd",16,NaN,17,16,NaN,2,0,0,1,2,0,0,1,4,0.125,0.176,0.313,0.489,5,0,0,0,0,1,0,0.091,19,career

power

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,vs. Power,115,NaN,188,154,NaN,38,3,1,11,33,NaN,NaN,30,55,0.247,0.372,0.494,0.866,76,3,2,0,2,0,1,0.30,115,career
1,vs. avg.P/F,141,NaN,312,260,NaN,54,12,0,12,33,NaN,NaN,44,78,0.208,0.324,0.392,0.716,102,6,3,0,5,3,1,0.24,79,career
2,vs. Finesse,139,NaN,355,313,NaN,88,24,2,13,46,NaN,NaN,34,62,0.281,0.355,0.495,0.850,155,2,4,0,4,1,1,0.31,110,career

gbfb

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,vs. Fly Ball,155,NaN,343,284,NaN,60,14,1,15,41,NaN,NaN,47,74,0.211,0.324,0.426,0.750,121,3,4,0,8,3,2,0.222,86,career
1,vs. avg.F/G,157,NaN,370,317,NaN,88,21,2,15,51,NaN,NaN,47,81,0.278,0.373,0.498,0.871,158,6,3,0,3,1,0,0.326,116,career
2,vs. GrndBall,86,NaN,136,121,NaN,31,4,0,6,18,NaN,NaN,13,38,0.256,0.338,0.438,0.776,53,2,2,0,0,0,1,0.325,93,career
3,NaN,3,NaN,6,5,NaN,1,0,0,0,2,NaN,NaN,1,2,0.200,0.333,0.200,0.533,1,0,0,0,0,0,0,0.333,40,career

hitlo

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,To Infield,155,NaN,240,240,NaN,17,0,0,0,7,NaN,NaN,0,0,0.071,0.071,0.071,0.142,17,11,0,0,0,0,2,0.071,-64,career
1,To Outfield,174,NaN,301,290,NaN,162,39,3,36,102,NaN,NaN,0,0,0.559,0.538,1.086,1.624,315,0,0,0,11,0,1,0.475,292,career
2,Ball In Play,208,NaN,507,496,NaN,144,39,3,0,49,NaN,NaN,0,0,0.290,0.284,0.381,0.665,189,11,0,0,11,0,3,0.284,65,career
3,Not in Play,191,NaN,348,231,NaN,36,0,0,36,63,NaN,NaN,108,195,0.156,0.440,0.623,1.063,144,0,9,0,0,4,0,NaN,163,career
4,Fair Terr,211,NaN,525,514,NaN,179,39,3,36,109,NaN,NaN,0,0,0.348,0.341,0.646,0.987,332,11,0,0,11,0,3,0.292,139,career
5,Foul Terr,16,NaN,16,16,NaN,0,0,0,0,0,NaN,NaN,0,0,0.000,0.000,0.000,0.000,0,0,0,0,0,0,0,0.000,-100,career
6,Pulled-LHB,124,NaN,175,174,NaN,53,13,2,16,33,NaN,NaN,0,0,0.305,0.303,0.678,0.981,118,6,0,0,1,0,2,0.233,135,career
7,Up Mdle-LHB,164,NaN,271,263,NaN,102,17,1,17,65,NaN,NaN,0,0,0.388,0.376,0.654,1.030,172,5,0,0,8,0,0,0.335,151,career
8,Opp Fld-LHB,80,NaN,95,93,NaN,24,9,0,3,11,NaN,NaN,0,0,0.258,0.253,0.452,0.704,42,0,0,0,2,0,1,0.228,72,career
9,Unknown Loc,2,NaN,2,2,NaN,1,0,0,0,0,NaN,NaN,0,0,0.500,0.500,0.500,1.000,1,0,0,0,0,0,0,0.500,153,career

traj

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Ground Balls,152,NaN,235,235,NaN,56,3,0,0,18,NaN,NaN,0,0,0.238,0.238,0.251,0.489,59,11,0,0,0,0,3,0.238,23,career
1,Fly Balls,123,NaN,164,156,NaN,39,8,1,29,58,NaN,NaN,0,0,0.250,0.238,0.872,1.110,136,0,0,0,8,0,0,0.074,159,career
2,Line Drives,105,NaN,141,138,NaN,83,28,2,7,33,NaN,NaN,0,0,0.601,0.589,0.986,1.574,136,0,0,0,3,0,0,0.567,285,career
3,Bunts,3,NaN,3,3,NaN,2,0,0,0,0,NaN,NaN,0,0,0.667,0.667,0.667,1.333,2,0,0,0,0,0,0,0.667,238,career

site

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,LAA-Angel Stad,31,18,73,62,7,11,1,0,3,7,2,3,10,13,0.177,0.288,0.339,0.626,21,2,0,0,1,1,0,0.170,57,career
1,PHI-CitizensBank,2,0,2,2,1,2,0,0,1,4,0,0,0,0,1.000,1.000,2.500,3.500,5,0,0,0,0,0,0,1.000,734,career
2,DET-Comerica Pk,2,1,6,5,0,3,0,0,0,1,0,0,1,0,0.600,0.667,0.600,1.267,3,0,0,0,0,0,0,0.600,223,career
3,CHW-Guaranteed,5,5,21,18,1,1,1,0,0,1,0,0,2,7,0.056,0.143,0.111,0.254,2,0,0,0,1,0,0,0.083,-35,career
4,LAD-Dodger Stad,2,2,10,8,1,2,0,0,1,3,0,0,1,4,0.250,0.300,0.625,0.925,5,0,0,0,1,0,0,0.250,123,career
5,HOU-MinuteMaidPk,7,6,26,24,6,6,3,0,2,5,0,0,2,9,0.250,0.308,0.625,0.933,15,0,0,0,0,0,0,0.308,125,career
6,BOS-Fenway Pk,8,6,30,22,6,11,4,0,1,4,1,0,7,7,0.500,0.600,0.818,1.418,18,1,0,0,1,0,0,0.667,252,career
7,CLE-Progressive,12,11,48,40,3,9,2,0,2,5,0,1,7,12,0.225,0.333,0.425,0.758,17,1,0,0,1,0,0,0.259,89,career
8,MIA-Marlins Pk,2,2,8,8,0,2,0,0,0,0,0,0,0,1,0.250,0.250,0.250,0.500,2,0,0,0,0,0,0,0.286,27,career
9,MIL-Miller Pk,5,1,8,8,1,1,1,0,0,0,0,0,0,5,0.125,0.125,0.250,0.375,2,0,0,0,0,0,0,0.333,-9,career
10,OAK-Oakland Col.,6,4,16,14,1,3,0,0,1,3,0,0,1,2,0.214,0.250,0.429,0.679,6,1,0,0,1,0,0,0.167,66,career
11,BAL-Camden Yards,10,10,40,29,2,5,2,0,0,4,0,0,8,5,0.172,0.350,0.241,0.591,7,0,1,0,2,0,0,0.192,53,career
12,SFG-AT&T Pk,2,2,9,8,1,5,2,0,0,2,0,0,0,1,0.625,0.667,0.875,1.542,7,0,1,0,0,0,0,0.714,283,career
13,SDP-Petco Pk,3,2,9,9,3,4,3,0,1,2,0,0,0,0,0.444,0.444,1.111,1.556,10,0,0,0,0,0,0,0.375,271,career
14,KCR-KauffmanStad,6,5,23,21,2,5,2,0,1,5,0,0,2,2,0.238,0.304,0.476,0.781,10,0,0,0,0,0,1,0.222,92,career
15,SEA-Safeco Fld,5,2,10,7,0,0,0,0,0,1,0,0,3,2,0.000,0.300,0.000,0.300,0,1,0,0,0,0,0,0.000,-14,career
16,TOR-Rogers Ctr,16,13,58,55,10,16,5,0,4,6,0,1,3,14,0.291,0.328,0.600,0.928,33,0,0,0,0,0,1,0.324,126,career
17,ATL-SunTrust Pk,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0,0,0,0,0,0,0,0.000,-100,career
18,MIN-Target Field,9,7,31,24,1,4,0,0,1,2,0,0,6,10,0.167,0.355,0.292,0.647,7,1,1,0,0,1,0,0.231,66,career
19,TEX-Rangers Bpk,6,5,25,17,4,8,0,0,3,7,0,0,8,4,0.471,0.640,1.000,1.640,17,1,0,0,0,0,0,0.500,303,career
20,TBR-TropicanaFld,94,80,351,300,35,74,10,3,13,45,3,2,42,86,0.247,0.348,0.430,0.778,129,2,6,0,3,2,1,0.299,94,career
21,CHC-Wrigley Fld,2,2,6,6,0,1,0,0,0,0,0,0,0,1,0.167,0.167,0.167,0.333,1,0,0,0,0,0,0,0.200,-15,career
22,NYY-Yankee Stad3,12,10,44,39,5,7,3,0,2,5,0,0,5,10,0.179,0.273,0.410,0.683,16,1,0,0,0,0,0,0.185,68,career

stad

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Night,163,129,565,481,61,123,24,3,26,72,4,4,74,114,0.256,0.361,0.480,0.841,231,9,7,0,3,2,1,0.282,109,career
1,Day,85,65,290,246,29,57,15,0,10,40,2,3,34,81,0.232,0.321,0.415,0.735,102,2,2,0,8,2,2,0.288,83,career
2,Open,131,97,425,353,42,88,23,0,19,59,3,4,61,87,0.249,0.358,0.476,0.834,168,9,3,0,8,2,1,0.271,107,career
3,Dome,117,97,430,374,48,92,16,3,17,53,3,3,47,108,0.246,0.337,0.441,0.778,165,2,6,0,3,2,2,0.298,93,career
4,Grass,138,101,446,372,45,90,24,0,19,61,3,4,63,95,0.242,0.350,0.460,0.809,171,9,3,0,8,2,1,0.267,101,career
5,Artif. Turf,110,93,409,355,45,90,15,3,17,51,3,3,45,100,0.254,0.345,0.456,0.801,162,2,6,0,3,2,2,0.303,99,career

oppon

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Inter-League,38,29,124,114,9,27,4,0,5,14,0,0,8,34,0.237,0.290,0.404,0.694,46,2,1,0,1,1,0,0.289,72,career
1,Los Angeles Angels,7,4,21,19,3,2,0,0,1,2,0,0,1,6,0.105,0.190,0.263,0.454,5,2,1,0,0,0,0,0.083,12,career
2,Arizona Diamondbacks,5,3,16,16,1,3,1,0,0,2,0,0,0,5,0.188,0.188,0.250,0.438,4,0,0,0,0,0,0,0.273,9,career
3,Atlanta Braves,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0,0,0,0,0,0,0,0.000,-100,career
4,Baltimore Orioles,22,21,85,63,11,15,4,1,3,13,0,1,18,12,0.238,0.400,0.476,0.876,30,0,1,0,3,0,0,0.235,119,career
5,Boston Red Sox,22,16,75,62,15,23,7,2,2,11,2,0,11,21,0.371,0.467,0.645,1.112,40,1,1,0,1,1,0,0.525,175,career
6,Chicago Cubs,3,2,6,6,0,1,0,0,0,0,0,0,0,1,0.167,0.167,0.167,0.333,1,0,0,0,0,0,0,0.200,-15,career
7,Chicago White Sox,13,13,52,44,3,7,2,0,0,6,2,0,5,14,0.159,0.231,0.205,0.435,9,0,0,0,3,0,0,0.212,11,career
8,Cleveland Indians,18,17,71,62,7,17,2,0,5,11,0,1,7,22,0.274,0.352,0.548,0.900,34,1,1,0,1,0,0,0.333,121,career
9,Colorado Rockies,3,2,9,7,1,2,0,0,0,0,0,0,2,2,0.286,0.444,0.286,0.730,2,0,0,0,0,0,0,0.400,90,career
10,Detroit Tigers,6,3,18,15,0,7,1,0,0,3,0,0,3,2,0.467,0.556,0.533,1.089,8,0,0,0,0,0,0,0.538,177,career
11,Miami Marlins,6,6,25,24,2,6,0,0,1,2,0,0,1,5,0.250,0.280,0.375,0.655,9,0,0,0,0,0,0,0.278,63,career
12,Houston Astros,12,10,42,39,6,10,3,0,2,7,1,1,3,15,0.256,0.310,0.487,0.797,19,0,0,0,0,0,1,0.364,96,career
13,Kansas City Royals,11,9,39,33,2,8,3,0,1,5,0,0,6,5,0.242,0.359,0.424,0.783,14,0,0,0,0,0,1,0.259,96,career
14,Los Angeles Dodgers,4,4,18,16,1,4,0,0,1,3,0,0,1,6,0.250,0.278,0.438,0.715,7,0,0,0,1,0,0,0.300,76,career
15,Milwaukee Brewers,6,2,12,10,1,1,0,0,1,2,0,0,2,5,0.100,0.250,0.400,0.650,4,1,0,0,0,0,0,0.000,59,career
16,Minnesota Twins,13,10,45,36,4,7,1,0,2,4,0,0,7,14,0.194,0.356,0.389,0.744,14,1,2,0,0,1,0,0.250,88,career
17,New York Yankees,17,16,65,56,6,15,3,0,2,4,0,0,9,13,0.268,0.369,0.429,0.798,24,1,0,0,0,0,0,0.317,100,career
18,Oakland Athletics,15,11,47,41,5,7,0,0,4,10,1,1,4,5,0.171,0.255,0.463,0.719,19,1,1,0,1,1,0,0.091,75,career
19,Philadelphia Phillies,2,0,2,2,1,2,0,0,1,4,0,0,0,0,1.000,1.000,2.500,3.500,5,0,0,0,0,0,0,1.000,734,career
20,San Diego Padres,3,2,9,9,3,4,3,0,1,2,0,0,0,0,0.444,0.444,1.111,1.556,10,0,0,0,0,0,0,0.375,271,career
21,Seattle Mariners,13,7,32,25,0,2,0,0,0,1,0,1,6,6,0.080,0.281,0.080,0.361,2,1,1,0,0,1,0,0.105,-2,career
22,San Francisco Giants,2,2,9,8,1,5,2,0,0,2,0,0,0,1,0.625,0.667,0.875,1.542,7,0,1,0,0,0,0,0.714,283,career
23,St. Louis Cardinals,1,0,1,1,0,0,0,0,0,0,0,0,0,1,0.000,0.000,0.000,0.000,0,0,0,0,0,0,0,NaN,-100,career
24,Tampa Bay Rays,1,1,3,2,0,0,0,0,0,0,0,0,1,0,0.000,0.333,0.000,0.333,0,0,0,0,0,0,0,0.000,-4,career
25,Texas Rangers,15,10,48,37,5,10,0,0,4,8,0,0,11,9,0.270,0.438,0.595,1.032,22,2,0,0,0,0,0,0.250,156,career
26,Toronto Blue Jays,27,23,104,93,12,22,7,0,5,10,0,2,10,25,0.237,0.308,0.473,0.781,44,0,0,0,1,0,1,0.266,92,career
27,WP < .500,124,97,432,361,46,88,20,1,19,61,3,4,60,91,0.244,0.352,0.463,0.814,167,4,4,0,7,3,1,0.267,103,career
28,WP >= .500,124,97,423,366,44,92,19,2,17,51,3,3,48,104,0.251,0.343,0.454,0.796,166,7,5,0,4,1,2,0.301,98,career

CPU times: user 1.26 s, sys: 43.9 ms, total: 1.3 s
Wall time: 25.7 s

In [9]:
%%time
for player in [jiman]:
    for table in ['total', 'plato', 'hmvis', 'half', 'month', f'outcb',
                              'stsub', 'defp', 'leado', 'lineu', 'count', 'outs',
                              'bases', 'clutc', 'lever', 'innng', 'times', 'power',
                              'gbfb', 'hitlo', 'traj', "site", "stad", "oppon"]:
        print(table)
        display(player.splits(split_type="b", table_type=table))

total

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Career Totals,248,194,855,727,90,180,39,3,36,112,6,7,108,195,0.248,0.347,0.458,0.805,333,11,9,0,11,4,3,0.284,100,career

plato

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,vs RHP,235,NaN,730,619,78.0,160,36,3,33,103,6,6,94,164,0.258,0.358,0.486,0.844,301,10,7,0,10,4,3,0.294,109,career
1,vs LHP,82,NaN,125,108,12.0,20,3,0,3,9,0,1,14,31,0.185,0.288,0.296,0.584,32,1,2,0,1,0,0,0.227,48,career
2,vs RHP as LHB,235,NaN,730,619,NaN,160,36,3,33,103,0,0,94,164,0.258,0.358,0.486,0.844,301,10,7,0,10,4,3,0.294,109,career
3,vs LHP as LHB,82,NaN,125,108,NaN,20,3,0,3,9,0,0,14,31,0.185,0.288,0.296,0.584,32,1,2,0,1,0,0,0.227,48,career
4,vs RH Starter,201,181.0,760,653,77.0,158,35,3,31,96,6,6,90,175,0.242,0.336,0.447,0.783,292,10,7,0,10,3,3,0.278,94,career
5,vs LH Starter,47,13.0,95,74,13.0,22,4,0,5,16,0,1,18,20,0.297,0.442,0.554,0.996,41,1,2,0,1,1,0,0.340,148,career

hmvis

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Home,129,101,437,374,44,88,12,3,18,56,5,5,53,103,0.235,0.336,0.428,0.764,160,4,6,0,4,3,1,0.272,90,career
1,Away,119,93,418,353,46,92,27,0,18,56,1,2,55,92,0.261,0.359,0.490,0.849,173,7,3,0,7,1,2,0.296,110,career

half

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,1st Half,105,83,367,317,34,77,13,1,13,42,1,4,42,86,0.243,0.335,0.413,0.748,131,6,4,0,4,1,2,0.288,87,career
1,2nd Half,143,111,488,410,56,103,26,2,23,70,5,3,66,109,0.251,0.357,0.493,0.849,202,5,5,0,7,3,1,0.281,111,career

month

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,April/March,30,23,98,80,11,22,7,1,1,8,1,3,15,19,0.275,0.398,0.425,0.823,34,0,2,0,1,0,2,0.344,107,career
1,May,35,28,129,116,9,25,3,0,5,13,0,1,11,35,0.216,0.279,0.371,0.650,43,3,0,0,2,1,0,0.256,61,career
2,June,29,22,100,86,11,22,1,0,5,15,0,0,11,22,0.256,0.350,0.442,0.792,38,2,2,0,1,0,0,0.283,97,career
3,July,48,39,162,144,16,36,9,0,6,20,2,0,16,37,0.250,0.321,0.438,0.758,63,2,0,0,2,1,1,0.291,88,career
4,August,53,44,194,162,21,40,10,1,8,27,2,2,27,39,0.247,0.361,0.469,0.830,76,2,3,0,2,2,0,0.274,106,career
5,Sept/Oct,53,38,172,139,22,35,9,1,11,29,1,1,28,43,0.252,0.378,0.568,0.946,79,2,2,0,3,0,0,0.273,133,career

outcb

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,in Wins,139,111,511,441,64,137,33,2,21,78,5,3,57,111,0.311,0.389,0.537,0.927,237,7,5,0,8,4,2,0.366,129,career
1,in Losses,109,83,344,286,26,43,6,1,15,34,1,4,51,84,0.150,0.285,0.336,0.621,96,4,4,0,3,0,1,0.147,55,career

stsub

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,as Starter,194,194,797,682,83,167,37,3,33,98,5,7,96,178,0.245,0.340,0.453,0.793,309,10,8,0,11,2,3,0.278,97,career
1,as Sub,54,0,58,45,7,13,2,0,3,14,1,0,12,17,0.289,0.448,0.533,0.982,24,1,1,0,0,2,0,0.400,145,career

defp

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,as 1B,129.0,NaN,493.0,420.0,55.0,113.0,22.0,2.0,21.0,64.0,2,5,60.0,101.0,0.269,0.359,0.481,0.840,202.0,10.0,4.0,0.0,9.0,1.0,3.0,0.300,108.0,career
1,as LF,17.0,NaN,52.0,44.0,4.0,8.0,2.0,0.0,3.0,9.0,0,2,8.0,7.0,0.182,0.308,0.432,0.740,19.0,1.0,0.0,0.0,0.0,0.0,0.0,0.147,83.0,career
2,as DH,68.0,NaN,270.0,234.0,27.0,53.0,13.0,1.0,11.0,33.0,3,0,30.0,75.0,0.226,0.322,0.432,0.754,101.0,0.0,4.0,0.0,2.0,1.0,0.0,0.280,87.0,career
3,as PH,42.0,NaN,42.0,31.0,4.0,6.0,2.0,0.0,1.0,6.0,0,0,10.0,13.0,0.194,0.405,0.355,0.760,11.0,0.0,1.0,0.0,0.0,2.0,0.0,0.294,94.0,career
4,as PH for DH,2.0,NaN,2.0,2.0,NaN,0.0,0.0,0.0,0.0,0.0,0,0,0.0,1.0,0.000,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,-100.0,career
5,as PR,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,career

leado

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,1st Batter G,10,NaN,10,9,NaN,2,2,0,0,0,NaN,NaN,1,2,0.222,0.300,0.444,0.744,4,0,0,0,0,0,0,0.286,83,career
1,Leadoff Inn.,138,NaN,180,157,NaN,42,11,1,10,10,NaN,NaN,23,43,0.268,0.361,0.541,0.903,85,0,0,0,0,0,1,0.308,122,career

lineu

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Batting 1st,12,10,49,42,7,10,3,0,1,4,0,0,7,12,0.238,0.347,0.381,0.728,16,1,0,0,0,0,0,0.310,83,career
1,Batting 2nd,4,1,6,6,2,2,1,0,1,2,1,0,0,3,0.333,0.333,1.000,1.333,6,0,0,0,0,0,0,0.500,214,career
2,Batting 3rd,65,65,284,245,29,61,13,2,10,33,2,2,32,56,0.249,0.342,0.441,0.782,108,3,4,0,3,0,2,0.280,95,career
3,Batting 4th,37,30,126,102,15,26,6,0,4,16,1,0,18,34,0.255,0.373,0.431,0.804,44,1,3,0,3,0,0,0.328,102,career
4,Batting 5th,43,38,165,146,24,45,9,1,13,33,1,1,16,35,0.308,0.370,0.651,1.020,95,2,0,0,3,0,0,0.317,149,career
5,Batting 6th,28,21,88,71,3,9,1,0,3,7,0,1,16,25,0.127,0.284,0.268,0.552,19,2,0,0,1,2,0,0.136,40,career
6,Batting 7th,21,18,70,62,6,13,4,0,3,7,1,1,7,14,0.210,0.300,0.419,0.719,26,1,1,0,0,0,1,0.222,78,career
7,Batting 8th,18,4,30,24,1,5,1,0,0,3,0,0,4,8,0.208,0.333,0.250,0.583,6,1,1,0,1,0,0,0.294,51,career
8,Batting 9th,20,7,37,29,3,9,1,0,1,7,0,2,8,8,0.310,0.459,0.448,0.908,13,0,0,0,0,2,0,0.400,130,career

count

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,First Pitch,64,NaN,70,69,11.0,28,4,0,5,16,1.0,3.0,0,0,0.406,0.400,0.681,1.081,47,1,0,0,1,0,0,0.354,164,career
1,1-0 Count,48,NaN,54,53,12.0,13,2,0,3,8,1.0,0.0,0,0,0.245,0.241,0.453,0.694,24,1,0,0,1,0,0,0.196,68,career
2,2-0 Count,18,NaN,20,19,4.0,7,1,0,3,10,0.0,0.0,0,0,0.368,0.350,0.895,1.245,17,0,0,0,1,0,0,0.235,196,career
3,3-0 Count,17,NaN,17,1,NaN,1,1,0,0,0,0.0,0.0,16,0,1.000,1.000,2.000,3.000,2,0,0,0,0,3,0,1.000,625,career
4,0-1 Count,52,NaN,61,56,10.0,13,4,0,3,11,0.0,0.0,0,0,0.232,0.262,0.464,0.727,26,2,3,0,2,0,0,0.182,77,career
5,1-1 Count,65,NaN,73,70,8.0,29,5,2,1,9,0.0,0.0,0,0,0.414,0.425,0.586,1.010,41,2,2,0,1,0,0,0.400,150,career
6,2-1 Count,42,NaN,43,42,8.0,17,5,0,4,9,1.0,0.0,0,0,0.405,0.395,0.810,1.205,34,0,0,0,1,0,0,0.333,191,career
7,3-1 Count,40,NaN,48,19,5.0,6,1,0,4,7,0.0,0.0,29,0,0.316,0.729,1.000,1.729,19,1,0,0,0,1,0,0.133,328,career
8,0-2 Count,52,NaN,56,53,5.0,6,1,0,1,6,0.0,2.0,0,27,0.113,0.143,0.189,0.332,10,1,2,0,1,0,1,0.192,-18,career
9,1-2 Count,93,NaN,112,109,7.0,18,3,1,2,8,1.0,0.0,0,61,0.165,0.179,0.266,0.445,29,0,2,0,1,0,0,0.340,10,career
10,2-2 Count,108,NaN,140,139,11.0,22,6,0,5,14,0.0,1.0,0,63,0.158,0.157,0.309,0.466,43,2,0,0,1,0,2,0.236,13,career
11,Full Count,117,NaN,161,97,9.0,20,6,0,5,14,2.0,1.0,63,44,0.206,0.516,0.423,0.938,41,1,0,0,1,0,0,0.306,141,career
12,After 1-0,190,NaN,365,285,NaN,71,15,2,15,49,NaN,NaN,72,65,0.249,0.400,0.474,0.874,135,4,3,0,5,3,0,0.267,119,career
13,After 2-0,107,NaN,126,79,NaN,23,8,0,6,20,NaN,NaN,45,21,0.291,0.540,0.620,1.160,49,0,0,0,2,3,0,0.315,191,career
14,After 3-0,36,NaN,39,13,NaN,3,2,0,0,2,NaN,NaN,26,5,0.231,0.744,0.385,1.128,5,0,0,0,0,3,0,0.375,198,career
15,After 0-1,207,NaN,420,373,NaN,81,20,1,16,47,NaN,NaN,36,130,0.217,0.293,0.405,0.698,151,6,6,0,5,1,3,0.280,73,career
16,After 1-1,190,NaN,378,319,NaN,77,15,2,14,36,NaN,NaN,54,105,0.241,0.354,0.433,0.787,138,4,3,0,2,1,1,0.312,97,career
17,After 2-1,149,NaN,219,158,NaN,38,11,0,11,23,NaN,NaN,59,45,0.241,0.443,0.519,0.962,82,2,0,0,2,1,0,0.260,141,career
18,After 3-1,78,NaN,97,45,NaN,9,3,0,4,9,NaN,NaN,51,12,0.200,0.619,0.533,1.152,24,2,0,0,1,1,0,0.167,195,career
19,After 0-2,127,NaN,166,151,NaN,26,6,1,5,21,NaN,NaN,9,69,0.172,0.229,0.325,0.553,49,3,3,0,3,0,2,0.263,37,career
20,After 1-2,166,NaN,263,236,NaN,43,9,1,9,27,NaN,NaN,23,118,0.182,0.259,0.343,0.602,81,2,2,0,2,0,2,0.306,50,career
21,After 2-2,162,NaN,252,210,NaN,39,10,0,10,26,NaN,NaN,41,95,0.186,0.317,0.376,0.694,79,2,0,0,1,0,2,0.274,73,career
22,Zero Balls,144,NaN,187,178,26.0,47,9,0,9,33,1.0,5.0,0,27,0.264,0.278,0.466,0.744,83,4,5,0,4,0,1,0.260,82,career
23,Zero Strikes,128,NaN,161,142,27.0,49,8,0,11,34,2.0,3.0,16,0,0.345,0.404,0.634,1.038,90,2,0,0,3,3,0,0.284,155,career
24,Three Balls,150,NaN,226,117,14.0,27,8,0,9,21,2.0,1.0,108,44,0.231,0.597,0.530,1.127,62,2,0,0,1,4,0,0.277,188,career
25,Two Strikes,214,NaN,469,398,32.0,66,16,1,13,42,3.0,4.0,63,195,0.166,0.284,0.309,0.593,123,4,4,0,4,0,3,0.273,49,career
26,Batter Ahead,193,NaN,343,231,38.0,64,16,0,19,48,4.0,1.0,108,44,0.277,0.501,0.593,1.095,137,3,0,0,4,4,0,0.262,174,career
27,Even Count,170,NaN,283,278,30.0,79,15,2,11,39,1.0,4.0,0,63,0.284,0.286,0.471,0.757,131,5,2,0,3,0,2,0.329,85,career
28,Pitcher Ahead,152,NaN,229,218,22.0,37,8,1,6,25,1.0,2.0,0,88,0.170,0.192,0.298,0.490,65,3,7,0,4,0,1,0.242,20,career

outs

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,0 outs,174,NaN,266,228,22,60,12,1,13,26,2,0,34,63,0.263,0.353,0.496,0.849,113,3,0,0,4,1,1,0.301,110,career
1,1 out,183,NaN,309,258,24,55,13,1,11,46,4,3,41,71,0.213,0.320,0.399,0.720,103,8,3,0,7,2,0,0.240,79,career
2,2 outs,181,NaN,280,241,44,65,14,1,12,40,0,4,33,61,0.270,0.371,0.485,0.857,117,0,6,0,0,1,2,0.315,113,career

bases

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,RISP,142,NaN,219,168,57.0,34,2,0,8,71,2,3,36,55,0.202,0.338,0.357,0.695,60,2,4,0,11,4,0,0.224,75.0,career
1,---,214,NaN,475,416,19.0,109,32,2,19,19,0,0,56,100,0.262,0.354,0.486,0.839,202,0,3,0,0,0,2,0.303,108.0,career
2,Men On,198,NaN,380,311,71.0,71,7,1,17,93,6,7,52,95,0.228,0.339,0.421,0.761,131,11,6,0,11,4,1,0.257,90.0,career
3,1--,131,NaN,161,143,14.0,37,5,1,9,22,4,4,16,40,0.259,0.342,0.497,0.838,71,9,2,0,0,0,1,0.298,107.0,career
4,-2-,56,NaN,60,49,16.0,9,0,0,3,10,0,0,11,11,0.184,0.333,0.367,0.701,18,0,0,0,0,1,0,0.171,76.0,career
5,--3,29,NaN,29,18,5.0,1,0,0,0,5,0,0,6,6,0.056,0.310,0.056,0.366,1,0,2,0,3,0,0,0.067,2.0,career
6,12-,51,NaN,50,42,16.0,7,1,0,1,9,2,1,8,15,0.167,0.300,0.262,0.562,11,0,0,0,0,0,0,0.231,44.0,career
7,1-3,34,NaN,24,21,6.0,8,0,0,1,13,0,2,1,8,0.381,0.417,0.524,0.940,11,1,1,0,1,0,0,0.538,135.0,career
8,-23,33,NaN,33,23,4.0,4,1,0,1,11,0,0,8,10,0.174,0.364,0.348,0.711,8,0,0,0,2,3,0,0.214,81.0,career
9,123,21,NaN,23,15,10.0,5,0,0,2,23,0,0,2,5,0.333,0.348,0.733,1.081,11,1,1,0,5,0,0,0.231,160.0,career
10,"on 1st, <2 out",120,NaN,156,134,18.0,34,5,0,6,38,6,3,15,42,0.254,0.321,0.425,0.746,57,11,1,0,6,0,0,0.304,85.0,career
11,"on 3rd, <2 out",63,NaN,68,42,13.0,11,1,0,2,36,0,1,15,14,0.262,0.382,0.429,0.811,18,2,0,0,11,3,0,0.243,104.0,career
12,"on 3rd, 2 out",38,NaN,41,35,12.0,7,0,0,2,16,0,1,2,15,0.200,0.317,0.371,0.689,13,0,4,0,0,0,0,0.278,72.0,career
13,"0 out, ---",142,NaN,187,164,10.0,45,11,1,10,10,0,0,23,44,0.274,0.364,0.537,0.900,88,0,0,0,0,0,1,0.318,122.0,career
14,"0 out, 1--",38,NaN,36,33,4.0,10,1,0,2,4,2,0,3,9,0.303,0.361,0.515,0.876,17,3,0,0,0,0,0,0.364,116.0,career
15,"0 out, -2-",10,NaN,11,9,4.0,1,0,0,1,2,0,0,2,1,0.111,0.273,0.444,0.717,4,0,0,0,0,0,0,0.000,76.0,career
16,"0 out, --3",2,NaN,2,0,NaN,0,0,0,0,1,0,0,1,0,NaN,0.500,NaN,NaN,0,0,0,0,1,0,0,0.000,NaN,career
17,"0 out, 12-",12,NaN,10,8,1.0,0,0,0,0,0,0,0,2,4,0.000,0.200,0.000,0.200,0,0,0,0,0,0,0,0.000,-42.0,career
18,"0 out, 1-3",11,NaN,9,8,1.0,3,0,0,0,5,0,0,1,3,0.375,0.444,0.375,0.819,3,0,0,0,0,0,0,0.600,110.0,career
19,"0 out, -23",9,NaN,9,6,NaN,1,0,0,0,2,0,0,2,2,0.167,0.333,0.167,0.500,1,0,0,0,1,1,0,0.200,32.0,career
20,"0 out, 123",2,NaN,2,0,2.0,0,0,0,0,2,0,0,0,0,NaN,0.000,NaN,NaN,0,0,0,0,2,0,0,0.000,NaN,career
21,"1 out, ---",126,NaN,160,137,5.0,29,8,1,5,5,0,0,21,33,0.212,0.325,0.394,0.719,54,0,2,0,0,0,0,0.242,80.0,career
22,"1 out, 1--",61,NaN,68,61,4.0,15,3,0,3,9,2,1,6,18,0.246,0.324,0.443,0.766,27,6,1,0,0,0,0,0.300,90.0,career
23,"1 out, -2-",22,NaN,21,19,3.0,2,0,0,1,3,0,0,2,6,0.105,0.190,0.263,0.454,5,0,0,0,0,0,0,0.083,12.0,career
24,"1 out, --3",15,NaN,15,9,2.0,1,0,0,0,4,0,0,4,3,0.111,0.333,0.111,0.444,1,0,0,0,2,0,0,0.125,20.0,career
25,"1 out, 12-",15,NaN,14,13,2.0,2,1,0,0,3,2,1,1,5,0.154,0.214,0.231,0.445,3,0,0,0,0,0,0,0.250,12.0,career
26,"1 out, 1-3",8,NaN,7,6,3.0,2,0,0,1,5,0,1,0,2,0.333,0.286,0.833,1.119,5,1,0,0,1,0,0,0.250,164.0,career
27,"1 out, -23",14,NaN,14,8,4.0,2,1,0,1,7,0,0,5,3,0.250,0.500,0.750,1.250,6,0,0,0,1,2,0,0.200,208.0,career
28,"1 out, 123",10,NaN,10,5,1.0,2,0,0,0,10,0,0,2,1,0.400,0.400,0.400,0.800,2,1,0,0,3,0,0,0.286,103.0,career
29,"2 out, ---",106,NaN,128,115,4.0,35,13,0,4,4,0,0,12,23,0.304,0.375,0.522,0.897,60,0,1,0,0,0,1,0.352,122.0,career
30,"2 out, 1--",54,NaN,57,49,6.0,12,1,1,4,9,0,3,7,13,0.245,0.351,0.551,0.902,27,0,1,0,0,0,1,0.250,121.0,career
31,"2 out, -2-",28,NaN,28,21,9.0,6,0,0,1,5,0,0,7,4,0.286,0.464,0.429,0.893,9,0,0,0,0,1,0,0.313,127.0,career
32,"2 out, --3",12,NaN,12,9,3.0,0,0,0,0,0,0,0,1,3,0.000,0.250,0.000,0.250,0,0,2,0,0,0,0,0.000,-28.0,career
33,"2 out, 12-",28,NaN,26,21,13.0,5,0,0,1,6,0,0,5,6,0.238,0.385,0.381,0.766,8,0,0,0,0,0,0,0.286,94.0,career
34,"2 out, 1-3",15,NaN,8,7,2.0,3,0,0,0,3,0,1,0,3,0.429,0.500,0.429,0.929,3,0,1,0,0,0,0,0.750,138.0,career
35,"2 out, -23",10,NaN,10,9,NaN,1,0,0,0,2,0,0,1,5,0.111,0.200,0.111,0.311,1,0,0,0,0,0,0,0.250,-18.0,career
36,"2 out, 123",10,NaN,11,10,7.0,3,0,0,2,11,0,0,0,4,0.300,0.364,0.900,1.264,9,0,1,0,0,0,0,0.250,201.0,career

clutc

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,"2 outs, RISP",81,NaN,95,77,34,18,0,0,4,27,0,1,14,25,0.234,0.379,0.390,0.769,30,0,4,0,0,1,0,0.292,94,career
1,Late & Close,109,NaN,136,116,12,29,6,1,7,24,0,2,18,40,0.250,0.353,0.500,0.853,58,2,1,0,1,2,0,0.314,111,career
2,Tie Game,147,NaN,237,197,28,55,15,0,8,25,2,3,37,52,0.279,0.397,0.477,0.874,94,3,2,0,1,1,0,0.341,119,career
3,Within 1 R,204,NaN,450,381,47,101,22,1,18,60,2,5,60,96,0.265,0.364,0.470,0.834,179,5,3,0,6,2,1,0.304,108,career
4,Within 2 R,218,NaN,590,500,59,132,31,1,24,78,5,7,76,130,0.264,0.363,0.474,0.837,237,6,6,0,8,3,2,0.305,108,career
5,Within 3 R,226,NaN,675,574,66,147,34,2,26,88,6,7,87,147,0.256,0.356,0.458,0.814,263,8,6,0,8,3,2,0.296,103,career
6,Within 4 R,230,NaN,751,638,75,157,36,3,30,98,6,7,96,167,0.246,0.346,0.453,0.799,289,10,7,0,10,4,3,0.282,99,career
7,Margin > 4 R,61,NaN,104,89,15,23,3,0,6,14,0,0,12,28,0.258,0.356,0.494,0.850,44,1,2,0,1,0,0,0.304,110,career
8,Ahead,146,NaN,352,305,27,75,16,2,9,43,4,4,36,77,0.246,0.324,0.400,0.724,122,6,3,0,8,3,1,0.291,81,career
9,Behind,133,NaN,266,225,35,50,8,1,19,44,0,0,35,66,0.222,0.335,0.520,0.855,117,2,4,0,2,0,2,0.218,110,career

lever

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,High Lvrge,116,NaN,157,125,29,27,3,0,7,41,1,2,25,41,0.216,0.350,0.408,0.758,51,4,3,0,4,1,0,0.247,90,career
1,Medium Lvrge,184,NaN,312,264,35,68,13,1,16,42,1,5,41,66,0.258,0.353,0.496,0.849,131,5,1,0,6,1,1,0.277,110,career
2,Low Lvrge,180,NaN,386,338,26,85,23,2,13,29,4,0,42,88,0.251,0.342,0.447,0.789,151,2,5,0,1,2,2,0.303,96,career

innng

,Split,G,IP,ER,ERA,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,1st inning,110,NaN,NaN,NaN,NaN,110,99,8,24,9,0,1,11,1,1,8,24,0.242,0.300,0.364,0.664,36,2,1,0,2,0,0,0.303,66,career
1,2nd inning,88,NaN,NaN,NaN,NaN,88,75,13,22,4,0,6,11,1,1,12,17,0.293,0.398,0.587,0.984,44,1,1,0,0,0,0,0.308,143,career
2,3rd inning,81,NaN,NaN,NaN,NaN,81,65,8,9,1,0,2,10,0,1,12,22,0.138,0.272,0.246,0.518,16,0,1,0,3,0,1,0.159,32,career
3,4th inning,104,NaN,NaN,NaN,NaN,103,91,13,23,4,1,5,13,1,1,9,19,0.253,0.320,0.484,0.804,44,0,1,0,2,0,0,0.261,98,career
4,5th inning,83,NaN,NaN,NaN,NaN,83,68,9,16,3,0,5,13,0,0,10,12,0.235,0.337,0.500,0.837,34,1,2,0,3,0,0,0.204,106,career
5,6th inning,99,NaN,NaN,NaN,NaN,98,78,13,26,8,0,5,12,0,1,20,16,0.333,0.469,0.628,1.098,49,2,0,0,0,0,2,0.368,172,career
6,7th inning,102,NaN,NaN,NaN,NaN,100,86,13,25,5,1,6,18,0,1,12,21,0.291,0.390,0.581,0.971,50,1,2,0,0,2,0,0.322,139,career
7,8th inning,97,NaN,NaN,NaN,NaN,97,89,5,13,3,1,1,4,2,0,8,40,0.146,0.216,0.236,0.452,21,4,0,0,0,0,0,0.250,14,career
8,9th inning,76,NaN,NaN,NaN,NaN,77,63,6,18,1,0,4,17,1,1,13,19,0.286,0.416,0.492,0.908,31,0,1,0,0,2,0,0.350,127,career
9,Ext inning,14,NaN,NaN,NaN,NaN,18,13,2,4,1,0,1,3,0,0,4,5,0.308,0.444,0.615,1.060,8,0,0,0,1,0,0,0.375,162,career
10,Innings 1-3,194,NaN,NaN,NaN,NaN,279,239,29,55,14,0,9,32,2,3,32,63,0.230,0.323,0.402,0.724,96,3,3,0,5,0,1,0.267,81,career
11,Innings 4-6,198,NaN,NaN,NaN,NaN,284,237,35,65,15,1,15,38,1,2,39,47,0.274,0.377,0.536,0.913,127,3,3,0,5,0,2,0.278,126,career
12,Innings 7-9,217,NaN,NaN,NaN,NaN,274,238,24,56,9,2,11,39,3,2,33,80,0.235,0.336,0.429,0.764,102,5,3,0,0,4,0,0.306,90,career

times

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,vs. SP,196,NaN,500,431,50.0,114,30,2,20,53,3,6,55,96,0.265,0.350,0.483,0.833,208,4,6,0,8,0,3,0.291,106,career
1,vs. RP,212,NaN,355,296,40.0,66,9,1,16,59,3,1,53,99,0.223,0.344,0.422,0.766,125,7,3,0,3,4,0,0.272,91,career
2,"vs. SP, 1st",196,NaN,196,174,NaN,45,13,0,6,17,0,0,19,43,0.259,0.332,0.437,0.768,76,3,1,0,2,0,0,0.307,91,career
3,"vs. SP, 2nd",182,NaN,182,152,NaN,36,4,1,10,27,0,0,23,36,0.237,0.341,0.474,0.814,72,0,3,0,4,0,1,0.236,102,career
4,"vs. SP, 3rd",121,NaN,121,104,NaN,32,12,1,4,9,0,0,13,17,0.308,0.388,0.558,0.946,58,1,2,0,2,0,2,0.329,134,career
5,"vs. SP, 4th+",5,NaN,1,1,NaN,1,1,0,0,0,0,0,0,0,1.000,1.000,2.000,3.000,2,0,0,0,0,0,0,1.000,625,career
6,"vs. RP, 1st",212,NaN,338,280,NaN,64,9,1,15,57,0,0,52,95,0.229,0.352,0.429,0.781,120,7,3,0,3,3,0,0.283,95,career
7,"vs. RP, 2nd",16,NaN,17,16,NaN,2,0,0,1,2,0,0,1,4,0.125,0.176,0.313,0.489,5,0,0,0,0,1,0,0.091,19,career

power

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,vs. Power,115,NaN,188,154,NaN,38,3,1,11,33,NaN,NaN,30,55,0.247,0.372,0.494,0.866,76,3,2,0,2,0,1,0.30,115,career
1,vs. avg.P/F,141,NaN,312,260,NaN,54,12,0,12,33,NaN,NaN,44,78,0.208,0.324,0.392,0.716,102,6,3,0,5,3,1,0.24,79,career
2,vs. Finesse,139,NaN,355,313,NaN,88,24,2,13,46,NaN,NaN,34,62,0.281,0.355,0.495,0.850,155,2,4,0,4,1,1,0.31,110,career

gbfb

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,vs. Fly Ball,155,NaN,343,284,NaN,60,14,1,15,41,NaN,NaN,47,74,0.211,0.324,0.426,0.750,121,3,4,0,8,3,2,0.222,86,career
1,vs. avg.F/G,157,NaN,370,317,NaN,88,21,2,15,51,NaN,NaN,47,81,0.278,0.373,0.498,0.871,158,6,3,0,3,1,0,0.326,116,career
2,vs. GrndBall,86,NaN,136,121,NaN,31,4,0,6,18,NaN,NaN,13,38,0.256,0.338,0.438,0.776,53,2,2,0,0,0,1,0.325,93,career
3,NaN,3,NaN,6,5,NaN,1,0,0,0,2,NaN,NaN,1,2,0.200,0.333,0.200,0.533,1,0,0,0,0,0,0,0.333,40,career

hitlo

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,To Infield,155,NaN,240,240,NaN,17,0,0,0,7,NaN,NaN,0,0,0.071,0.071,0.071,0.142,17,11,0,0,0,0,2,0.071,-64,career
1,To Outfield,174,NaN,301,290,NaN,162,39,3,36,102,NaN,NaN,0,0,0.559,0.538,1.086,1.624,315,0,0,0,11,0,1,0.475,292,career
2,Ball In Play,208,NaN,507,496,NaN,144,39,3,0,49,NaN,NaN,0,0,0.290,0.284,0.381,0.665,189,11,0,0,11,0,3,0.284,65,career
3,Not in Play,191,NaN,348,231,NaN,36,0,0,36,63,NaN,NaN,108,195,0.156,0.440,0.623,1.063,144,0,9,0,0,4,0,NaN,163,career
4,Fair Terr,211,NaN,525,514,NaN,179,39,3,36,109,NaN,NaN,0,0,0.348,0.341,0.646,0.987,332,11,0,0,11,0,3,0.292,139,career
5,Foul Terr,16,NaN,16,16,NaN,0,0,0,0,0,NaN,NaN,0,0,0.000,0.000,0.000,0.000,0,0,0,0,0,0,0,0.000,-100,career
6,Pulled-LHB,124,NaN,175,174,NaN,53,13,2,16,33,NaN,NaN,0,0,0.305,0.303,0.678,0.981,118,6,0,0,1,0,2,0.233,135,career
7,Up Mdle-LHB,164,NaN,271,263,NaN,102,17,1,17,65,NaN,NaN,0,0,0.388,0.376,0.654,1.030,172,5,0,0,8,0,0,0.335,151,career
8,Opp Fld-LHB,80,NaN,95,93,NaN,24,9,0,3,11,NaN,NaN,0,0,0.258,0.253,0.452,0.704,42,0,0,0,2,0,1,0.228,72,career
9,Unknown Loc,2,NaN,2,2,NaN,1,0,0,0,0,NaN,NaN,0,0,0.500,0.500,0.500,1.000,1,0,0,0,0,0,0,0.500,153,career

traj

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Ground Balls,152,NaN,235,235,NaN,56,3,0,0,18,NaN,NaN,0,0,0.238,0.238,0.251,0.489,59,11,0,0,0,0,3,0.238,23,career
1,Fly Balls,123,NaN,164,156,NaN,39,8,1,29,58,NaN,NaN,0,0,0.250,0.238,0.872,1.110,136,0,0,0,8,0,0,0.074,159,career
2,Line Drives,105,NaN,141,138,NaN,83,28,2,7,33,NaN,NaN,0,0,0.601,0.589,0.986,1.574,136,0,0,0,3,0,0,0.567,285,career
3,Bunts,3,NaN,3,3,NaN,2,0,0,0,0,NaN,NaN,0,0,0.667,0.667,0.667,1.333,2,0,0,0,0,0,0,0.667,238,career

site

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,LAA-Angel Stad,31,18,73,62,7,11,1,0,3,7,2,3,10,13,0.177,0.288,0.339,0.626,21,2,0,0,1,1,0,0.170,57,career
1,PHI-CitizensBank,2,0,2,2,1,2,0,0,1,4,0,0,0,0,1.000,1.000,2.500,3.500,5,0,0,0,0,0,0,1.000,734,career
2,DET-Comerica Pk,2,1,6,5,0,3,0,0,0,1,0,0,1,0,0.600,0.667,0.600,1.267,3,0,0,0,0,0,0,0.600,223,career
3,CHW-Guaranteed,5,5,21,18,1,1,1,0,0,1,0,0,2,7,0.056,0.143,0.111,0.254,2,0,0,0,1,0,0,0.083,-35,career
4,LAD-Dodger Stad,2,2,10,8,1,2,0,0,1,3,0,0,1,4,0.250,0.300,0.625,0.925,5,0,0,0,1,0,0,0.250,123,career
5,HOU-MinuteMaidPk,7,6,26,24,6,6,3,0,2,5,0,0,2,9,0.250,0.308,0.625,0.933,15,0,0,0,0,0,0,0.308,125,career
6,BOS-Fenway Pk,8,6,30,22,6,11,4,0,1,4,1,0,7,7,0.500,0.600,0.818,1.418,18,1,0,0,1,0,0,0.667,252,career
7,CLE-Progressive,12,11,48,40,3,9,2,0,2,5,0,1,7,12,0.225,0.333,0.425,0.758,17,1,0,0,1,0,0,0.259,89,career
8,MIA-Marlins Pk,2,2,8,8,0,2,0,0,0,0,0,0,0,1,0.250,0.250,0.250,0.500,2,0,0,0,0,0,0,0.286,27,career
9,MIL-Miller Pk,5,1,8,8,1,1,1,0,0,0,0,0,0,5,0.125,0.125,0.250,0.375,2,0,0,0,0,0,0,0.333,-9,career
10,OAK-Oakland Col.,6,4,16,14,1,3,0,0,1,3,0,0,1,2,0.214,0.250,0.429,0.679,6,1,0,0,1,0,0,0.167,66,career
11,BAL-Camden Yards,10,10,40,29,2,5,2,0,0,4,0,0,8,5,0.172,0.350,0.241,0.591,7,0,1,0,2,0,0,0.192,53,career
12,SFG-AT&T Pk,2,2,9,8,1,5,2,0,0,2,0,0,0,1,0.625,0.667,0.875,1.542,7,0,1,0,0,0,0,0.714,283,career
13,SDP-Petco Pk,3,2,9,9,3,4,3,0,1,2,0,0,0,0,0.444,0.444,1.111,1.556,10,0,0,0,0,0,0,0.375,271,career
14,KCR-KauffmanStad,6,5,23,21,2,5,2,0,1,5,0,0,2,2,0.238,0.304,0.476,0.781,10,0,0,0,0,0,1,0.222,92,career
15,SEA-Safeco Fld,5,2,10,7,0,0,0,0,0,1,0,0,3,2,0.000,0.300,0.000,0.300,0,1,0,0,0,0,0,0.000,-14,career
16,TOR-Rogers Ctr,16,13,58,55,10,16,5,0,4,6,0,1,3,14,0.291,0.328,0.600,0.928,33,0,0,0,0,0,1,0.324,126,career
17,ATL-SunTrust Pk,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0,0,0,0,0,0,0,0.000,-100,career
18,MIN-Target Field,9,7,31,24,1,4,0,0,1,2,0,0,6,10,0.167,0.355,0.292,0.647,7,1,1,0,0,1,0,0.231,66,career
19,TEX-Rangers Bpk,6,5,25,17,4,8,0,0,3,7,0,0,8,4,0.471,0.640,1.000,1.640,17,1,0,0,0,0,0,0.500,303,career
20,TBR-TropicanaFld,94,80,351,300,35,74,10,3,13,45,3,2,42,86,0.247,0.348,0.430,0.778,129,2,6,0,3,2,1,0.299,94,career
21,CHC-Wrigley Fld,2,2,6,6,0,1,0,0,0,0,0,0,0,1,0.167,0.167,0.167,0.333,1,0,0,0,0,0,0,0.200,-15,career
22,NYY-Yankee Stad3,12,10,44,39,5,7,3,0,2,5,0,0,5,10,0.179,0.273,0.410,0.683,16,1,0,0,0,0,0,0.185,68,career

stad

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Night,163,129,565,481,61,123,24,3,26,72,4,4,74,114,0.256,0.361,0.480,0.841,231,9,7,0,3,2,1,0.282,109,career
1,Day,85,65,290,246,29,57,15,0,10,40,2,3,34,81,0.232,0.321,0.415,0.735,102,2,2,0,8,2,2,0.288,83,career
2,Open,131,97,425,353,42,88,23,0,19,59,3,4,61,87,0.249,0.358,0.476,0.834,168,9,3,0,8,2,1,0.271,107,career
3,Dome,117,97,430,374,48,92,16,3,17,53,3,3,47,108,0.246,0.337,0.441,0.778,165,2,6,0,3,2,2,0.298,93,career
4,Grass,138,101,446,372,45,90,24,0,19,61,3,4,63,95,0.242,0.350,0.460,0.809,171,9,3,0,8,2,1,0.267,101,career
5,Artif. Turf,110,93,409,355,45,90,15,3,17,51,3,3,45,100,0.254,0.345,0.456,0.801,162,2,6,0,3,2,2,0.303,99,career

oppon

,Split,G,GS,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Inter-League,38,29,124,114,9,27,4,0,5,14,0,0,8,34,0.237,0.290,0.404,0.694,46,2,1,0,1,1,0,0.289,72,career
1,Los Angeles Angels,7,4,21,19,3,2,0,0,1,2,0,0,1,6,0.105,0.190,0.263,0.454,5,2,1,0,0,0,0,0.083,12,career
2,Arizona Diamondbacks,5,3,16,16,1,3,1,0,0,2,0,0,0,5,0.188,0.188,0.250,0.438,4,0,0,0,0,0,0,0.273,9,career
3,Atlanta Braves,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0,0,0,0,0,0,0,0.000,-100,career
4,Baltimore Orioles,22,21,85,63,11,15,4,1,3,13,0,1,18,12,0.238,0.400,0.476,0.876,30,0,1,0,3,0,0,0.235,119,career
5,Boston Red Sox,22,16,75,62,15,23,7,2,2,11,2,0,11,21,0.371,0.467,0.645,1.112,40,1,1,0,1,1,0,0.525,175,career
6,Chicago Cubs,3,2,6,6,0,1,0,0,0,0,0,0,0,1,0.167,0.167,0.167,0.333,1,0,0,0,0,0,0,0.200,-15,career
7,Chicago White Sox,13,13,52,44,3,7,2,0,0,6,2,0,5,14,0.159,0.231,0.205,0.435,9,0,0,0,3,0,0,0.212,11,career
8,Cleveland Indians,18,17,71,62,7,17,2,0,5,11,0,1,7,22,0.274,0.352,0.548,0.900,34,1,1,0,1,0,0,0.333,121,career
9,Colorado Rockies,3,2,9,7,1,2,0,0,0,0,0,0,2,2,0.286,0.444,0.286,0.730,2,0,0,0,0,0,0,0.400,90,career
10,Detroit Tigers,6,3,18,15,0,7,1,0,0,3,0,0,3,2,0.467,0.556,0.533,1.089,8,0,0,0,0,0,0,0.538,177,career
11,Miami Marlins,6,6,25,24,2,6,0,0,1,2,0,0,1,5,0.250,0.280,0.375,0.655,9,0,0,0,0,0,0,0.278,63,career
12,Houston Astros,12,10,42,39,6,10,3,0,2,7,1,1,3,15,0.256,0.310,0.487,0.797,19,0,0,0,0,0,1,0.364,96,career
13,Kansas City Royals,11,9,39,33,2,8,3,0,1,5,0,0,6,5,0.242,0.359,0.424,0.783,14,0,0,0,0,0,1,0.259,96,career
14,Los Angeles Dodgers,4,4,18,16,1,4,0,0,1,3,0,0,1,6,0.250,0.278,0.438,0.715,7,0,0,0,1,0,0,0.300,76,career
15,Milwaukee Brewers,6,2,12,10,1,1,0,0,1,2,0,0,2,5,0.100,0.250,0.400,0.650,4,1,0,0,0,0,0,0.000,59,career
16,Minnesota Twins,13,10,45,36,4,7,1,0,2,4,0,0,7,14,0.194,0.356,0.389,0.744,14,1,2,0,0,1,0,0.250,88,career
17,New York Yankees,17,16,65,56,6,15,3,0,2,4,0,0,9,13,0.268,0.369,0.429,0.798,24,1,0,0,0,0,0,0.317,100,career
18,Oakland Athletics,15,11,47,41,5,7,0,0,4,10,1,1,4,5,0.171,0.255,0.463,0.719,19,1,1,0,1,1,0,0.091,75,career
19,Philadelphia Phillies,2,0,2,2,1,2,0,0,1,4,0,0,0,0,1.000,1.000,2.500,3.500,5,0,0,0,0,0,0,1.000,734,career
20,San Diego Padres,3,2,9,9,3,4,3,0,1,2,0,0,0,0,0.444,0.444,1.111,1.556,10,0,0,0,0,0,0,0.375,271,career
21,Seattle Mariners,13,7,32,25,0,2,0,0,0,1,0,1,6,6,0.080,0.281,0.080,0.361,2,1,1,0,0,1,0,0.105,-2,career
22,San Francisco Giants,2,2,9,8,1,5,2,0,0,2,0,0,0,1,0.625,0.667,0.875,1.542,7,0,1,0,0,0,0,0.714,283,career
23,St. Louis Cardinals,1,0,1,1,0,0,0,0,0,0,0,0,0,1,0.000,0.000,0.000,0.000,0,0,0,0,0,0,0,NaN,-100,career
24,Tampa Bay Rays,1,1,3,2,0,0,0,0,0,0,0,0,1,0,0.000,0.333,0.000,0.333,0,0,0,0,0,0,0,0.000,-4,career
25,Texas Rangers,15,10,48,37,5,10,0,0,4,8,0,0,11,9,0.270,0.438,0.595,1.032,22,2,0,0,0,0,0,0.250,156,career
26,Toronto Blue Jays,27,23,104,93,12,22,7,0,5,10,0,2,10,25,0.237,0.308,0.473,0.781,44,0,0,0,1,0,1,0.266,92,career
27,WP < .500,124,97,432,361,46,88,20,1,19,61,3,4,60,91,0.244,0.352,0.463,0.814,167,4,4,0,7,3,1,0.267,103,career
28,WP >= .500,124,97,423,366,44,92,19,2,17,51,3,3,48,104,0.251,0.343,0.454,0.796,166,7,5,0,4,1,2,0.301,98,career

CPU times: user 1.28 s, sys: 24.5 ms, total: 1.31 s
Wall time: 7.22 s

In [10]:
%%time
for player in [cole]:
    for table in ['total','total_extra','plato','hmvis','hmvis_extra','half',
                  'half_extra','month','month_extra','outco','outco_extra',
                  'sprel','sprel_extra','rs','rs_extra','lineu','tkswg',
                  'count','leado','defpo','outs','bases','clutc','lever',
                  'innng','times','pitco','dr','dr_extra','hitlo','traj',
                  'oppon','oppon_extra','stad','stad_extra','site','site_extra','catch','ump','ump_extra']:
        print(table)
        display(player.splits(split_type="p", table_type=table))

total

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Career Totals,192,4843,4431,461,1034,204,20,115,115,34,315,1336,4.24,0.233,0.289,0.366,0.656,1623,89,42,34,21,6,31,0.306,100,career

total_extra

,Split,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,WHIP,SO9,SO/W,year
0,Career Totals,94,52,0.644,3.22,192,192,0,2,1,0,1195.0,1034,461,427,115,315,6,1336,42,5,45,4843,1.129,10.1,4.24,career

plato

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,vs RHB,192,2503,2308,222,547,105,8,57,54,14,140,639,4.56,0.237,0.286,0.364,0.649,839,60,22,23,10,2,22,0.302,98,career
1,vs LHB,192,2340,2123,207,487,99,12,58,61,20,175,697,3.98,0.229,0.293,0.369,0.662,784,29,20,11,11,4,9,0.311,102,career
2,vs RHB as RHP,192,2503,2308,222,547,105,8,57,54,14,140,639,4.56,0.237,0.286,0.364,0.649,839,60,22,23,10,2,22,0.302,98,career
3,vs LHB as RHP,192,2340,2123,207,487,99,12,58,61,20,175,697,3.98,0.229,0.293,0.369,0.662,784,29,20,11,11,4,9,0.311,102,career

hmvis

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Home,96,2436,2237,233,511,99,9,60,57,13,148,667,4.51,0.228,0.282,0.361,0.643,808,47,23,18,10,4,10,0.297,96,career
1,Away,96,2407,2194,228,523,105,11,55,58,21,167,669,4.01,0.238,0.297,0.371,0.668,815,42,19,16,11,2,21,0.316,104,career

hmvis_extra

,Split,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,WHIP,SO9,SO/W,year
0,Home,45,23,0.662,3.29,96,96,0,1,0,0,606.2,511,233,222,60,148,4,667,23,3,21,2436,1.086,9.9,4.51,career
1,Away,49,29,0.628,3.14,96,96,0,1,1,0,588.1,523,228,205,55,167,2,669,19,2,24,2407,1.173,10.2,4.01,career

half

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,1st Half,108,2720,2481,256,584,107,9,70,73,21,188,715,3.80,0.235,0.295,0.370,0.665,919,55,24,21,6,1,20,0.302,103,career
1,2nd Half,84,2123,1950,205,450,97,11,45,42,13,127,621,4.89,0.231,0.282,0.361,0.643,704,34,18,13,15,5,11,0.312,96,career

half_extra

,Split,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,WHIP,SO9,SO/W,year
0,1st Half,55,28,0.663,3.16,108,108,0,1,1,0,665.2,584,256,234,70,188,1,715,24,2,26,2720,1.16,9.7,3.80,career
1,2nd Half,39,24,0.619,3.28,84,84,0,1,0,0,529.1,450,205,193,45,127,5,621,18,3,19,2123,1.09,10.6,4.89,career

month

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,April/March,32,805,739,75,159,29,2,20,22,4,54,233,4.31,0.215,0.273,0.341,0.614,252,18,5,7,0,0,10,0.286,88,career
1,May,33,845,778,79,196,37,4,26,28,8,52,224,4.31,0.252,0.305,0.410,0.715,319,16,8,5,2,1,5,0.321,118,career
2,June,32,802,721,82,174,31,2,20,19,7,61,188,3.08,0.241,0.307,0.373,0.680,269,12,9,7,4,0,5,0.298,108,career
3,July,28,712,655,52,137,32,1,14,12,3,43,199,4.63,0.209,0.268,0.325,0.593,213,16,10,2,2,1,3,0.277,82,career
4,August,32,809,741,92,193,41,6,18,20,3,47,211,4.49,0.260,0.305,0.405,0.710,300,20,5,7,9,3,4,0.336,116,career
5,Sept/Oct,35,870,797,81,175,34,5,17,14,9,58,281,4.84,0.220,0.275,0.339,0.614,270,7,5,6,4,1,4,0.314,88,career

month_extra

,Split,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,WHIP,SO9,SO/W,year
0,April/March,13,12,0.520,2.85,32,32,0,0,0,0,202.1,159,75,64,20,54,0,233,5,0,9,805,1.053,10.4,4.31,career
1,May,16,8,0.667,3.29,33,33,0,1,1,0,205.1,196,79,75,26,52,1,224,8,1,7,845,1.208,9.8,4.31,career
2,June,20,5,0.800,3.53,32,32,0,0,0,0,191.0,174,82,75,20,61,0,188,9,1,6,802,1.230,8.9,3.08,career
3,July,14,8,0.636,2.49,28,28,0,1,0,0,181.0,137,52,50,14,43,1,199,10,0,4,712,0.994,9.9,4.63,career
4,August,10,12,0.455,3.90,32,32,0,0,0,0,196.0,193,92,85,18,47,3,211,5,2,11,809,1.224,9.7,4.49,career
5,Sept/Oct,21,7,0.750,3.20,35,35,0,0,0,0,219.1,175,81,78,17,58,1,281,5,1,8,870,1.062,11.5,4.84,career

outco

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,in Wins,94,2397,2213,160,449,75,9,50,43,16,142,687,4.84,0.203,0.256,0.313,0.569,692,41,18,18,6,0,11,0.269,74,career
1,in Losses,52,1293,1170,195,343,76,8,28,48,12,96,298,3.10,0.293,0.350,0.444,0.793,519,28,11,6,10,4,13,0.369,142,career
2,in No Dec.,46,1153,1048,106,242,53,3,37,24,6,77,351,4.56,0.231,0.290,0.393,0.684,412,20,13,10,5,2,7,0.308,108,career

outco_extra

,Split,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,WHIP,SO9,SO/W,year
0,in Wins,94,0,1.0,2.14,94,94,0,2,1,0,619.2,449,160,147,50,142,0,687,18,1,19,2397,0.954,10.0,4.84,career
1,in Losses,0,52,0.0,5.56,52,52,0,0,0,0,293.0,343,195,181,28,96,4,298,11,0,10,1293,1.498,9.2,3.10,career
2,in No Dec.,0,0,NaN,3.16,46,46,0,0,0,0,282.1,242,106,99,37,77,2,351,13,4,16,1153,1.130,11.2,4.56,career

sprel

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,as Starter,192,4843,4431,461,1034,204,20,115,115,34,315,1336,4.24,0.233,0.289,0.366,0.656,1623,89,42,34,21,6,31,0.306,100,career

sprel_extra

,Split,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,WHIP,SO9,SO/W,year
0,as Starter,94,52,0.644,3.22,192,192,0,2,1,0,1195.0,1034,461,427,115,315,6,1336,42,5,45,4843,1.129,10.1,4.24,career

rs

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,0-2 Runs Scored,51,1296,1184,128,295,61,4,23,36,11,89,325,3.65,0.249,0.306,0.366,0.671,433,27,10,7,6,3,11,0.323,106,career
1,3-5 Runs Scored,78,1970,1794,203,439,84,9,42,54,17,128,531,4.15,0.245,0.301,0.372,0.672,667,34,20,17,11,3,15,0.322,106,career
2,6+ Runs Scored,63,1577,1453,130,300,59,7,50,25,6,98,480,4.90,0.206,0.262,0.360,0.622,523,28,12,10,4,0,5,0.270,89,career

rs_extra

,Split,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,WHIP,SO9,SO/W,year
0,0-2 Runs Scored,6,37,0.140,3.35,51,51,0,0,0,0,314.0,295,128,117,23,89,3,325,10,0,10,1296,1.223,9.3,3.65,career
1,3-5 Runs Scored,37,15,0.712,3.50,78,78,0,0,0,0,478.1,439,203,186,42,128,3,531,20,4,20,1970,1.185,10.0,4.15,career
2,6+ Runs Scored,51,0,1.000,2.77,63,63,0,2,1,0,402.2,300,130,124,50,98,0,480,12,1,15,1577,0.988,10.7,4.90,career

lineu

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Batting 1st,192,612,552,34,146,25,4,13,8,1,56,147,2.63,0.264,0.334,0.395,0.729,218,11,2,2,0,0,4,0.339,123,career
1,Batting 2nd,192,593,550,45,143,27,2,17,28,8,35,142,4.06,0.260,0.309,0.409,0.718,225,10,4,4,0,0,4,0.322,119,career
2,Batting 3rd,192,576,512,71,138,30,0,18,33,8,50,147,2.94,0.270,0.339,0.434,0.772,222,9,7,0,7,1,6,0.339,136,career
3,Batting 4th,192,569,517,78,126,27,3,21,11,3,42,150,3.57,0.244,0.308,0.429,0.737,222,15,7,0,3,1,0,0.301,124,career
4,Batting 5th,192,545,511,68,130,27,3,14,14,3,25,158,6.32,0.254,0.294,0.401,0.695,205,8,5,0,4,0,2,0.338,111,career
5,Batting 6th,192,525,489,45,96,13,5,11,6,2,26,145,5.58,0.196,0.244,0.311,0.555,152,13,6,0,4,0,5,0.252,69,career
6,Batting 7th,192,499,455,34,101,19,3,9,5,5,36,138,3.83,0.222,0.284,0.336,0.620,153,5,4,2,2,0,5,0.297,90,career
7,Batting 8th,192,474,439,31,95,27,0,8,5,3,26,137,5.27,0.216,0.267,0.333,0.599,146,11,4,5,0,4,1,0.296,83,career
8,Batting 9th,192,450,406,23,59,9,0,4,5,1,19,172,9.05,0.145,0.189,0.197,0.386,80,7,3,21,1,0,4,0.238,19,career
9,"Bat1-2,non-P",192,1205,1102,79,289,52,6,30,36,9,91,289,3.18,0.262,0.322,0.402,0.724,443,21,6,6,0,0,8,0.331,121,career
10,"Bat3-6,non-P",192,2215,2029,262,490,97,11,64,64,16,143,600,4.20,0.241,0.297,0.395,0.692,801,45,25,0,18,2,13,0.308,111,career
11,"Bat7-9,non-P",192,1178,1084,81,236,52,3,20,11,8,74,339,4.58,0.218,0.273,0.327,0.599,354,19,9,8,3,4,10,0.297,84,career

tkswg

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Swung at 1st Pitch,192,1439,1353,153,311,65,5,41,4,4,42,365,8.69,0.230,0.256,0.376,0.632,509,33,10,22,12,0,10,0.282,91,career
1,Took 1st Pitch,192,3404,3078,269,723,139,15,74,7,16,273,971,3.56,0.235,0.303,0.362,0.665,1114,56,32,12,9,6,21,0.318,104,career

count

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,First Pitch,180,498,468,73,146,23,4,24,0,0,0,0,NaN,0.312,0.322,0.532,0.854,249,19,9,17,4,0,5,0.272,157,career
1,1-0 Count,159,295,282,42,91,19,2,14,0,0,0,0,NaN,0.323,0.330,0.553,0.883,156,13,5,4,4,0,1,0.283,165,career
2,2-0 Count,93,120,118,15,42,13,1,7,0,0,0,0,NaN,0.356,0.361,0.661,1.022,78,1,1,1,0,0,0,0.315,206,career
3,3-0 Count,43,50,5,1,2,2,0,0,0,0,45,0,0.00,0.400,0.940,0.800,1.740,4,0,0,0,0,6,0,0.400,444,career
4,0-1 Count,167,426,411,52,134,30,2,17,0,0,0,0,NaN,0.326,0.339,0.533,0.872,219,16,9,4,2,0,5,0.295,163,career
5,1-1 Count,170,378,371,54,122,29,3,10,0,0,0,0,NaN,0.329,0.338,0.504,0.842,187,9,5,2,0,0,5,0.310,155,career
6,2-1 Count,123,205,201,35,79,13,3,10,0,0,0,0,NaN,0.393,0.391,0.637,1.028,128,4,0,3,1,0,1,0.359,209,career
7,3-1 Count,106,150,74,11,27,4,0,1,0,0,76,0,0.00,0.365,0.687,0.459,1.146,34,1,0,0,0,0,0,0.356,263,career
8,0-2 Count,177,522,514,20,73,11,2,6,1,1,0,300,NaN,0.142,0.152,0.206,0.358,106,7,6,1,1,0,0,0.321,9,career
9,1-2 Count,192,832,823,38,105,23,1,5,5,0,0,461,NaN,0.128,0.130,0.176,0.306,145,8,3,1,5,0,7,0.276,-7,career
10,2-2 Count,186,719,712,42,114,21,1,10,1,2,0,373,NaN,0.160,0.163,0.235,0.398,167,8,3,1,3,0,5,0.313,21,career
11,Full Count,188,648,452,39,99,16,1,11,4,6,194,202,1.04,0.219,0.454,0.332,0.786,150,3,1,0,1,0,2,0.367,148,career
12,After 1-0,192,1796,1552,169,410,81,9,49,5,5,215,397,1.85,0.264,0.358,0.423,0.780,656,33,14,9,6,6,8,0.325,139,career
13,After 2-0,186,544,409,47,130,27,2,13,2,1,131,83,0.63,0.318,0.485,0.489,0.974,200,6,2,2,0,6,4,0.374,201,career
14,After 3-0,115,145,57,7,17,4,0,0,2,0,88,14,0.16,0.298,0.724,0.368,1.093,21,0,0,0,0,6,1,0.395,251,career
15,After 0-1,192,2549,2411,180,478,100,7,42,6,10,100,939,9.39,0.198,0.235,0.298,0.533,718,37,19,8,11,0,18,0.303,63,career
16,After 1-1,192,1938,1759,154,382,83,7,34,6,9,160,643,4.02,0.217,0.285,0.330,0.615,581,26,9,5,5,0,9,0.320,89,career
17,After 2-1,191,895,736,71,192,30,4,19,0,4,152,242,1.59,0.261,0.388,0.390,0.778,287,10,2,3,2,0,3,0.363,141,career
18,After 3-1,162,336,202,18,52,5,0,3,2,2,134,63,0.47,0.257,0.554,0.327,0.880,66,1,0,0,0,0,1,0.360,181,career
19,After 0-2,192,1142,1102,54,151,22,3,13,3,3,24,610,25.42,0.137,0.161,0.198,0.358,218,9,8,2,6,0,7,0.285,10,career
20,After 1-2,192,1564,1474,88,217,45,2,18,8,7,75,780,10.40,0.147,0.190,0.217,0.407,320,14,5,2,8,0,11,0.291,25,career
21,After 2-2,192,1181,1036,74,188,36,2,19,3,6,136,512,3.76,0.181,0.278,0.275,0.553,285,11,4,1,4,0,6,0.332,71,career
22,Zero Balls,192,1446,1393,149,353,64,8,47,60,13,0,300,NaN,0.253,0.265,0.412,0.677,574,42,24,22,7,0,10,0.291,104,career
23,Zero Strikes,192,963,873,134,281,57,7,45,47,11,45,0,0.00,0.322,0.362,0.558,0.920,487,33,15,22,8,6,6,0.282,178,career
24,Three Balls,192,848,531,51,128,22,1,12,6,7,315,202,0.64,0.241,0.524,0.354,0.878,188,4,1,0,1,6,2,0.365,178,career
25,Two Strikes,192,2721,2501,142,391,71,5,32,35,14,194,1336,6.89,0.156,0.220,0.227,0.447,568,26,13,3,10,0,14,0.314,38,career
26,Batter Ahead,192,1468,1132,143,340,67,7,43,4,6,315,202,0.64,0.300,0.453,0.486,0.939,550,22,7,8,6,6,4,0.333,190,career
27,Even Count,192,1595,1551,169,382,73,8,44,1,2,0,373,NaN,0.246,0.253,0.389,0.642,603,36,17,20,7,0,15,0.296,94,career
28,Pitcher Ahead,192,1780,1748,110,312,64,5,28,6,1,0,761,NaN,0.178,0.186,0.269,0.455,470,31,18,6,8,0,12,0.294,38,career

leado

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,First Batter,192,192,172,4,50,8,2,4,0,0,20,44,2.20,0.291,0.365,0.430,0.795,74,0,0,0,0,0,0,0.371,144,career
1,Leadoff Inn.,192,1223,1142,32,267,51,8,32,0,0,74,335,4.53,0.234,0.285,0.377,0.661,430,0,7,0,0,0,7,0.303,102,career

defpo

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,vs. Pitcher,125,245,216,7,19,3,0,1,4,1,7,108,15.43,0.088,0.124,0.116,0.240,25,4,2,20,0,0,0,0.168,-25,career
1,vs. Non-P,192,4598,4215,422,1015,201,20,114,111,33,308,1228,3.99,0.241,0.297,0.379,0.676,1598,85,40,14,21,6,31,0.311,106,career

outs

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,0 outs,192,1675,1544,95,350,70,8,41,26,10,95,444,4.67,0.227,0.275,0.362,0.637,559,40,11,19,6,0,12,0.290,94,career
1,1 out,192,1643,1485,176,366,62,8,48,37,13,109,432,3.96,0.246,0.303,0.396,0.699,588,49,19,15,15,2,12,0.312,113,career
2,2 outs,192,1525,1402,158,318,72,4,26,52,11,111,460,4.14,0.227,0.289,0.340,0.629,476,0,12,0,0,4,7,0.319,93,career

bases

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,RISP,187,1064,931,290,221,57,2,14,33,1,85,298,3.51,0.237,0.304,0.348,0.652,324,33,13,14,21,6,12,0.323,100,career
1,---,192,2981,2782,80,635,117,16,80,0,0,180,839,4.66,0.228,0.280,0.368,0.648,1024,0,19,0,0,0,16,0.298,97,career
2,Men On,191,1862,1649,349,399,87,4,35,115,34,135,497,3.68,0.242,0.305,0.363,0.668,599,89,23,34,21,6,15,0.320,105,career
3,1--,191,798,718,59,178,30,2,21,82,33,50,199,3.98,0.248,0.306,0.383,0.689,275,56,10,20,0,0,3,0.315,111,career
4,-2-,154,412,361,67,79,22,1,6,12,1,40,119,2.98,0.219,0.302,0.335,0.637,121,0,3,8,0,1,4,0.309,96,career
5,--3,96,160,132,60,39,7,0,4,0,0,15,44,2.93,0.295,0.350,0.439,0.789,58,0,2,0,11,3,1,0.368,141,career
6,12-,126,236,217,53,54,14,1,3,11,0,14,58,4.14,0.249,0.297,0.364,0.661,79,23,1,4,0,0,1,0.327,102,career
7,1-3,84,91,72,41,22,9,0,0,10,0,6,19,3.17,0.306,0.371,0.431,0.801,31,7,5,2,6,0,3,0.373,146,career
8,-23,61,99,84,36,13,3,0,0,0,0,10,36,3.60,0.155,0.242,0.190,0.433,16,0,1,0,4,2,2,0.250,36,career
9,123,39,66,65,33,14,2,0,1,0,0,0,22,NaN,0.215,0.227,0.292,0.520,19,3,1,0,0,0,1,0.310,58,career
10,"on 1st, <2 out",185,749,663,114,164,33,1,20,11,9,43,177,4.12,0.247,0.302,0.391,0.692,259,89,11,26,6,0,6,0.305,111,career
11,"on 3rd, <2 out",107,201,163,107,48,12,0,4,2,0,11,62,5.64,0.294,0.317,0.442,0.758,72,10,4,2,21,2,4,0.373,130,career
12,"on 3rd, 2 out",124,215,190,57,40,9,0,1,0,0,20,59,2.95,0.211,0.302,0.274,0.576,52,0,5,0,0,3,3,0.300,79,career
13,"0 out, ---",192,1263,1180,33,271,51,8,33,0,0,76,343,4.51,0.230,0.280,0.370,0.651,437,0,7,0,0,0,7,0.296,98,career
14,"0 out, 1--",156,237,216,15,45,6,0,7,22,10,11,59,5.36,0.208,0.257,0.333,0.590,72,28,3,7,0,0,1,0.253,80,career
15,"0 out, -2-",63,84,75,10,12,4,0,0,1,0,1,24,24.00,0.160,0.171,0.213,0.384,16,0,0,8,0,0,0,0.235,17,career
16,"0 out, --3",15,16,12,8,5,1,0,1,0,0,2,4,2.00,0.417,0.438,0.750,1.188,9,0,0,0,2,0,0,0.444,256,career
17,"0 out, 12-",37,35,27,5,8,4,0,0,2,0,5,1,0.20,0.296,0.406,0.444,0.851,12,8,0,3,0,0,0,0.308,162,career
18,"0 out, 1-3",14,14,11,9,4,3,0,0,1,0,0,3,NaN,0.364,0.308,0.636,0.944,7,2,0,1,2,0,2,0.400,180,career
19,"0 out, -23",15,16,14,10,4,1,0,0,0,0,0,5,NaN,0.286,0.250,0.357,0.607,5,0,0,0,2,0,1,0.364,84,career
20,"0 out, 123",7,10,9,5,1,0,0,0,0,0,0,5,NaN,0.111,0.200,0.111,0.311,1,2,1,0,0,0,1,0.250,0,career
21,"1 out, ---",192,958,893,30,211,34,6,30,0,0,56,258,4.61,0.236,0.288,0.389,0.677,347,0,9,0,0,0,7,0.299,106,career
22,"1 out, 1--",171,304,263,26,70,10,1,11,27,12,23,71,3.09,0.266,0.337,0.437,0.774,115,28,5,13,0,0,2,0.326,136,career
23,"1 out, -2-",108,145,125,23,31,6,1,3,4,1,18,37,2.06,0.248,0.352,0.384,0.736,48,0,2,0,0,0,3,0.329,127,career
24,"1 out, --3",47,54,41,29,15,2,0,2,0,0,3,15,5.00,0.366,0.352,0.561,0.913,23,0,1,0,9,1,0,0.394,175,career
25,"1 out, 12-",77,91,87,19,20,5,0,1,4,0,3,21,7.00,0.230,0.256,0.322,0.577,28,15,0,1,0,0,0,0.292,77,career
26,"1 out, 1-3",39,38,30,23,11,4,0,0,2,0,1,8,8.00,0.367,0.378,0.500,0.878,15,5,2,1,4,0,0,0.423,167,career
27,"1 out, -23",30,33,26,12,3,0,0,0,0,0,5,13,2.60,0.115,0.242,0.115,0.358,3,0,0,0,2,1,0,0.200,15,career
28,"1 out, 123",19,20,20,14,5,1,0,1,0,0,0,9,NaN,0.250,0.250,0.450,0.700,9,1,0,0,0,0,0,0.400,109,career
29,"2 out, ---",189,760,709,17,153,32,2,17,0,0,48,238,4.96,0.216,0.268,0.339,0.607,240,0,3,0,0,0,2,0.300,85,career
30,"2 out, 1--",158,257,239,18,63,14,1,3,33,11,16,69,4.31,0.264,0.315,0.368,0.683,88,0,2,0,0,0,0,0.359,110,career
31,"2 out, -2-",121,183,161,34,36,12,0,3,7,0,21,58,2.76,0.224,0.317,0.354,0.671,57,0,1,0,0,1,1,0.330,106,career
32,"2 out, --3",75,90,79,23,19,4,0,1,0,0,10,25,2.50,0.241,0.333,0.329,0.662,26,0,1,0,0,2,1,0.340,105,career
33,"2 out, 12-",91,110,103,29,26,5,1,2,5,0,6,36,6.00,0.252,0.300,0.379,0.679,39,0,1,0,0,0,1,0.369,107,career
34,"2 out, 1-3",46,39,31,9,7,2,0,0,7,0,5,8,1.60,0.226,0.385,0.290,0.675,9,0,3,0,0,0,1,0.304,112,career
35,"2 out, -23",42,50,44,14,6,2,0,0,0,0,5,18,3.60,0.136,0.240,0.182,0.422,8,0,1,0,0,1,1,0.231,33,career
36,"2 out, 123",31,36,36,14,8,1,0,0,0,0,0,8,NaN,0.222,0.222,0.250,0.472,9,0,0,0,0,0,0,0.286,45,career

clutc

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,"2 outs, RISP",182,508,454,123,102,26,1,6,19,0,47,153,3.26,0.225,0.307,0.326,0.633,148,0,7,0,0,4,5,0.325,95,career
1,Late & Close,65,258,241,31,66,11,2,10,3,1,12,56,4.67,0.274,0.306,0.461,0.766,111,5,0,3,2,0,1,0.316,132,career
2,Tie Game,177,1673,1519,145,369,73,13,43,50,15,114,468,4.11,0.243,0.302,0.393,0.695,597,26,20,10,10,2,10,0.320,112,career
3,Within 1 R,185,3099,2829,273,668,135,16,71,92,24,208,849,4.08,0.236,0.294,0.370,0.664,1048,54,28,20,14,4,20,0.310,103,career
4,Within 2 R,190,3854,3513,349,828,161,18,92,100,27,258,1041,4.03,0.236,0.293,0.370,0.663,1301,69,34,30,19,6,24,0.307,102,career
5,Within 3 R,192,4297,3922,384,924,180,18,100,110,32,286,1158,4.05,0.236,0.292,0.367,0.660,1440,85,38,30,21,6,26,0.307,101,career
6,Within 4 R,192,4463,4079,396,952,184,18,104,113,33,293,1213,4.14,0.233,0.290,0.364,0.654,1484,85,39,31,21,6,27,0.305,100,career
7,Margin > 4 R,37,380,352,33,82,20,2,11,2,1,22,123,5.59,0.233,0.284,0.395,0.679,139,4,3,3,0,0,4,0.326,106,career
8,Ahead,127,1901,1751,168,410,75,3,50,31,4,115,509,4.43,0.234,0.286,0.366,0.652,641,32,15,14,6,0,12,0.301,99,career
9,Behind,118,1269,1161,116,255,56,4,22,34,15,86,359,4.17,0.220,0.276,0.332,0.608,385,31,7,10,5,4,9,0.297,86,career

lever

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,High Lvrge,169,781,687,179,171,38,3,15,35,4,52,186,3.58,0.249,0.310,0.378,0.688,260,47,14,16,12,3,5,0.313,111,career
1,Medium Lvrge,192,2307,2120,187,496,92,8,62,71,21,150,627,4.18,0.234,0.288,0.373,0.661,790,37,14,15,8,3,18,0.302,102,career
2,Low Lvrge,192,1755,1624,63,367,74,9,38,9,9,113,523,4.63,0.226,0.282,0.353,0.635,573,5,14,3,1,0,8,0.309,94,career

innng

,Split,G,IP,ER,ERA,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,1st inning,192,192.0,90,4.22,811,727,100,191,43,5,21,31,15,70,206,2.94,0.263,0.332,0.422,0.754,307,15,8,0,6,0,5,0.336,130,career
1,2nd inning,192,192.0,44,2.06,743,692,48,142,30,3,14,19,5,40,229,5.73,0.205,0.253,0.318,0.571,220,15,5,4,2,0,7,0.284,74,career
2,3rd inning,191,190.0,54,2.56,765,702,62,163,34,2,14,21,3,44,223,5.07,0.232,0.281,0.346,0.627,243,14,4,13,2,1,5,0.319,92,career
3,4th inning,190,190.0,64,3.03,763,706,68,163,33,2,22,9,4,42,206,4.90,0.231,0.280,0.377,0.657,266,10,8,3,4,3,4,0.293,100,career
4,5th inning,187,184.0,63,3.08,737,662,61,145,23,3,17,15,3,57,204,3.58,0.219,0.290,0.340,0.629,225,20,10,5,3,0,3,0.288,93,career
5,6th inning,159,151.1,61,3.63,634,583,53,141,28,2,15,17,2,40,167,4.18,0.242,0.295,0.374,0.669,218,7,5,4,2,2,5,0.313,104,career
6,7th inning,90,78.2,41,4.69,318,292,32,71,12,3,10,2,2,19,87,4.58,0.243,0.293,0.408,0.701,119,6,2,4,1,0,0,0.311,113,career
7,8th inning,19,14.2,8,4.91,63,59,5,17,1,0,2,1,0,2,13,6.50,0.288,0.306,0.407,0.713,24,1,0,1,1,0,1,0.333,117,career
8,9th inning,3,2.1,0,0.00,9,8,0,1,0,0,0,0,0,1,1,1.00,0.125,0.222,0.125,0.347,1,1,0,0,0,0,1,0.143,11,career
9,Innings 1-3,192,574.0,188,2.95,2319,2121,210,496,107,10,49,71,23,154,658,4.27,0.234,0.290,0.363,0.653,770,44,17,17,10,1,17,0.314,100,career
10,Innings 4-6,190,525.1,188,3.22,2134,1951,182,449,84,7,54,41,9,139,577,4.15,0.230,0.288,0.363,0.651,709,37,23,12,9,5,12,0.297,99,career
11,Innings 7-9,90,95.2,49,4.61,390,359,37,89,13,3,12,3,2,22,101,4.59,0.248,0.294,0.401,0.695,144,8,2,5,2,0,2,0.310,111,career

times

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,"1st PA in G, as SP",192,1728,1581,141,368,82,8,38,3,6,112,500,4.46,0.233,0.288,0.367,0.654,580,30,13,14,8,0,13,0.314,100,career
1,"2nd PA in G, as SP",192,1715,1573,137,343,64,6,38,4,3,108,485,4.49,0.218,0.275,0.339,0.614,533,30,18,10,6,4,8,0.289,88,career
2,"3rd PA in G, as SP",189,1321,1204,135,299,56,5,37,4,0,89,337,3.79,0.248,0.304,0.395,0.700,476,27,11,10,7,2,9,0.313,113,career
3,"4th+ PA in G, as SP",51,79,73,9,24,2,1,2,0,11,6,14,2.33,0.329,0.380,0.466,0.846,34,2,0,0,0,0,1,0.386,159,career

pitco

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Pitch 1-25,192,1149,1047,106,262,55,6,29,2,9,81,302,3.73,0.250,0.310,0.397,0.707,416,22,12,2,7,0,11,0.322,116,career
1,Pitch 26-50,192,1237,1137,93,255,53,3,27,4,4,74,348,4.70,0.224,0.274,0.347,0.622,395,21,6,16,4,1,6,0.298,90,career
2,Pitch 51-75,191,1206,1105,108,248,51,5,27,1,6,74,342,4.62,0.224,0.280,0.353,0.633,390,21,14,7,6,4,6,0.298,93,career
3,Pitch 76-100,189,1071,979,92,228,40,4,29,4,1,72,286,3.97,0.233,0.290,0.371,0.661,363,24,9,7,4,1,7,0.298,102,career
4,Pitch 101+,95,180,163,23,41,5,2,3,0,0,14,58,4.14,0.252,0.315,0.362,0.677,59,1,1,2,0,0,1,0.373,108,career

dr

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,"4 Days,GS",100,2559,2345,209,518,91,10,58,49,16,169,696,4.12,0.221,0.276,0.342,0.618,803,47,14,16,15,1,16,0.286,89,career
1,"5 Days,GS",63,1587,1445,175,365,78,7,42,47,13,102,463,4.54,0.253,0.311,0.403,0.714,583,25,22,13,5,2,11,0.342,118,career
2,"6+ Days,GS",29,697,641,77,151,35,3,15,19,5,44,177,4.02,0.236,0.290,0.370,0.660,237,17,6,5,1,3,4,0.302,101,career

dr_extra

,Split,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,WHIP,SO9,SO/W,year
0,"4 Days,GS",55,25,0.688,2.72,100,100,0,2,1,0,644.2,518,209,195,58,169,1,696,14,3,23,2559,1.066,9.7,4.12,career
1,"5 Days,GS",26,18,0.591,3.86,63,63,0,0,0,0,378.0,365,175,162,42,102,2,463,22,2,14,1587,1.235,11.0,4.54,career
2,"6+ Days,GS",13,9,0.591,3.66,29,29,0,0,0,0,172.1,151,77,70,15,44,3,177,6,0,8,697,1.132,9.2,4.02,career

hitlo

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,To Infield,192,1490,1456,46,118,4,0,0,0,0,0,0,NaN,0.081,0.081,0.084,0.165,122,89,0,34,0,0,27,0.081,-49,career
1,To Outfield,192,1656,1635,374,915,200,20,115,0,0,0,0,NaN,0.560,0.553,0.917,1.470,1500,0,0,0,21,0,4,0.519,342,career
2,Ball In Play,192,3035,2980,265,919,204,20,0,0,0,0,0,NaN,0.308,0.306,0.390,0.696,1163,89,0,34,21,0,31,0.306,112,career
3,Not in Play,192,1808,1451,157,115,0,0,115,11,9,315,1336,4.24,0.079,0.261,0.317,0.578,460,0,42,0,0,6,0,NaN,77,career
4,Fair Terr,192,3057,3002,420,1033,204,20,115,0,0,0,0,NaN,0.344,0.342,0.540,0.882,1622,89,0,34,21,0,31,0.316,166,career
5,Foul Terr,70,89,89,0,0,0,0,0,0,0,0,0,NaN,0.000,0.000,0.000,0.000,0,0,0,0,0,0,0,0.000,-100,career
6,Pulled-RHB,162,379,377,57,146,48,0,15,0,0,0,0,NaN,0.387,0.387,0.634,1.021,239,12,0,2,0,0,8,0.362,207,career
7,Up Mdle-RHB,190,938,916,113,274,34,5,37,0,0,0,0,NaN,0.299,0.297,0.468,0.765,429,45,0,14,8,0,13,0.267,131,career
8,Opp Fld-RHB,153,382,373,48,126,23,3,5,0,0,0,0,NaN,0.338,0.336,0.456,0.792,170,3,0,7,2,0,1,0.327,141,career
9,Pulled-LHB,164,427,424,79,177,49,6,28,0,0,0,0,NaN,0.417,0.416,0.759,1.176,322,5,0,2,1,0,4,0.375,251,career
10,Up Mdle-LHB,185,754,742,93,232,36,5,19,0,0,0,0,NaN,0.313,0.310,0.451,0.761,335,21,0,5,7,0,3,0.292,130,career
11,Opp Fld-LHB,138,266,259,30,78,14,1,11,0,0,0,0,NaN,0.301,0.298,0.490,0.788,127,3,0,4,3,0,2,0.267,137,career
12,Unknown Loc,3,4,4,0,1,0,0,0,0,0,0,0,NaN,0.250,0.250,0.250,0.500,1,0,0,0,0,0,0,0.250,55,career

traj

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Ground Balls,191,1396,1396,90,329,30,3,0,0,0,0,0,NaN,0.236,0.236,0.261,0.497,365,85,0,0,0,0,28,0.236,53,career
1,Fly Balls,191,867,848,154,153,31,9,85,0,0,0,0,NaN,0.180,0.176,0.539,0.715,457,0,0,0,19,0,1,0.087,108,career
2,Line Drives,190,818,816,174,541,143,8,30,0,0,0,0,NaN,0.663,0.661,0.968,1.630,790,0,0,0,2,0,2,0.648,393,career
3,Bunts,57,69,35,2,11,0,0,0,0,0,0,0,NaN,0.314,0.314,0.314,0.629,11,4,0,34,0,0,0,0.314,94,career

oppon

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Inter-League,29,728,679,59,142,34,4,15,10,2,36,214,5.94,0.209,0.250,0.337,0.588,229,17,3,5,5,1,2,0.279,79,career
1,Los Angeles Angels,9,226,209,17,45,8,1,6,2,1,14,75,5.36,0.215,0.270,0.349,0.619,73,2,2,0,1,0,0,0.302,89,career
2,Arizona Diamondbacks,6,164,153,10,36,12,1,1,2,2,10,43,4.30,0.235,0.282,0.346,0.629,53,4,0,1,0,0,0,0.321,92,career
3,Atlanta Braves,6,158,137,14,40,10,0,4,2,2,14,31,2.21,0.292,0.370,0.453,0.823,62,4,3,4,0,1,1,0.353,152,career
4,Baltimore Orioles,2,50,48,4,9,3,0,1,0,1,1,18,18.00,0.188,0.220,0.313,0.533,15,0,1,0,0,0,1,0.276,62,career
5,Boston Red Sox,5,123,116,12,29,4,1,4,3,1,5,31,6.20,0.250,0.279,0.405,0.684,47,1,0,1,1,0,0,0.305,107,career
6,Chicago Cubs,15,378,344,33,73,12,1,3,12,4,21,115,5.48,0.212,0.267,0.279,0.546,96,6,6,4,3,0,4,0.306,69,career
7,Chicago White Sox,2,49,43,8,10,2,0,3,1,0,4,11,2.75,0.233,0.292,0.488,0.780,21,0,0,1,1,0,0,0.233,134,career
8,Cincinnati Reds,13,312,278,40,74,11,3,9,22,2,28,81,2.89,0.266,0.330,0.424,0.755,118,9,0,3,3,1,2,0.340,130,career
9,Cleveland Indians,4,105,94,9,16,4,0,3,3,0,8,27,3.38,0.170,0.240,0.309,0.549,29,4,1,1,1,0,0,0.200,67,career
10,Colorado Rockies,7,170,159,14,37,3,0,5,2,1,9,43,4.78,0.233,0.274,0.346,0.620,55,3,0,2,0,0,2,0.288,89,career
11,Detroit Tigers,7,173,159,11,30,6,1,2,1,0,13,55,4.23,0.189,0.254,0.277,0.531,44,4,1,0,0,0,1,0.275,64,career
12,Miami Marlins,7,190,177,23,54,7,0,6,3,0,9,37,4.11,0.305,0.335,0.446,0.781,79,4,0,2,2,1,0,0.353,138,career
13,Houston Astros,1,23,20,5,7,2,1,1,0,0,1,4,4.00,0.350,0.348,0.700,1.048,14,0,0,0,2,1,0,0.353,212,career
14,Kansas City Royals,4,102,95,9,18,4,1,3,4,0,5,34,6.80,0.189,0.235,0.347,0.583,33,1,1,0,1,0,1,0.254,76,career
15,Los Angeles Dodgers,7,180,167,26,49,14,2,2,7,0,8,36,4.50,0.293,0.337,0.437,0.774,73,4,3,2,0,0,2,0.364,136,career
16,Milwaukee Brewers,13,328,304,33,74,12,1,9,5,4,21,88,4.19,0.243,0.297,0.378,0.675,115,10,2,1,0,1,3,0.314,106,career
17,Minnesota Twins,1,24,21,0,1,1,0,0,0,0,3,11,3.67,0.048,0.167,0.095,0.262,2,1,0,0,0,0,0,0.100,-16,career
18,New York Mets,5,124,113,20,37,6,2,6,4,2,9,28,3.11,0.327,0.382,0.575,0.957,65,5,1,1,0,0,2,0.392,189,career
19,New York Yankees,2,52,47,6,11,1,1,2,0,0,5,14,2.80,0.234,0.308,0.426,0.733,20,2,0,0,0,0,0,0.290,123,career
20,Oakland Athletics,8,195,179,17,34,12,0,7,0,2,15,65,4.33,0.190,0.256,0.374,0.631,67,5,1,0,0,0,0,0.252,91,career
21,Philadelphia Phillies,7,158,142,15,37,5,1,2,5,3,10,41,4.10,0.261,0.325,0.352,0.677,50,2,4,1,1,0,0,0.350,109,career
22,Pittsburgh Pirates,1,26,23,1,7,2,0,0,0,1,2,3,1.50,0.304,0.360,0.391,0.751,9,0,0,1,0,0,0,0.350,131,career
23,San Diego Padres,7,178,163,8,40,9,0,2,4,2,9,54,6.00,0.245,0.291,0.337,0.629,55,2,2,3,1,0,0,0.352,93,career
24,Seattle Mariners,9,231,219,15,37,12,0,3,4,2,8,81,10.13,0.169,0.203,0.265,0.468,58,3,2,0,2,0,2,0.248,43,career
25,San Francisco Giants,7,191,173,19,42,5,0,3,4,1,15,45,3.00,0.243,0.307,0.324,0.631,56,3,1,2,0,0,1,0.312,95,career
26,St. Louis Cardinals,15,376,344,31,79,17,2,11,2,1,27,77,2.85,0.230,0.291,0.387,0.678,133,6,3,2,0,0,3,0.266,106,career
27,Tampa Bay Rays,4,109,96,15,19,1,1,3,4,0,9,37,4.11,0.198,0.269,0.323,0.591,31,0,1,1,2,0,4,0.276,81,career
28,Texas Rangers,10,253,231,27,47,7,0,10,9,1,20,101,5.05,0.203,0.273,0.364,0.636,84,2,2,0,0,0,2,0.308,94,career
29,Toronto Blue Jays,2,47,43,6,10,5,0,1,2,0,3,16,5.33,0.233,0.298,0.419,0.716,18,0,1,0,0,0,0,0.346,118,career
30,Washington Nationals,6,148,134,13,32,7,0,3,8,1,9,34,3.78,0.239,0.306,0.358,0.664,48,2,4,1,0,1,0,0.299,104,career
31,WP < .500,103,2578,2354,258,591,98,11,68,63,22,171,720,4.21,0.251,0.306,0.389,0.695,915,44,21,22,10,3,13,0.332,112,career
32,WP >= .500,89,2265,2077,203,443,106,9,47,52,12,144,616,4.28,0.213,0.270,0.341,0.611,708,45,21,12,11,3,18,0.278,87,career

oppon_extra

,Split,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,WHIP,SO9,SO/W,year
0,Inter-League,16,6,0.727,2.76,29,29,0,2,1,0,189.1,142,59,58,15,36,1,214,3,2,7,728,0.940,10.2,5.94,career
1,Los Angeles Angels,6,1,0.857,2.70,9,9,0,0,0,0,56.2,45,17,17,6,14,0,75,2,0,1,226,1.041,11.9,5.36,career
2,Arizona Diamondbacks,3,2,0.600,1.96,6,6,0,1,1,0,41.1,36,10,9,1,10,0,43,0,0,1,164,1.113,9.4,4.30,career
3,Atlanta Braves,3,1,0.750,3.19,6,6,0,0,0,0,36.2,40,14,13,4,14,1,31,3,0,2,158,1.473,7.6,2.21,career
4,Baltimore Orioles,0,0,NaN,1.38,2,2,0,0,0,0,13.0,9,4,2,1,1,0,18,1,1,0,50,0.769,12.5,18.00,career
5,Boston Red Sox,2,1,0.667,3.60,5,5,0,0,0,0,30.0,29,12,12,4,5,0,31,0,0,1,123,1.133,9.3,6.20,career
6,Chicago Cubs,10,3,0.769,2.53,15,15,0,0,0,0,96.0,73,33,27,3,21,0,115,6,0,2,378,0.979,10.8,5.48,career
7,Chicago White Sox,1,1,0.500,6.00,2,2,0,0,0,0,12.0,10,8,8,3,4,0,11,0,0,1,49,1.167,8.3,2.75,career
8,Cincinnati Reds,1,8,0.111,4.68,13,13,0,0,0,0,73.0,74,40,38,9,28,1,81,0,0,4,312,1.397,10.0,2.89,career
9,Cleveland Indians,2,1,0.667,2.79,4,4,0,0,0,0,29.0,16,9,9,3,8,0,27,1,0,0,105,0.828,8.4,3.38,career
10,Colorado Rockies,5,1,0.833,2.47,7,7,0,0,0,0,43.2,37,14,12,5,9,0,43,0,0,2,170,1.053,8.9,4.78,career
11,Detroit Tigers,5,1,0.833,2.23,7,7,0,0,0,0,44.1,30,11,11,2,13,0,55,1,0,1,173,0.970,11.2,4.23,career
12,Miami Marlins,2,3,0.400,4.70,7,7,0,0,0,0,44.0,54,23,23,6,9,1,37,0,1,2,190,1.432,7.6,4.11,career
13,Houston Astros,0,1,0.000,9.00,1,1,0,0,0,0,5.0,7,5,5,1,1,1,4,0,0,0,23,1.600,7.2,4.00,career
14,Kansas City Royals,3,1,0.750,2.36,4,4,0,0,0,0,26.2,18,9,7,3,5,0,34,1,0,0,102,0.863,11.5,6.80,career
15,Los Angeles Dodgers,3,2,0.600,5.53,7,7,0,0,0,0,40.2,49,26,25,2,8,0,36,3,0,1,180,1.402,8.0,4.50,career
16,Milwaukee Brewers,3,4,0.429,3.40,13,13,0,0,0,0,82.0,74,33,31,9,21,1,88,2,1,2,328,1.159,9.7,4.19,career
17,Minnesota Twins,1,0,1.000,0.00,1,1,0,0,0,0,7.0,1,0,0,0,3,0,11,0,0,1,24,0.571,14.1,3.67,career
18,New York Mets,2,2,0.500,6.26,5,5,0,0,0,0,27.1,37,20,19,6,9,0,28,1,0,3,124,1.683,9.2,3.11,career
19,New York Yankees,1,0,1.000,4.15,2,2,0,0,0,0,13.0,11,6,6,2,5,0,14,0,1,0,52,1.231,9.7,2.80,career
20,Oakland Athletics,4,1,0.800,3.02,8,8,0,0,0,0,50.2,34,17,17,7,15,0,65,1,0,3,195,0.967,11.5,4.33,career
21,Philadelphia Phillies,4,3,0.571,3.38,7,7,0,0,0,0,37.1,37,15,14,2,10,0,41,4,0,1,158,1.259,9.9,4.10,career
22,Pittsburgh Pirates,1,0,1.000,1.50,1,1,0,0,0,0,6.0,7,1,1,0,2,0,3,0,0,0,26,1.500,4.5,1.50,career
23,San Diego Padres,4,2,0.667,1.65,7,7,0,0,0,0,43.2,40,8,8,2,9,0,54,2,0,2,178,1.122,11.1,6.00,career
24,Seattle Mariners,6,2,0.750,1.86,9,9,0,1,0,0,63.0,37,15,13,3,8,0,81,2,0,1,231,0.714,11.6,10.13,career
25,San Francisco Giants,5,1,0.833,3.15,7,7,0,0,0,0,45.2,42,19,16,3,15,0,45,1,0,3,191,1.248,8.9,3.00,career
26,St. Louis Cardinals,8,4,0.667,2.96,15,15,0,0,0,0,91.1,79,31,30,11,27,0,77,3,0,4,376,1.161,7.6,2.85,career
27,Tampa Bay Rays,0,2,0.000,3.51,4,4,0,0,0,0,25.2,19,15,10,3,9,0,37,1,1,1,109,1.091,13.0,4.11,career
28,Texas Rangers,5,2,0.714,3.75,10,10,0,0,0,0,62.1,47,27,26,10,20,0,101,2,0,4,253,1.075,14.6,5.05,career
29,Toronto Blue Jays,1,0,1.000,4.91,2,2,0,0,0,0,11.0,10,6,6,1,3,0,16,1,0,2,47,1.182,13.1,5.33,career
30,Washington Nationals,3,2,0.600,2.92,6,6,0,0,0,0,37.0,32,13,12,3,9,1,34,4,0,0,148,1.108,8.3,3.78,career
31,WP < .500,55,28,0.663,3.51,103,103,0,0,0,0,623.0,591,258,243,68,171,3,720,21,2,24,2578,1.223,10.4,4.21,career
32,WP >= .500,39,24,0.619,2.90,89,89,0,2,1,0,572.0,443,203,184,47,144,3,616,21,3,21,2265,1.026,9.7,4.28,career

stad

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Night,130,3302,3014,314,704,137,11,75,77,21,221,885,4.00,0.234,0.292,0.361,0.653,1088,60,31,24,12,5,25,0.304,100,career
1,Day,62,1541,1417,147,330,67,9,40,38,13,94,451,4.80,0.233,0.284,0.378,0.662,535,29,11,10,9,1,6,0.310,102,career
2,Open,152,3830,3495,375,853,175,17,87,99,31,255,971,3.81,0.244,0.301,0.379,0.679,1323,79,35,29,16,6,25,0.312,108,career
3,Dome,40,1013,936,86,181,29,3,28,16,3,60,365,6.08,0.193,0.246,0.321,0.567,300,10,7,5,5,0,6,0.279,73,career
4,Grass,190,4789,4383,454,1024,204,20,114,112,34,312,1321,4.23,0.234,0.290,0.367,0.657,1610,89,41,33,20,6,27,0.307,101,career
5,Artif. Turf,2,54,48,7,10,0,0,1,3,0,3,15,5.00,0.208,0.264,0.271,0.535,13,0,1,1,1,0,4,0.273,65,career

stad_extra

,Split,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,WHIP,SO9,SO/W,year
0,Night,62,36,0.633,3.19,130,130,0,2,1,0,812.0,704,314,288,75,221,5,885,31,3,35,3302,1.139,9.8,4.00,career
1,Day,32,16,0.667,3.27,62,62,0,0,0,0,383.0,330,147,139,40,94,1,451,11,2,10,1541,1.107,10.6,4.80,career
2,Open,71,45,0.612,3.36,152,152,0,2,1,0,936.1,853,375,350,87,255,6,971,35,2,36,3830,1.183,9.3,3.81,career
3,Dome,23,7,0.767,2.68,40,40,0,0,0,0,258.2,181,86,77,28,60,0,365,7,3,9,1013,0.932,12.7,6.08,career
4,Grass,94,50,0.653,3.23,190,190,0,2,1,0,1183.0,1024,454,425,114,312,6,1321,41,5,45,4789,1.129,10.0,4.23,career
5,Artif. Turf,0,2,0.000,1.50,2,2,0,0,0,0,12.0,10,7,2,1,3,0,15,1,0,0,54,1.083,11.3,5.00,career

site

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,LAA-Angel Stad,4,94,87,7,20,2,0,5,0,1,6,33,5.50,0.230,0.287,0.425,0.713,37,0,1,0,0,0,0,0.306,115,career
1,ARI-Chase Field,3,89,84,3,15,6,0,0,0,0,4,28,7.00,0.179,0.216,0.250,0.466,21,1,0,1,0,0,0,0.268,43,career
2,STL-Busch Stad 3,8,212,191,16,44,8,2,6,1,1,20,48,2.40,0.230,0.307,0.387,0.694,74,5,1,0,0,0,2,0.277,112,career
3,NYM-Citi Field,1,24,22,7,8,0,1,3,0,0,2,6,3.00,0.364,0.417,0.864,1.280,19,1,0,0,0,0,0,0.385,280,career
4,PHI-CitizensBank,3,68,60,9,17,2,1,2,1,1,7,17,2.43,0.283,0.368,0.450,0.818,27,1,1,0,0,0,0,0.366,150,career
5,DET-Comerica Pk,3,81,75,7,18,4,1,2,0,0,5,22,4.40,0.240,0.296,0.400,0.696,30,3,1,0,0,0,1,0.314,112,career
6,CHW-US Cellular,1,27,22,2,3,1,0,1,1,0,3,4,1.33,0.136,0.231,0.318,0.549,7,0,0,1,1,0,0,0.111,67,career
7,COL-Coors Fld,2,51,47,6,13,3,0,1,0,0,3,12,4.00,0.277,0.320,0.404,0.724,19,1,0,1,0,0,1,0.353,121,career
8,LAD-Dodger Stad,4,102,96,15,30,11,2,1,5,0,3,23,7.67,0.313,0.340,0.500,0.840,48,1,1,2,0,0,1,0.403,154,career
9,HOU-MinuteMaidPk,32,800,745,67,135,24,3,26,10,3,47,315,6.70,0.181,0.234,0.326,0.561,243,10,5,2,1,0,1,0.269,70,career
10,BOS-Fenway Pk,3,69,64,7,18,3,1,2,1,1,4,17,4.25,0.281,0.319,0.453,0.772,29,1,0,0,1,0,0,0.348,134,career
11,CIN-GreatAmer BP,9,215,194,23,49,5,1,7,13,1,17,60,3.53,0.253,0.311,0.397,0.708,77,7,0,3,1,0,2,0.328,116,career
12,CLE-Progressive,2,51,45,4,8,3,0,1,1,0,4,12,3.00,0.178,0.255,0.311,0.566,14,1,1,0,1,0,0,0.212,73,career
13,MIA-Marlins Pk,3,85,78,7,18,1,0,1,0,0,4,16,4.00,0.231,0.262,0.282,0.544,22,0,0,1,2,0,0,0.270,68,career
14,MIL-Miller Pk,7,169,154,21,38,8,0,6,4,2,13,51,3.92,0.247,0.310,0.416,0.725,64,1,1,1,0,1,1,0.330,121,career
15,WSN-Natls Park,3,66,61,9,17,5,0,1,4,1,4,16,4.00,0.279,0.333,0.410,0.743,25,1,1,0,0,1,0,0.364,127,career
16,OAK-Oakland Col.,3,73,66,7,14,4,0,4,0,2,7,19,2.71,0.212,0.288,0.455,0.742,30,0,0,0,0,0,0,0.233,124,career
17,BAL-Camden Yards,1,23,22,1,5,2,0,0,0,1,1,4,4.00,0.227,0.261,0.318,0.579,7,0,0,0,0,0,0,0.278,77,career
18,SFG-AT&T Pk,2,54,48,4,11,2,0,0,1,0,6,13,2.17,0.229,0.315,0.271,0.586,13,2,0,0,0,0,1,0.314,83,career
19,SDP-Petco Pk,4,98,90,4,23,4,0,1,2,2,4,26,6.50,0.256,0.292,0.333,0.625,30,2,1,2,1,0,0,0.344,92,career
20,PIT-PNC Pk,64,1636,1492,166,376,75,6,34,47,10,101,352,3.49,0.252,0.306,0.379,0.684,565,37,18,16,9,4,9,0.307,109,career
21,KCR-KauffmanStad,2,56,52,4,9,4,0,0,1,0,2,17,8.50,0.173,0.214,0.250,0.464,13,1,1,0,1,0,1,0.250,42,career
22,SEA-Safeco Fld,5,121,113,8,22,7,0,1,4,1,6,45,7.50,0.195,0.240,0.283,0.523,32,1,1,0,1,0,1,0.309,60,career
23,ATL-SunTrust Pk,1,24,22,5,10,1,0,2,0,0,1,2,2.00,0.455,0.500,0.773,1.273,17,2,1,0,0,0,1,0.444,284,career
24,MIN-Target Field,1,24,21,0,1,1,0,0,0,0,3,11,3.67,0.048,0.167,0.095,0.262,2,1,0,0,0,0,0,0.100,-16,career
25,TEX-Rangers Bpk,7,175,156,22,34,7,0,6,8,1,18,65,3.61,0.218,0.303,0.378,0.681,59,2,1,0,0,0,2,0.329,108,career
26,TBR-TropicanaFld,2,54,48,7,10,0,0,1,3,0,3,15,5.00,0.208,0.264,0.271,0.535,13,0,1,1,1,0,4,0.273,65,career
27,ATL-Turner Fld,3,78,69,4,17,5,0,0,1,2,7,19,2.71,0.246,0.333,0.319,0.652,22,1,2,0,0,0,0,0.340,102,career
28,CHC-Wrigley Fld,8,199,184,16,44,6,1,0,7,4,8,60,7.50,0.239,0.281,0.283,0.563,52,5,3,3,1,0,3,0.352,75,career
29,NYY-Yankee Stad3,1,25,23,3,7,0,1,1,0,0,2,8,4.00,0.304,0.360,0.522,0.882,12,1,0,0,0,0,0,0.429,167,career

site_extra

,Split,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,WHIP,SO9,SO/W,year
0,LAA-Angel Stad,3,0,1.000,2.70,4,4,0,0,0,0,23.1,20,7,7,5,6,0,33,1,0,0,94,1.114,12.7,5.50,career
1,ARI-Chase Field,2,1,0.667,1.14,3,3,0,1,1,0,23.2,15,3,3,0,4,0,28,0,0,0,89,0.803,10.6,7.00,career
2,STL-Busch Stad 3,4,4,0.500,2.66,8,8,0,0,0,0,50.2,44,16,15,6,20,0,48,1,0,2,212,1.263,8.5,2.40,career
3,NYM-Citi Field,1,0,1.000,12.60,1,1,0,0,0,0,5.0,8,7,7,3,2,0,6,0,0,1,24,2.000,10.8,3.00,career
4,PHI-CitizensBank,2,1,0.667,5.40,3,3,0,0,0,0,15.0,17,9,9,2,7,0,17,1,0,1,68,1.600,10.2,2.43,career
5,DET-Comerica Pk,2,0,1.000,3.20,3,3,0,0,0,0,19.2,18,7,7,2,5,0,22,1,0,1,81,1.169,10.1,4.40,career
6,CHW-US Cellular,1,0,1.000,2.57,1,1,0,0,0,0,7.0,3,2,2,1,3,0,4,0,0,1,27,0.857,5.1,1.33,career
7,COL-Coors Fld,1,0,1.000,2.92,2,2,0,0,0,0,12.1,13,6,4,1,3,0,12,0,0,1,51,1.297,8.8,4.00,career
8,LAD-Dodger Stad,2,2,0.500,5.56,4,4,0,0,0,0,22.2,30,15,14,1,3,0,23,1,0,1,102,1.456,9.1,7.67,career
9,HOU-MinuteMaidPk,20,4,0.833,2.79,32,32,0,0,0,0,209.1,135,67,65,26,47,0,315,5,2,7,800,0.869,13.5,6.70,career
10,BOS-Fenway Pk,0,1,0.000,3.94,3,3,0,0,0,0,16.0,18,7,7,2,4,0,17,0,0,1,69,1.375,9.6,4.25,career
11,CIN-GreatAmer BP,1,4,0.200,3.66,9,9,0,0,0,0,51.2,49,23,21,7,17,0,60,0,0,3,215,1.277,10.5,3.53,career
12,CLE-Progressive,1,0,1.000,2.57,2,2,0,0,0,0,14.0,8,4,4,1,4,0,12,1,0,0,51,0.857,7.7,3.00,career
13,MIA-Marlins Pk,1,2,0.333,3.05,3,3,0,0,0,0,20.2,18,7,7,1,4,0,16,0,0,1,85,1.065,7.0,4.00,career
14,MIL-Miller Pk,1,3,0.250,4.65,7,7,0,0,0,0,40.2,38,21,21,6,13,1,51,1,1,1,169,1.254,11.3,3.92,career
15,WSN-Natls Park,1,2,0.333,4.41,3,3,0,0,0,0,16.1,17,9,8,1,4,1,16,1,0,0,66,1.286,8.8,4.00,career
16,OAK-Oakland Col.,2,0,1.000,3.50,3,3,0,0,0,0,18.0,14,7,7,4,7,0,19,0,0,1,73,1.167,9.5,2.71,career
17,BAL-Camden Yards,0,0,NaN,1.50,1,1,0,0,0,0,6.0,5,1,1,0,1,0,4,0,0,0,23,1.000,6.0,4.00,career
18,SFG-AT&T Pk,2,0,1.000,1.38,2,2,0,0,0,0,13.0,11,4,2,0,6,0,13,0,0,1,54,1.308,9.0,2.17,career
19,SDP-Petco Pk,3,1,0.750,1.46,4,4,0,0,0,0,24.2,23,4,4,1,4,0,26,1,0,1,98,1.095,9.5,6.50,career
20,PIT-PNC Pk,25,19,0.568,3.56,64,64,0,1,0,0,397.1,376,166,157,34,101,4,352,18,1,14,1636,1.201,8.0,3.49,career
21,KCR-KauffmanStad,1,1,0.500,1.17,2,2,0,0,0,0,15.1,9,4,2,0,2,0,17,1,0,0,56,0.717,10.0,8.50,career
22,SEA-Safeco Fld,3,1,0.750,1.71,5,5,0,0,0,0,31.2,22,8,6,1,6,0,45,1,0,1,121,0.884,12.8,7.50,career
23,ATL-SunTrust Pk,0,1,0.000,9.64,1,1,0,0,0,0,4.2,10,5,5,2,1,0,2,1,0,1,24,2.357,3.9,2.00,career
24,MIN-Target Field,1,0,1.000,0.00,1,1,0,0,0,0,7.0,1,0,0,0,3,0,11,0,0,1,24,0.571,14.1,3.67,career
25,TEX-Rangers Bpk,3,2,0.600,4.57,7,7,0,0,0,0,41.1,34,22,21,6,18,0,65,1,0,2,175,1.258,14.2,3.61,career
26,TBR-TropicanaFld,0,2,0.000,1.50,2,2,0,0,0,0,12.0,10,7,2,1,3,0,15,1,0,0,54,1.083,11.3,5.00,career
27,ATL-Turner Fld,3,0,1.000,1.42,3,3,0,0,0,0,19.0,17,4,3,0,7,0,19,2,0,0,78,1.263,9.0,2.71,career
28,CHC-Wrigley Fld,7,1,0.875,2.29,8,8,0,0,0,0,51.0,44,16,13,0,8,0,60,3,0,2,199,1.020,10.6,7.50,career
29,NYY-Yankee Stad3,1,0,1.000,4.50,1,1,0,0,0,0,6.0,7,3,3,1,2,0,8,0,1,0,25,1.500,12.0,4.00,career

catch

,Split,G,IP,ER,ERA,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,John Buck,1,7.1,3,3.68,29,28,3,10,1,0,1,1,0,1,4,4.00,0.357,0.379,0.500,0.879,14,4,0,0,0,0,0,0.391,168,career
1,Francisco Cervelli,42,243.0,91,3.37,1023,943,93,251,51,8,22,22,7,61,207,3.39,0.266,0.315,0.407,0.722,384,16,8,7,4,3,8,0.319,120,career
2,Robinson Chirinos,16,102.1,28,2.46,398,370,29,70,15,0,15,4,1,25,152,6.08,0.189,0.244,0.351,0.596,130,5,2,1,0,0,2,0.271,80,career
3,Elias Diaz,5,27.2,23,7.48,124,115,20,37,9,1,4,2,0,8,26,3.25,0.322,0.366,0.522,0.888,60,3,0,1,0,0,2,0.388,169,career
4,Tim Federowicz,3,16.2,5,2.70,72,62,5,14,3,0,1,2,0,9,26,2.89,0.226,0.333,0.323,0.656,20,2,1,0,0,0,0,0.371,103,career
5,Eric Fryer,3,10.2,9,7.59,48,41,10,12,4,0,0,6,0,6,12,2.00,0.293,0.375,0.390,0.765,16,0,0,0,1,1,0,0.400,136,career
6,Martin Maldonado,18,116.2,32,2.47,450,417,31,77,20,2,12,3,2,26,176,6.77,0.185,0.233,0.329,0.562,137,1,2,0,5,0,2,0.278,71,career
7,Russell Martin,25,154.2,54,3.14,627,563,47,136,21,3,10,15,8,43,131,3.05,0.242,0.305,0.343,0.648,193,12,9,10,2,0,2,0.297,99,career
8,Brian McCann,6,39.0,11,2.54,148,135,12,25,3,0,5,5,1,11,53,4.82,0.185,0.252,0.319,0.570,43,2,1,1,0,0,0,0.260,74,career
9,Michael McKenry,2,10.2,6,5.06,45,43,6,13,2,0,0,1,0,2,6,3.00,0.302,0.333,0.349,0.682,15,2,0,0,0,0,0,0.351,111,career
10,Tony Sanchez,4,22.0,12,4.91,94,85,13,22,6,0,2,6,1,7,32,4.57,0.259,0.323,0.400,0.723,34,2,1,1,0,0,1,0.392,121,career
11,Max Stassi,21,126.0,42,3.00,499,457,46,89,24,1,12,11,5,36,183,5.08,0.195,0.259,0.330,0.589,151,7,4,1,1,0,5,0.293,80,career
12,Chris Stewart,48,306.1,106,3.11,1237,1128,111,268,44,5,28,37,8,75,316,4.21,0.238,0.291,0.360,0.651,406,32,14,12,8,2,9,0.303,99,career
13,Garrett Stubbs,2,12.0,3,2.25,49,44,3,10,1,0,3,0,1,5,12,2.40,0.227,0.306,0.455,0.761,20,1,0,0,0,0,0,0.241,130,career

ump

,Split,G,PA,AB,R,H,2B,3B,HR,SB,CS,BB,SO,SO/W,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,ROE,BAbip,tOPS+,year
0,Adrian Johnson,3,74,70,5,13,1,0,2,4,0,4,24,6.00,0.186,0.230,0.286,0.515,20,3,0,0,0,0,1,0.250,58,career
1,Alan Porter,4,98,89,8,19,3,0,4,0,2,6,20,3.33,0.213,0.260,0.382,0.642,34,0,0,2,1,0,0,0.227,94,career
2,Alfonso Marquez,3,77,69,3,14,7,0,1,2,0,5,21,4.20,0.203,0.273,0.348,0.621,24,2,2,0,1,0,1,0.271,90,career
3,Andy Fletcher,2,51,50,5,12,4,1,1,3,0,1,14,14.00,0.240,0.255,0.420,0.675,21,0,0,0,0,0,0,0.314,103,career
4,Angel Hernandez,2,51,47,5,12,4,0,0,2,0,3,9,3.00,0.255,0.300,0.340,0.640,16,2,0,1,0,0,0,0.316,97,career
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,Tom Woodring,2,50,44,6,10,4,0,2,0,0,5,11,2.20,0.227,0.306,0.455,0.761,20,1,0,1,0,0,0,0.258,130,career
74,Tony Randazzo,5,132,121,6,27,6,0,1,2,1,8,37,4.63,0.223,0.288,0.298,0.585,36,2,3,0,0,0,0,0.313,81,career
75,Vic Carapazza,4,101,90,10,21,9,0,1,5,0,7,24,3.43,0.233,0.290,0.367,0.657,33,1,1,1,2,0,2,0.299,101,career
76,Wally Bell,2,53,49,4,12,2,0,1,0,0,2,6,3.00,0.245,0.288,0.347,0.635,17,2,1,1,0,0,0,0.262,94,career
77,Will Little,2,58,54,4,12,3,1,1,0,0,3,16,5.33,0.222,0.276,0.370,0.646,20,0,1,0,0,0,1,0.297,97,career

ump_extra

,Split,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,WHIP,SO9,SO/W,year
0,Adrian Johnson,3,0,1.000,0.90,3,3,0,0,0,0,20.0,13,5,2,2,4,0,24,0,0,1,74,0.850,10.8,6.00,career
1,Alan Porter,3,0,1.000,2.88,4,4,0,0,0,0,25.0,19,8,8,4,6,0,20,0,0,1,98,1.000,7.2,3.33,career
2,Alfonso Marquez,2,0,1.000,0.95,3,3,0,1,0,0,19.0,14,3,2,1,5,0,21,2,0,0,77,1.000,9.9,4.20,career
3,Andy Fletcher,2,0,1.000,3.46,2,2,0,0,0,0,13.0,12,5,5,1,1,0,14,0,0,0,51,1.000,9.7,14.00,career
4,Angel Hernandez,2,0,1.000,2.77,2,2,0,0,0,0,13.0,12,5,4,0,3,0,9,0,0,0,51,1.154,6.2,3.00,career
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,Tom Woodring,0,2,0.000,4.50,2,2,0,0,0,0,12.0,10,6,6,2,5,0,11,0,0,0,50,1.250,8.3,2.20,career
74,Tony Randazzo,2,1,0.667,1.65,5,5,0,0,0,0,32.2,27,6,6,1,8,0,37,3,0,0,132,1.071,10.2,4.63,career
75,Vic Carapazza,1,1,0.500,2.96,4,4,0,0,0,0,24.1,21,10,8,1,7,0,24,1,0,2,101,1.151,8.9,3.43,career
76,Wally Bell,1,1,0.500,2.70,2,2,0,0,0,0,13.1,12,4,4,1,2,0,6,1,0,0,53,1.050,4.1,3.00,career
77,Will Little,1,1,0.500,2.57,2,2,0,0,0,0,14.0,12,4,4,1,3,0,16,1,0,0,58,1.071,10.3,5.33,career

CPU times: user 2.18 s, sys: 31.8 ms, total: 2.21 s
Wall time: 1min 11s

In [11]:
cole.splits("p")

Exception: error with choice p. valid choices are ['bases', 'clutc', 'count', 'half', 'hitlo', 'hmvis', 'innng', 'leado', 'lever', 'lineu', 'month', 'oppon', 'outs', 'plato', 'site', 'stad', 'times', 'total', 'traj', 'catch', 'defpo', 'dr', 'dr_extra', 'half_extra', 'hmvis_extra', 'month_extra', 'oppon_extra', 'outco', 'outco_extra', 'pitco', 'rs', 'rs_extra', 'site_extra', 'sprel', 'sprel_extra', 'stad_extra', 'tkswg', 'total_extra', 'ump', 'ump_extra']

In [ ]:
cole.splits("p","career","ump").sort_values("G",ascending=False).head(30)

In [ ]:
glasnow = Player("tyler glasnow")

In [ ]:
glasnow_ump_df = glasnow.splits('ump')

In [ ]:
glasnow_ump_df.sort_values("SO/W", ascending=False)

In [ ]:
df = glasnow.overview().sum()
df.P / df.G

In [ ]:
archer = Player("chris arch")

In [ ]:
archer.overview("pitching_standard")

In [ ]:
archer.game_logs(2019).columns

In [ ]:
archer.game_logs(2019).set_index("Rk").SO.rolling(3).mean().plot()

In [ ]:
Player("Zack greinke").game_logs(2019).set_index("Rk").SO.rolling(3).mean().plot()