In [10]:
from py_bref.franchises import Franchise
from py_bref.players import Player

In [3]:
rays = Franchise("Rays")

I'm 90% that you want Tampa Bay Rays

In [4]:
rays1999 = rays.season(2019)

In [9]:
rays1999

< TBR, year 2019 >

In [6]:
valid_table_types =  ['team_batting', 'team_pitching', 'appearances', 'standard_fielding',
                             'players_value_batting', 'players_value_pitching']

In [7]:
for tbl in valid_table_types:
    print(tbl)
    display(rays1999.stats(tbl))

team_batting

,Rk,Pos,Name,Age,G,PA,AB,R,H,2B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,1,C,Mike Zunino,28,90,289,266,30,44,10,...,0.232,0.312,0.544,44.0,83,4,3,0,0,0
1,2,1B,Ji-Man Choi*,28,127,487,410,54,107,20,...,0.363,0.459,0.822,119.0,188,7,6,0,7,2
2,3,2B,Brandon Lowe*,24,82,327,296,42,80,17,...,0.336,0.514,0.850,124.0,152,1,5,0,1,0
3,4,SS,Willy Adames,23,152,584,531,69,135,25,...,0.317,0.418,0.735,95.0,222,9,3,3,1,1
4,5,3B,Yandy Diaz,27,79,347,307,53,82,20,...,0.340,0.476,0.816,116.0,146,9,1,0,4,1
5,6,LF,Tommy Pham,31,145,654,567,77,155,33,...,0.369,0.450,0.818,119.0,255,22,5,0,1,4
6,7,CF,Kevin Kiermaier*,29,129,480,447,60,102,20,...,0.278,0.398,0.676,79.0,178,8,5,1,1,2
7,8,RF,Avisail Garcia,28,125,530,489,61,138,25,...,0.332,0.464,0.796,111.0,227,15,7,0,3,2
8,9,DH,Austin Meadows*,24,138,591,530,83,154,29,...,0.364,0.558,0.922,143.0,296,3,7,0,0,6
10,10,UT,Travis d'Arnaud,30,92,365,327,50,86,16,...,0.323,0.459,0.782,107.0,150,3,2,0,6,0
11,11,IF,Joey Wendle*,29,75,263,238,32,55,13,...,0.293,0.340,0.633,70.0,81,4,8,0,3,0
12,12,IF,Daniel Robertson,25,74,237,207,23,44,9,...,0.312,0.295,0.607,66.0,61,10,6,0,0,0
13,13,OF,Guillermo Heredia,28,89,231,204,31,46,13,...,0.306,0.363,0.668,79.0,74,4,6,2,1,0
14,14,3B,Matt Duffy,28,46,169,147,12,37,8,...,0.343,0.327,0.670,83.0,48,4,2,0,1,0
15,15,1B,Nate Lowe*,23,50,169,152,24,40,8,...,0.325,0.454,0.779,106.0,69,4,2,0,2,0
16,16,IF,Mike Brosseau,25,50,142,132,17,36,7,...,0.319,0.462,0.781,106.0,61,3,2,1,0,0
17,17,2B,Eric Sogard*,33,37,119,109,14,29,6,...,0.328,0.404,0.731,96.0,44,2,1,0,0,2
18,18,DH,Jesus Aguilar,29,37,107,92,13,24,3,...,0.336,0.424,0.760,103.0,39,1,0,0,3,0
19,19,3B,Christian Arroyo,24,16,57,50,8,11,2,...,0.304,0.380,0.684,83.0,19,0,1,1,0,0
20,20,C,Michael Perez*,26,22,55,46,6,10,5,...,0.345,0.326,0.672,83.0,15,0,1,0,0,0
21,21,C,Erik Kratz,39,6,17,17,0,1,0,...,0.059,0.059,0.118,-68.0,1,0,0,0,0,0
22,22,UT,Kean Wong*,24,6,14,14,1,3,0,...,0.214,0.214,0.429,16.0,3,0,0,0,0,0
23,23,UT,Andrew Velazquez#,24,10,12,12,2,1,1,...,0.083,0.167,0.250,-36.0,2,0,0,0,0,0
24,24,C,Nick Ciuffo*,24,3,6,6,0,1,0,...,0.167,0.167,0.333,-9.0,1,0,0,0,0,0
25,25,C,Anthony Bemboom*,29,3,5,5,0,2,1,...,0.400,0.600,1.000,163.0,3,0,0,0,0,0
26,26,OF,Johnny Davis#,29,8,4,4,5,1,0,...,0.250,0.750,1.000,151.0,3,0,0,0,0,0
28,27,P,Brendan McKay*,23,7,11,10,2,2,0,...,0.273,0.500,0.773,101.0,5,1,0,0,0,0
29,28,P,Jalen Beeks*,25,4,3,3,0,0,0,...,0.000,0.000,0.000,-100.0,0,0,0,0,0,0
30,29,P,Yonny Chirinos,25,1,2,2,0,0,0,...,0.000,0.000,0.000,-100.0,0,0,0,0,0,0
31,30,P,Tyler Glasnow*,25,1,2,2,0,0,0,...,0.000,0.000,0.000,-100.0,0,0,0,0,0,0
32,31,P,Charlie Morton,35,1,2,2,0,0,0,...,0.000,0.000,0.000,-100.0,0,0,0,0,0,0
33,32,P,Diego Castillo,25,8,1,1,0,0,0,...,0.000,0.000,0.000,-100.0,0,0,0,0,0,0
34,33,P,Emilio Pagan*,28,5,1,1,0,0,0,...,0.000,0.000,0.000,-100.0,0,0,0,0,0,0
35,34,P,Austin Pruitt,29,1,1,1,0,0,0,...,0.000,0.000,0.000,-100.0,0,0,0,0,0,0
36,35,P,Oliver Drake,32,3,1,1,0,1,0,...,1.000,1.000,2.000,444.0,1,0,0,0,0,0
37,36,P,Trevor Richards,26,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
38,37,P,Andrew Kittredge,29,3,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
39,38,P,Ian Gibaut,25,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
40,39,P,Peter Fairbanks,25,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
41,40,P,Jake Faria,25,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
42,41,P,Anthony Banda*,25,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
43,42,P,Hoby Milner*,28,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
44,43,P,Aaron Slegers,26,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
45,44,P,Chaz Roe,32,9,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
46,45,P,Colin Poche*,25,4,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
47,46,P,Blake Snell*,26,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
48,47,P,Wilmer Font,29,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
49,48,P,Ryne Stanek,27,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
50,49,P,Hunter Wood,25,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
51,50,P,Casey Sadler,28,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
52,51,P,Ricardo Pinto,25,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
53,52,P,Adam Kolarek*,30,4,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
54,53,P,Ryan Yarbrough,27,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
55,54,P,Jose De Leon,26,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
56,55,P,Nick Anderson,28,3,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
57,56,P,Jose Alvarado*,24,4,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
58,57,P,Cole Sulser,29,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0

team_pitching

,Rk,Pos,Name,Age,W,L,W-L%,ERA,G,GS,...,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W
0,1,SP,Charlie Morton,35,16,6,0.727,3.05,33,33,...,5,790,146.0,2.81,1.084,7.1,0.7,2.6,11.1,4.21
1,2,SP,Yonny Chirinos,25,9,5,0.643,3.85,26,18,...,4,530,115.0,4.44,1.050,7.6,1.6,1.9,7.7,4.07
2,3,SP,Blake Snell*,26,6,8,0.429,4.29,23,23,...,11,441,104.0,3.32,1.271,8.1,1.2,3.4,12.4,3.68
3,4,SP,Tyler Glasnow,25,6,1,0.857,1.78,12,12,...,2,230,250.0,2.26,0.890,5.9,0.6,2.1,11.3,5.43
4,5,SP,Ryne Stanek,27,0,2,0.000,3.40,41,27,...,2,228,131.0,3.73,1.150,7.1,1.1,3.2,9.9,3.05
5,6,SP,Brendan McKay*,23,2,4,0.333,5.14,13,11,...,0,216,87.0,4.03,1.408,9.7,1.5,2.9,10.3,3.50
7,7,CL,Emilio Pagan,28,4,2,0.667,2.31,66,0,...,3,267,192.0,3.30,0.829,5.8,1.5,1.7,12.3,7.38
8,8,RP,Diego Castillo,25,5,8,0.385,3.41,65,6,...,5,290,131.0,3.72,1.238,7.7,1.0,3.4,10.6,3.12
9,9,RP,Colin Poche*,25,5,5,0.500,4.70,51,0,...,2,207,95.0,4.08,1.006,5.7,1.6,3.3,12.5,3.79
10,10,RP,Chaz Roe,32,1,3,0.250,4.06,71,0,...,3,229,110.0,3.31,1.569,8.6,0.5,5.5,11.5,2.10
11,11,RP,Adam Kolarek*,30,4,3,0.571,3.95,54,0,...,1,184,113.0,4.53,1.223,8.1,1.2,2.9,7.5,2.57
13,12,NaN,Ryan Yarbrough*,27,11,6,0.647,4.13,28,14,...,0,563,108.0,3.55,0.995,7.7,1.0,1.3,7.4,5.85
14,13,NaN,Jalen Beeks*,25,6,3,0.667,4.31,33,3,...,3,464,103.0,4.41,1.486,9.9,1.0,3.5,7.7,2.23
15,14,NaN,Oliver Drake,32,5,2,0.714,3.21,50,0,...,1,219,139.0,3.87,0.982,5.8,1.4,3.1,11.3,3.68
16,15,NaN,Andrew Kittredge,29,1,0,1.000,4.17,37,7,...,2,210,107.0,3.56,1.268,9.2,1.3,2.2,10.5,4.83
17,16,NaN,Austin Pruitt,29,3,0,1.000,4.40,14,2,...,1,193,101.0,4.26,1.255,9.0,1.3,2.3,7.5,3.25
18,17,NaN,Jose Alvarado*,24,1,6,0.143,4.80,35,1,...,8,146,93.0,4.18,1.867,8.7,0.6,8.1,11.7,1.44
19,18,NaN,Hunter Wood,25,1,1,0.500,2.48,19,2,...,1,120,181.0,4.18,1.138,8.1,1.2,2.2,7.4,3.43
20,19,NaN,Trevor Richards,26,3,0,1.000,1.93,7,3,...,0,97,233.0,3.47,1.200,8.9,1.2,1.9,9.3,4.80
21,20,NaN,Nick Anderson,28,3,0,1.000,2.11,23,0,...,2,78,214.0,1.62,0.656,5.1,1.3,0.8,17.3,20.50
22,21,NaN,Casey Sadler,28,0,0,NaN,1.86,9,0,...,0,79,242.0,4.35,1.086,7.4,0.9,2.3,5.1,2.20
23,22,NaN,Wilmer Font,29,1,0,1.000,5.79,10,0,...,1,60,79.0,3.57,1.429,9.6,1.3,3.2,11.6,3.60
24,23,NaN,Peter Fairbanks,25,2,1,0.667,5.11,13,0,...,1,58,89.0,2.89,1.622,12.4,0.7,2.2,9.5,4.33
25,24,NaN,Jake Faria,25,0,0,NaN,2.70,7,0,...,0,47,170.0,5.71,1.700,9.0,1.8,6.3,9.9,1.57
26,25,NaN,Cole Sulser,29,0,0,NaN,0.00,7,0,...,0,29,NaN,1.99,1.091,6.1,0.0,3.7,11.0,3.00
27,26,NaN,Anthony Banda*,25,0,0,NaN,6.75,3,0,...,0,18,71.0,2.21,1.500,13.5,0.0,0.0,4.5,NaN
28,27,NaN,Mike Brosseau,25,0,0,NaN,4.50,3,0,...,0,18,107.0,7.21,1.250,11.3,2.3,0.0,0.0,NaN
29,28,NaN,Jose De Leon,26,1,0,1.000,2.25,3,0,...,1,21,214.0,3.46,1.500,6.8,0.0,6.8,15.8,2.33
30,29,NaN,Hoby Milner*,28,0,0,NaN,7.36,4,0,...,0,17,66.0,3.21,1.364,9.8,0.0,2.5,7.4,3.00
31,30,NaN,Aaron Slegers,26,0,0,NaN,3.00,1,0,...,0,12,165.0,8.55,1.000,9.0,3.0,0.0,0.0,NaN
32,31,NaN,Ricardo Pinto,25,0,0,NaN,15.43,2,0,...,0,13,33.0,11.36,2.571,15.4,3.9,7.7,0.0,0.00
33,32,NaN,Ian Gibaut,25,0,0,NaN,9.00,1,0,...,0,9,58.0,4.21,1.500,4.5,0.0,9.0,9.0,1.00
34,33,NaN,Daniel Robertson,25,0,0,NaN,0.00,1,0,...,0,3,NaN,3.21,1.000,9.0,0.0,0.0,0.0,NaN

appearances

,Name,Age,Unnamed: 2,B,T,Ht,Wt,DoB,Yrs,G,...,LF,CF,RF,OF,DH,PH,PR,WAR,Salary,Unnamed: 28
0,Willy Adames,23,do DO,R,R,"6' 0""",205,"Sep 2, 1995",2,152,...,0,0,0,0,0,2,0,4.2,"$562,400",NaN
1,Jesus Aguilar,29,ve VE,R,R,"6' 3""",250,"Jun 30, 1990",6,37,...,0,0,0,0,13,9,0,0.3,NaN,NaN
2,Jose Alvarado,24,ve VE,L,L,"6' 2""",245,"May 21, 1995",3,35,...,0,0,0,0,0,0,0,-0.3,"$570,600",NaN
3,Nick Anderson,28,us US,R,R,"6' 5""",195,"Jul 5, 1990",1st,23,...,0,0,0,0,0,0,0,0.9,NaN,NaN
4,Christian Arroyo,24,us US,R,R,"6' 1""",220,"May 30, 1995",3,16,...,0,0,0,0,0,2,0,0.2,NaN,NaN
5,Anthony Banda,25,us US,L,L,"6' 2""",225,"Aug 10, 1993",3,3,...,0,0,0,0,0,0,0,0.0,"$556,800",NaN
6,Jalen Beeks,25,us US,L,L,"5' 11""",200,"Jul 10, 1993",2,34,...,0,0,0,0,0,1,0,0.3,"$556,500",NaN
7,Anthony Bemboom,29,us US,L,R,"6' 2""",200,"Jan 18, 1990",1st,3,...,0,0,0,0,0,0,0,0.0,NaN,NaN
8,Mike Brosseau,25,us US,R,R,"5' 10""",215,"Mar 15, 1994",1st,51,...,5,0,6,11,1,6,4,0.4,NaN,NaN
9,Diego Castillo,25,do DO,R,R,"6' 3""",250,"Jan 18, 1994",2,65,...,0,0,0,0,0,0,0,0.6,"$561,500",NaN
10,Yonny Chirinos,25,ve VE,R,R,"6' 2""",240,"Dec 26, 1993",2,26,...,0,0,0,0,0,0,0,2.3,"$561,800",NaN
11,Ji-Man Choi,28,kr KR,L,R,"6' 1""",250,"May 19, 1991",4,127,...,0,0,0,0,16,20,1,2.0,"$850,000",NaN
12,Nick Ciuffo,24,us US,L,R,"6' 0""",200,"Mar 7, 1995",2,3,...,0,0,0,0,0,0,0,-0.1,NaN,NaN
13,Travis d'Arnaud,30,us US,R,R,"6' 2""",210,"Feb 10, 1989",7,92,...,0,0,0,0,4,10,1,1.4,"$3,515,000",NaN
14,Johnny Davis,29,us US,B,R,"5' 10""",180,"Apr 26, 1990",1st,8,...,1,2,0,3,0,0,6,-0.1,NaN,NaN
15,Jose De Leon,26,pr PR,R,R,"6' 1""",220,"Aug 7, 1992",3,3,...,0,0,0,0,0,0,0,0.0,"$558,000",NaN
16,Yandy Diaz,27,cu CU,R,R,"6' 2""",215,"Aug 8, 1991",3,79,...,0,0,0,0,16,0,1,1.7,"$558,400",NaN
17,Oliver Drake,32,us US,R,R,"6' 4""",215,"Jan 13, 1987",5,50,...,0,0,0,0,0,0,0,1.3,"$566,100",NaN
18,Matt Duffy,28,us US,R,R,"6' 2""",190,"Jan 15, 1991",5,46,...,0,0,0,0,0,0,0,0.1,"$2,675,000",NaN
19,Peter Fairbanks,25,us US,R,R,"6' 6""",219,"Dec 16, 1993",1st,13,...,0,0,0,0,0,0,0,-0.4,NaN,NaN
20,Jake Faria,25,us US,R,R,"6' 4""",225,"Jul 30, 1993",3,7,...,0,0,0,0,0,0,0,0.2,NaN,NaN
21,Wilmer Font,29,ve VE,R,R,"6' 4""",250,"May 24, 1990",5,10,...,0,0,0,0,0,0,0,-0.2,"$560,400",NaN
22,Avisail Garcia,28,ve VE,R,R,"6' 4""",250,"Jun 12, 1991",8,125,...,0,12,92,100,24,3,0,2.0,"$3,500,000",NaN
23,Ian Gibaut,25,us US,R,R,"6' 3""",250,"Nov 19, 1993",1st,1,...,0,0,0,0,0,0,0,0.0,NaN,NaN
24,Tyler Glasnow,25,us US,L,R,"6' 8""",230,"Aug 23, 1993",4,12,...,0,0,0,0,0,0,0,2.6,"$566,700",NaN
25,Guillermo Heredia,28,cu CU,R,L,"5' 10""",195,"Jan 31, 1991",4,89,...,14,41,28,79,2,9,9,0.3,"$782,000",NaN
26,Kevin Kiermaier,29,us US,L,R,"6' 1""",210,"Apr 22, 1990",7,129,...,0,125,0,125,1,8,1,2.3,"$8,166,667",NaN
27,Andrew Kittredge,29,us US,R,R,"6' 1""",235,"Mar 17, 1990",3,37,...,0,0,0,0,0,0,0,0.4,NaN,NaN
28,Adam Kolarek,30,us US,L,L,"6' 3""",215,"Jan 14, 1989",3,54,...,0,0,0,0,0,0,0,0.5,"$560,800",NaN
29,Erik Kratz,39,us US,R,R,"6' 4""",250,"Jun 15, 1980",10,6,...,0,0,0,0,0,0,0,-0.3,NaN,NaN
30,Brandon Lowe,24,us US,L,R,"5' 10""",185,"Jul 6, 1994",2,82,...,2,0,5,7,3,9,0,2.9,"$1,000,000",All-Star
31,Nate Lowe,23,us US,L,R,"6' 4""",245,"Jul 7, 1995",1st,50,...,0,0,0,0,17,12,0,0.6,NaN,NaN
32,Brendan McKay,23,us US,L,L,"6' 2""",212,"Dec 18, 1995",1st,18,...,0,0,0,0,2,3,1,-0.1,NaN,NaN
33,Austin Meadows,24,us US,L,L,"6' 3""",220,"May 3, 1995",2,138,...,34,3,57,88,44,8,0,3.8,"$557,400",All-Star
34,Hoby Milner,28,us US,L,L,"6' 3""",175,"Jan 13, 1991",3,4,...,0,0,0,0,0,0,0,-0.1,NaN,NaN
35,Charlie Morton,35,us US,R,R,"6' 5""",215,"Nov 12, 1983",12,33,...,0,0,0,0,0,0,0,5.0,"$15,000,000",All-Star
36,Emilio Pagan,28,us US,L,R,"6' 3""",205,"May 7, 1991",3,66,...,0,0,0,0,0,0,0,2.4,NaN,NaN
37,Michael Perez,26,pr PR,L,R,"5' 10""",195,"Aug 7, 1992",2,22,...,0,0,0,0,0,2,0,0.3,"$556,700",NaN
38,Tommy Pham,31,us US,R,R,"6' 1""",215,"Mar 8, 1988",6,145,...,123,0,0,123,22,1,0,3.7,"$4,100,000",NaN
39,Ricardo Pinto,25,ve VE,R,R,"6' 0""",195,"Jan 20, 1994",2,2,...,0,0,0,0,0,0,0,-0.1,NaN,NaN
40,Colin Poche,25,us US,L,L,"6' 3""",235,"Jan 17, 1994",1st,51,...,0,0,0,0,0,0,0,0.1,NaN,NaN
41,Austin Pruitt,29,us US,R,R,"5' 10""",185,"Aug 31, 1989",3,14,...,0,0,0,0,0,0,0,0.3,NaN,NaN
42,Trevor Richards,26,us US,R,R,"6' 2""",190,"May 15, 1993",2,7,...,0,0,0,0,0,0,0,0.6,NaN,NaN
43,Daniel Robertson,25,us US,R,R,"5' 11""",200,"Mar 22, 1994",3,74,...,0,0,0,0,0,5,2,0.2,"$570,300",NaN
44,Chaz Roe,32,us US,R,R,"6' 5""",190,"Oct 9, 1986",7,71,...,0,0,0,0,0,0,0,0.1,"$1,275,000",NaN
45,Casey Sadler,28,us US,R,R,"6' 3""",205,"Jul 13, 1990",4,9,...,0,0,0,0,0,0,0,0.5,NaN,NaN
46,Aaron Slegers,26,us US,R,R,"6' 10""",245,"Sep 4, 1992",3,1,...,0,0,0,0,0,0,0,0.0,NaN,NaN
47,Blake Snell,26,us US,L,L,"6' 4""",215,"Dec 4, 1992",4,23,...,0,0,0,0,0,0,0,1.4,"$573,700",NaN
48,Eric Sogard,33,us US,L,R,"5' 10""",185,"May 22, 1986",9,37,...,0,0,0,0,1,11,0,0.7,NaN,NaN
49,Ryne Stanek,27,us US,R,R,"6' 4""",225,"Jul 26, 1991",3,41,...,0,0,0,0,0,0,0,0.9,"$564,200",NaN
50,Cole Sulser,29,us US,R,R,"6' 1""",190,"Mar 12, 1990",1st,7,...,0,0,0,0,0,0,0,0.3,NaN,NaN
51,Andrew Velazquez,24,us US,B,R,"5' 8""",170,"Jul 14, 1994",2,10,...,1,0,0,1,0,3,3,-0.2,NaN,NaN
52,Joey Wendle,29,us US,L,R,"6' 1""",200,"Apr 26, 1990",4,75,...,0,0,1,1,0,2,1,0.9,"$570,400",NaN
53,Kean Wong,24,us US,L,R,"5' 11""",185,"Apr 17, 1995",1st,6,...,0,0,2,2,0,2,1,0.0,NaN,NaN
54,Hunter Wood,25,us US,R,R,"6' 1""",175,"Aug 12, 1993",3,19,...,0,0,0,0,0,0,0,0.5,NaN,NaN
55,Ryan Yarbrough,27,us US,R,L,"6' 5""",210,"Dec 31, 1991",2,28,...,0,0,0,0,0,0,0,1.5,"$563,400",NaN
56,Mike Zunino,28,us US,R,R,"6' 2""",235,"Mar 25, 1991",7,90,...,0,0,0,0,0,3,0,-0.1,"$4,412,000",NaN

standard_fielding

,Name,Age,G,GS,CG,Inn,Ch,PO,A,E,...,RF/9,RF/G,PB,WP,SB,CS,CS%,lgCS%,PO.1,Pos Summary
0,Willy Adames,23,152,145,137,1314.2,562,157,388,17,...,3.73,3.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SS
1,Jesus Aguilar,29,15,13,9,113.0,106,99,7,0,...,8.44,3.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1B-DH
2,Jose Alvarado,24,35,1,0,30.0,6,1,4,1,...,1.50,0.14,NaN,8.0,1.0,0.0,0%,27%,0.0,P
3,Nick Anderson,28,23,0,0,21.1,0,0,0,0,...,0.00,0.00,NaN,2.0,0.0,0.0,NaN,NaN,0.0,P
4,Christian Arroyo,24,14,14,12,119.0,34,8,24,2,...,2.42,2.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3B-2B
5,Anthony Banda,25,3,0,0,4.0,0,0,0,0,...,0.00,0.00,NaN,0.0,0.0,0.0,NaN,NaN,0.0,P
6,Jalen Beeks,25,33,3,0,104.1,16,2,14,0,...,1.38,0.48,NaN,3.0,3.0,2.0,40%,27%,0.0,P
7,Anthony Bemboom,29,3,2,0,16.0,26,26,0,0,...,14.63,8.67,2.0,3.0,0.0,0.0,NaN,NaN,0.0,C
8,Mike Brosseau,25,47,32,14,316.0,104,45,58,1,...,2.93,1.72,NaN,0.0,0.0,0.0,NaN,NaN,0.0,2B-3B-RF-LF-P-1B-DH
9,Diego Castillo,25,65,6,0,68.2,9,2,6,1,...,1.05,0.12,NaN,5.0,3.0,0.0,0%,27%,0.0,P
10,Yonny Chirinos,25,26,18,0,133.1,15,4,10,1,...,0.95,0.54,NaN,4.0,4.0,5.0,56%,27%,0.0,P
11,Ji-Man Choi,28,103,92,85,842.0,790,748,36,6,...,8.38,6.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1B-DH
12,Nick Ciuffo,24,3,1,1,16.0,23,21,2,0,...,12.94,7.67,2.0,0.0,1.0,1.0,50%,28%,0.0,C
13,Travis d'Arnaud,30,88,78,61,725.2,792,762,28,2,...,9.80,7.82,6.0,27.0,31.0,12.0,28%,27%,1.0,C-1B-DH
14,Johnny Davis,29,3,0,0,10.0,2,2,0,0,...,1.80,0.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CF-LF
15,Jose De Leon,26,3,0,0,4.0,0,0,0,0,...,0.00,0.00,NaN,1.0,0.0,0.0,NaN,NaN,0.0,P
16,Yandy Diaz,27,63,62,43,554.2,246,157,84,5,...,3.91,2.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3B-1B-DH
17,Oliver Drake,32,50,0,0,56.0,8,6,2,0,...,1.29,0.16,NaN,1.0,1.0,3.0,75%,27%,0.0,P
18,Matt Duffy,28,46,41,32,374.0,104,24,73,7,...,2.33,2.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3B-SS
19,Peter Fairbanks,25,13,0,0,12.1,2,1,0,1,...,0.73,0.08,NaN,1.0,1.0,1.0,50%,28%,0.0,P
20,Jake Faria,25,7,0,0,10.0,1,0,1,0,...,0.90,0.14,NaN,0.0,0.0,0.0,NaN,NaN,0.0,P
21,Wilmer Font,29,10,0,0,14.0,0,0,0,0,...,0.00,0.00,NaN,1.0,1.0,0.0,0%,27%,0.0,P
22,Avisail Garcia,28,100,99,86,869.1,181,170,6,5,...,1.82,1.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RF-CF-DH
23,Ian Gibaut,25,1,0,0,2.0,0,0,0,0,...,0.00,0.00,NaN,0.0,0.0,0.0,NaN,NaN,0.0,P
24,Tyler Glasnow,25,12,12,0,60.2,6,1,5,0,...,0.89,0.50,NaN,2.0,9.0,2.0,18%,27%,1.0,P
25,Guillermo Heredia,28,79,55,42,534.0,141,137,1,3,...,2.33,1.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CF-RF-LF-DH
26,Kevin Kiermaier,29,125,117,110,1044.1,260,250,6,4,...,2.21,2.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CF-DH
27,Andrew Kittredge,29,37,7,0,49.2,8,4,4,0,...,1.45,0.22,NaN,2.0,1.0,2.0,67%,27%,0.0,P
28,Adam Kolarek,30,54,0,0,44.0,18,5,13,0,...,3.68,0.32,NaN,1.0,1.0,0.0,0%,27%,0.0,P-1B
29,Erik Kratz,39,6,4,3,42.0,45,40,5,0,...,9.64,7.50,2.0,2.0,1.0,1.0,50%,28%,0.0,C
30,Brandon Lowe,24,77,70,61,645.0,317,150,164,3,...,4.38,3.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2B-1B-RF-LF-DH
31,Nate Lowe,23,25,20,17,179.1,165,159,5,1,...,8.23,3.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1B-3B-DH
32,Brendan McKay,23,13,11,0,49.0,6,2,4,0,...,1.10,0.40,NaN,0.0,1.0,1.0,50%,28%,0.0,P-DH
33,Austin Meadows,24,88,86,70,773.0,156,152,2,2,...,1.79,1.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RF-LF-CF-DH
34,Hoby Milner,28,4,0,0,3.2,0,0,0,0,...,0.00,0.00,NaN,0.0,0.0,0.0,NaN,NaN,0.0,P
35,Charlie Morton,35,33,33,0,194.2,15,9,6,0,...,0.69,0.45,NaN,5.0,3.0,3.0,50%,27%,1.0,P
36,Emilio Pagan,28,66,0,0,70.0,5,2,3,0,...,0.64,0.08,NaN,3.0,2.0,0.0,0%,28%,0.0,P
37,Michael Perez,26,21,15,10,136.0,147,134,12,1,...,9.66,6.64,0.0,2.0,15.0,4.0,21%,27%,0.0,C-1B
38,Tommy Pham,31,123,123,112,1093.1,166,158,8,0,...,1.37,1.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LF-DH
39,Ricardo Pinto,25,2,0,0,2.1,2,1,1,0,...,7.71,1.00,NaN,0.0,0.0,0.0,NaN,NaN,0.0,P
40,Colin Poche,25,51,0,0,51.2,1,0,1,0,...,0.17,0.02,NaN,2.0,6.0,1.0,14%,27%,0.0,P
41,Austin Pruitt,29,14,2,0,47.0,9,3,6,0,...,1.72,0.64,NaN,1.0,1.0,0.0,0%,27%,0.0,P
42,Trevor Richards,26,7,3,0,23.1,4,0,3,1,...,1.16,0.43,NaN,0.0,0.0,2.0,100%,28%,0.0,P
43,Daniel Robertson,25,74,58,40,532.1,199,62,131,6,...,3.26,2.24,NaN,0.0,0.0,0.0,NaN,NaN,0.0,3B-2B-SS-P
44,Chaz Roe,32,71,0,0,51.0,4,0,3,1,...,0.53,0.04,NaN,3.0,11.0,0.0,0%,27%,0.0,P
45,Casey Sadler,28,9,0,0,19.1,6,1,4,1,...,2.33,0.56,NaN,0.0,0.0,1.0,100%,27%,0.0,P
46,Aaron Slegers,26,1,0,0,3.0,0,0,0,0,...,0.00,0.00,NaN,0.0,0.0,0.0,NaN,NaN,0.0,P
47,Blake Snell,26,23,23,0,107.0,16,1,14,1,...,1.26,0.65,NaN,11.0,15.0,9.0,38%,27%,4.0,P
48,Eric Sogard,33,31,22,18,215.0,112,50,58,4,...,4.52,3.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2B-DH
49,Ryne Stanek,27,41,27,0,55.2,5,3,2,0,...,0.81,0.12,NaN,2.0,4.0,0.0,0%,27%,0.0,P
50,Cole Sulser,29,7,0,0,7.1,1,0,1,0,...,1.23,0.14,NaN,0.0,0.0,0.0,NaN,NaN,0.0,P
51,Andrew Velazquez,24,7,2,1,25.0,15,7,7,1,...,5.04,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3B-2B-LF
52,Joey Wendle,29,74,64,49,594.2,236,84,149,3,...,3.53,2.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2B-3B-SS-RF
53,Kean Wong,24,3,3,1,25.0,6,3,3,0,...,2.16,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2B-RF
54,Hunter Wood,25,19,2,0,29.0,0,0,0,0,...,0.00,0.00,NaN,1.0,2.0,0.0,0%,28%,0.0,P
55,Ryan Yarbrough,27,28,14,0,141.2,19,6,13,0,...,1.21,0.68,NaN,0.0,5.0,3.0,38%,27%,1.0,P
56,Mike Zunino,28,89,78,62,689.2,807,764,37,6,...,10.45,9.00,4.0,25.0,27.0,17.0,39%,27%,1.0,C

players_value_batting

,Name,Age,G,PA,Rbat,Rbaser,Rdp,Rfield,Rpos,RAA,...,RAR,WAR,waaWL%,162WL%,oWAR,dWAR,oRAR,Salary,Acquired,Pos Summary
0,Willy Adames,23.0,152,584.0,-2,2,1,12,8.0,21.0,...,42.0,4.2,0.513,0.512,2.9,2.1,30.0,"$562,400",Traded,*6
1,Jesus Aguilar,29.0,37,107.0,1,-1,0,1,-2.0,-1.0,...,3.0,0.3,0.498,0.499,0.2,-0.1,2.0,NaN,Traded,3D
2,Jose Alvarado*,24.0,4,0.0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.500,0.500,0.0,0.0,0.0,"$570,600",Amateur Free Agent,1
3,Nick Anderson,28.0,3,0.0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.500,0.500,0.0,0.0,0.0,NaN,Traded,1
4,Christian Arroyo,24.0,16,57.0,-2,0,0,1,0.0,0.0,...,2.0,0.2,0.498,0.500,0.1,0.1,1.0,NaN,Traded,5/4
5,Anthony Banda*,25.0,0,NaN,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$556,800",Traded,/1
6,Jalen Beeks*,25.0,4,3.0,-1,0,0,0,0.0,0.0,...,0.0,0.0,0.491,0.500,0.0,0.0,0.0,"$556,500",Traded,1
7,Anthony Bemboom*,29.0,3,5.0,0,0,0,-1,0.0,0.0,...,0.0,0.0,0.493,0.500,0.1,-0.1,1.0,NaN,Free Agency,/2
8,Mike Brosseau,25.0,50,142.0,1,0,0,-3,0.0,-1.0,...,4.0,0.4,0.498,0.499,0.6,-0.2,7.0,NaN,Amateur Free Agent,45/9713D
9,Diego Castillo,25.0,8,1.0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.498,0.500,0.0,0.0,0.0,"$561,500",Amateur Free Agent,1
10,Yonny Chirinos,25.0,1,2.0,-1,0,0,0,0.0,0.0,...,0.0,0.0,0.475,0.500,0.0,0.0,0.0,"$561,800",Amateur Free Agent,1
11,Ji-Man Choi*,28.0,127,487.0,11,-2,1,-1,-7.0,2.0,...,20.0,2.0,0.502,0.501,2.0,-0.7,21.0,"$850,000",Traded,3D
12,Nick Ciuffo*,24.0,3,6.0,-1,0,0,0,0.0,-1.0,...,-1.0,-0.1,0.470,0.499,-0.1,0.0,-1.0,NaN,Amateur Draft,/2
13,Travis d'Arnaud,30.0,92,365.0,3,-1,0,-6,4.0,0.0,...,13.0,1.4,0.500,0.500,1.9,-0.1,19.0,"$3,515,000",Purchased,23/D
14,Johnny Davis#,29.0,8,4.0,0,-1,0,-1,0.0,-1.0,...,-1.0,-0.1,0.483,0.499,0.0,-0.1,0.0,NaN,Free Agency,/87
15,Jose De Leon,26.0,1,0.0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.500,0.500,0.0,0.0,0.0,"$558,000",Traded,/1
16,Yandy Diaz,27.0,79,347.0,7,1,-1,0,-2.0,5.0,...,17.0,1.7,0.506,0.503,1.7,-0.1,17.0,"$558,400",Traded,53D
17,Oliver Drake,32.0,3,1.0,0,0,0,0,0.0,1.0,...,1.0,0.1,0.519,0.500,0.1,0.0,1.0,"$566,100",Purchased,1
18,Matt Duffy,28.0,46,169.0,-3,-2,0,-2,1.0,-5.0,...,1.0,0.1,0.489,0.497,0.3,-0.1,3.0,"$2,675,000",Traded,5/6
19,Peter Fairbanks,25.0,2,0.0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.500,0.500,0.0,0.0,0.0,NaN,Traded,1
20,Jake Faria,25.0,0,NaN,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amateur Draft,/1
21,Wilmer Font,29.0,1,0.0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.500,0.500,0.0,0.0,0.0,"$560,400",Traded,1
22,Avisail Garcia,28.0,125,530.0,7,-2,-1,2,-6.0,1.0,...,20.0,2.0,0.501,0.500,1.7,-0.2,18.0,"$3,500,000",Free Agency,9D8
23,Ian Gibaut,25.0,0,NaN,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amateur Draft,/1
24,Tyler Glasnow*,25.0,1,2.0,-1,0,0,0,0.0,0.0,...,0.0,0.0,0.475,0.500,0.0,0.0,0.0,"$566,700",Traded,1
25,Guillermo Heredia,28.0,89,231.0,-6,-2,0,3,-1.0,-6.0,...,3.0,0.3,0.494,0.497,0.0,0.3,0.0,"$782,000",Traded,897/D
26,Kevin Kiermaier*,29.0,129,480.0,-16,3,3,13,3.0,6.0,...,23.0,2.3,0.504,0.503,1.0,1.7,10.0,"$8,166,667",Amateur Draft,*8/D
27,Andrew Kittredge,29.0,3,0.0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.500,0.500,0.0,0.0,0.0,NaN,Traded,1
28,Adam Kolarek*,30.0,4,0.0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.497,0.500,0.0,0.0,0.0,"$560,800",Free Agency,1/3
29,Erik Kratz,39.0,6,17.0,-4,0,0,0,0.0,-4.0,...,-3.0,-0.3,0.436,0.498,-0.3,0.0,-3.0,NaN,Traded,/2
30,Brandon Lowe*,24.0,82,327.0,10,3,2,2,1.0,18.0,...,29.0,2.9,0.521,0.510,2.7,0.4,27.0,"$1,000,000",Amateur Draft,4/39D7
31,Nate Lowe*,23.0,50,169.0,2,1,0,-1,-3.0,-1.0,...,5.0,0.6,0.499,0.500,0.6,-0.3,6.0,NaN,Amateur Draft,3D/5
32,Brendan McKay*,23.0,7,11.0,0,-1,0,0,1.0,0.0,...,1.0,0.1,0.505,0.500,0.1,0.0,1.0,NaN,Amateur Draft,1/D
33,Austin Meadows*,24.0,138,591.0,29,-2,3,-6,-8.0,17.0,...,38.0,3.8,0.512,0.510,4.3,-1.2,44.0,"$557,400",Traded,9D7/8
34,Hoby Milner*,28.0,0,NaN,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Purchased,/1
35,Charlie Morton,35.0,1,2.0,-1,0,0,0,0.0,0.0,...,0.0,0.0,0.475,0.500,0.0,0.0,0.0,"$15,000,000",Free Agency,1
36,Emilio Pagan*,28.0,5,1.0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.498,0.500,0.0,0.0,0.0,NaN,Traded,1
37,Michael Perez*,26.0,22,55.0,-1,0,0,1,1.0,1.0,...,3.0,0.3,0.504,0.501,0.2,0.2,2.0,"$556,700",Traded,2/3
38,Tommy Pham,31.0,145,654.0,21,0,-2,1,-7.0,14.0,...,36.0,3.7,0.509,0.508,3.5,-0.4,35.0,"$4,100,000",Traded,*7D
39,Ricardo Pinto,25.0,0,NaN,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Free Agency,/1
40,Colin Poche*,25.0,4,0.0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.500,0.500,0.0,0.0,0.0,NaN,Traded,1
41,Austin Pruitt,29.0,1,1.0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.487,0.500,0.0,0.0,0.0,NaN,Amateur Draft,1
42,Trevor Richards,26.0,0,NaN,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traded,/1
43,Daniel Robertson,25.0,74,237.0,-9,-2,-1,2,2.0,-7.0,...,1.0,0.2,0.490,0.496,-0.1,0.5,-1.0,"$570,300",Traded,546/1
44,Chaz Roe,32.0,9,0.0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.500,0.500,0.0,0.0,0.0,"$1,275,000",Purchased,1
45,Casey Sadler,28.0,0,NaN,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Free Agency,/1
46,Aaron Slegers,26.0,0,NaN,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Purchased,/1
47,Blake Snell*,26.0,1,0.0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.500,0.500,0.0,0.0,0.0,"$573,700",Amateur Draft,1
48,Eric Sogard*,33.0,37,119.0,0,1,0,1,1.0,2.0,...,7.0,0.7,0.506,0.501,0.6,0.2,6.0,NaN,Traded,4/D
49,Ryne Stanek,27.0,2,0.0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.500,0.500,0.0,0.0,0.0,"$564,200",Amateur Draft,1
50,Cole Sulser,29.0,1,0.0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.500,0.500,0.0,0.0,0.0,NaN,Traded,/1
51,Andrew Velazquez#,24.0,10,12.0,-2,0,0,0,0.0,-2.0,...,-2.0,-0.2,0.477,0.499,-0.2,0.0,-2.0,NaN,Traded,/547
52,Joey Wendle*,29.0,75,263.0,-10,0,2,5,2.0,-1.0,...,9.0,0.9,0.499,0.500,0.4,0.8,4.0,"$570,400",Traded,456/9
53,Kean Wong*,24.0,6,14.0,-1,0,0,0,0.0,-1.0,...,0.0,0.0,0.485,0.499,0.0,0.0,0.0,NaN,Amateur Draft,/49
54,Hunter Wood,25.0,0,NaN,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amateur Draft,1
55,Ryan Yarbrough,27.0,1,0.0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.500,0.500,0.0,0.0,0.0,"$563,400",Traded,1
56,Mike Zunino,28.0,90,289.0,-21,0,-1,5,5.0,-12.0,...,-1.0,-0.1,0.487,0.493,-0.6,1.1,-6.0,"$4,412,000",Traded,2
57,Team Total,27.2,1758,6285.0,12,-5,10,28,-3.0,42.0,...,265.0,27.1,0.502,0.503,23.2,4.1,237.0,"$55,971,767",NaN,NaN

players_value_pitching

,Name,Age,IP,G,GS,R,RA9,RA9opp,RA9def,RA9role,...,RAA,WAA,gmLI,WAAadj,WAR,RAR,waaWL%,162WL%,Salary,Acquired
0,Jose Alvarado*,24.0,30.0,35,1,18,5.40,4.95,0.20,-0.32,...,-4,-0.4,1.54,-0.2,-0.3,-1,0.488,0.497,"$570,600",Amateur Free Agent
1,Nick Anderson,28.0,21.1,23,0,5,2.11,4.99,0.12,-0.32,...,5,0.5,1.81,0.1,0.9,8,0.522,0.503,NaN,Traded
2,Anthony Banda*,25.0,4.0,3,0,3,6.75,4.97,0.30,-0.32,...,-1,-0.1,0.08,0.0,0.0,-1,0.462,0.499,"$556,800",Traded
3,Jalen Beeks*,25.0,104.1,33,3,56,4.83,4.94,0.23,-0.03,...,-5,-0.5,0.92,-0.1,0.4,7,0.484,0.497,"$556,500",Traded
4,Mike Brosseau,25.0,4.0,3,0,2,4.50,5.40,0.32,-0.35,...,0,0.0,0.01,0.0,0.0,0,0.499,0.500,NaN,Amateur Free Agent
5,Diego Castillo,25.0,68.2,65,6,32,4.19,5.06,0.19,-0.32,...,0,0.0,1.50,-0.2,0.6,8,0.500,0.500,"$561,500",Amateur Free Agent
6,Yonny Chirinos,25.0,133.1,26,18,61,4.12,5.24,0.22,0.21,...,11,1.1,0.82,-0.1,2.3,27,0.542,0.507,"$561,800",Amateur Free Agent
7,Jose De Leon,26.0,4.0,3,0,2,4.50,4.89,0.17,-0.32,...,0,0.0,0.27,0.0,0.0,0,0.494,0.500,"$558,000",Traded
8,Oliver Drake,32.0,56.0,50,0,20,3.21,5.14,0.17,-0.33,...,7,0.7,1.28,0.0,1.2,14,0.514,0.504,"$566,100",Purchased
9,Peter Fairbanks,25.0,12.1,13,0,10,7.30,4.89,0.25,-0.32,...,-4,-0.4,1.30,-0.1,-0.4,-3,0.468,0.497,NaN,Traded
10,Jake Faria,25.0,10.0,7,0,3,2.70,5.27,0.22,-0.34,...,2,0.2,0.62,-0.1,0.2,3,0.526,0.501,NaN,Amateur Draft
11,Wilmer Font,29.0,14.0,10,0,9,5.79,4.46,0.20,-0.29,...,-3,-0.3,0.71,0.0,-0.2,-2,0.470,0.498,"$560,400",Traded
12,Ian Gibaut,25.0,2.0,1,0,2,9.00,4.54,0.19,-0.30,...,-1,-0.1,0.00,0.0,0.0,-1,0.403,0.499,NaN,Amateur Draft
13,Tyler Glasnow,25.0,60.2,12,12,13,1.93,4.97,0.17,0.24,...,19,2.0,NaN,0.0,2.6,26,0.669,0.512,"$566,700",Traded
14,Andrew Kittredge,29.0,49.2,37,7,25,4.53,5.28,0.21,-0.23,...,0,0.0,0.66,-0.1,0.4,6,0.500,0.500,NaN,Traded
15,Adam Kolarek*,30.0,43.1,54,0,19,3.95,5.22,0.23,-0.34,...,2,0.2,1.25,-0.1,0.5,7,0.503,0.501,"$560,800",Free Agency
16,Brendan McKay*,23.0,49.0,13,11,32,5.88,5.01,0.22,0.21,...,-6,-0.6,0.72,0.0,-0.1,0,0.457,0.497,NaN,Amateur Draft
17,Hoby Milner*,28.0,3.2,4,0,3,7.36,5.44,0.24,-0.35,...,-1,-0.1,0.96,0.0,-0.1,-1,0.471,0.499,NaN,Purchased
18,Charlie Morton,35.0,194.2,33,33,71,3.28,5.04,0.18,0.24,...,32,3.3,NaN,-0.1,5.1,55,0.600,0.520,"$15,000,000",Free Agency
19,Emilio Pagan,28.0,70.0,66,0,19,2.44,5.11,0.17,-0.33,...,14,1.4,1.66,0.3,2.4,22,0.521,0.509,NaN,Traded
20,Ricardo Pinto,25.0,2.1,2,0,4,15.43,4.52,0.35,-0.29,...,-3,-0.3,0.08,0.1,-0.1,-3,0.367,0.498,NaN,Free Agency
21,Colin Poche*,25.0,51.2,51,0,27,4.70,5.09,0.16,-0.33,...,-2,-0.2,1.77,-0.2,0.1,4,0.496,0.499,NaN,Traded
22,Austin Pruitt,29.0,47.0,14,2,23,4.40,4.75,0.23,-0.02,...,-1,-0.1,0.85,-0.1,0.3,5,0.496,0.500,NaN,Amateur Draft
23,Trevor Richards,26.0,23.1,7,3,7,2.70,4.60,0.22,0.02,...,4,0.4,1.15,0.0,0.6,6,0.553,0.502,NaN,Traded
24,Daniel Robertson,25.0,1.0,1,0,0,0.00,6.29,0.23,-0.41,...,1,0.1,0.00,0.0,0.0,1,0.557,0.500,"$570,300",Traded
25,Chaz Roe,32.0,51.0,71,0,27,4.76,5.12,0.19,-0.33,...,-3,-0.3,1.42,-0.2,0.1,3,0.496,0.498,"$1,275,000",Purchased
26,Casey Sadler,28.0,19.1,9,0,5,2.33,5.27,0.24,-0.34,...,4,0.4,0.39,-0.2,0.5,7,0.549,0.503,NaN,Free Agency
27,Aaron Slegers,26.0,3.0,1,0,1,3.00,4.54,0.28,-0.29,...,0,0.0,0.16,0.0,0.0,1,0.535,0.500,NaN,Purchased
28,Blake Snell*,26.0,107.0,23,23,53,4.46,5.05,0.18,0.24,...,4,0.4,NaN,-0.1,1.4,17,0.518,0.503,"$573,700",Amateur Draft
29,Ryne Stanek,27.0,55.2,41,27,24,3.88,5.21,0.20,-0.08,...,4,0.4,0.93,-0.1,0.9,11,0.510,0.503,"$564,200",Amateur Draft
30,Cole Sulser,29.0,7.1,7,0,0,0.00,4.77,0.17,-0.31,...,3,0.3,0.31,-0.1,0.3,4,0.549,0.502,NaN,Traded
31,Hunter Wood,25.0,29.0,19,2,11,3.41,5.04,0.22,-0.29,...,3,0.3,0.75,-0.1,0.5,6,0.514,0.502,NaN,Amateur Draft
32,Ryan Yarbrough*,27.0,141.2,28,14,69,4.38,4.89,0.22,0.12,...,2,0.2,1.12,-0.1,1.5,19,0.508,0.501,"$563,400",Traded
33,Team Total,27.8,1474.1,765,162,656,4.00,5.04,0.20,-0.03,...,82,8.6,1.27,-1.8,21.4,257,0.511,0.502,"$24,165,800",NaN

In [23]:
for c in rays1999.stats().query("Pos == 'C'")["Name"]:
    print (c)
    display(Player(c).overview())

Mike Zunino
I'm 100% sure that you want Mike Zunino

,Year,Age,Tm,Lg,G,GS,Batting,Defense,P,C,...,2B,3B,SS,LF,CF,RF,OF,DH,PH,PR
0,2013,22,SEA,AL,52,48,52,50,0,50,...,0,0,0,0,0,0,0,0,3,0
1,2014,23,SEA,AL,131,126,131,130,0,130,...,0,0,0,0,0,0,0,1,0,1
2,2015,24,SEA,AL,112,101,112,112,0,112,...,0,0,0,0,0,0,0,0,1,0
3,2016,25,SEA,AL,55,48,55,52,0,52,...,0,0,0,0,0,0,0,2,3,0
4,2017,26,SEA,AL,124,112,124,120,0,120,...,0,0,0,0,0,0,0,2,4,1
5,2018,27,SEA,AL,113,102,113,111,0,111,...,0,0,0,0,0,0,0,1,7,0
6,2019,28,TBR,AL,90,78,90,89,0,89,...,0,0,0,0,0,0,0,0,3,0

Michael Perez*
I'm 100% sure that you want Michael Perez

,Year,Age,Tm,Lg,G,GS,Batting,Defense,P,C,...,2B,3B,SS,LF,CF,RF,OF,DH,PH,PR
0,2018,25,TBR,AL,24,22,24,24,0,24,...,0,0,0,0,0,0,0,0,2,0
1,2019,26,TBR,AL,22,15,22,21,0,20,...,0,0,0,0,0,0,0,0,2,0

Erik Kratz
I'm 100% sure that you want Erik Kratz

,Year,Age,Tm,Lg,G,GS,Batting,Defense,P,C,...,2B,3B,SS,LF,CF,RF,OF,DH,PH,PR
0,2010,30,PIT,NL,9,8,9,9,0,9,...,0,0,0,0,0,0,0,0,0,0
1,2011,31,PHI,NL,2,1,2,1,0,1,...,0,0,0,0,0,0,0,0,1,0
2,2012,32,PHI,NL,50,38,50,41,0,41,...,0,0,0,0,0,0,0,0,10,1
3,2013,33,PHI,NL,68,54,68,60,0,60,...,0,0,0,0,0,0,0,0,11,0
4,2014,34,TOR,AL,34,20,34,25,0,25,...,0,0,0,0,0,0,0,4,9,2
5,2014,34,KCR,AL,13,6,13,11,0,11,...,0,0,0,0,0,0,0,2,3,0
6,2015,35,PHI,NL,12,4,12,5,0,3,...,0,0,0,0,0,0,0,0,7,0
7,2015,35,KCR,AL,4,1,4,4,0,4,...,0,0,0,0,0,0,0,0,0,0
8,2016,36,PIT,NL,18,15,18,18,1,17,...,0,0,0,0,0,0,0,0,0,0
9,2016,36,HOU,AL,15,9,14,14,1,13,...,0,0,0,0,0,0,0,1,1,0
10,2017,37,NYY,AL,4,0,4,2,0,2,...,0,0,0,0,0,0,0,2,2,0
11,2018,38,MIL,NL,67,54,67,63,3,61,...,0,0,0,0,0,0,0,0,4,1
12,2019,39,SFG,NL,15,9,15,11,0,11,...,0,0,0,0,0,0,0,0,4,0
13,2019,39,TBR,AL,6,4,6,6,0,6,...,0,0,0,0,0,0,0,0,0,0

Nick Ciuffo*
I'm 100% sure that you want Nick Ciuffo

,Year,Age,Tm,Lg,G,GS,Batting,Defense,P,C,...,2B,3B,SS,LF,CF,RF,OF,DH,PH,PR
0,2018,23,TBR,AL,16,14,16,16,0,16,...,0,0,0,0,0,0,0,0,0,0
1,2019,24,TBR,AL,3,1,3,3,0,3,...,0,0,0,0,0,0,0,0,0,0

Anthony Bemboom*
I'm 100% sure that you want Anthony Bemboom

,Year,Age,Tm,Lg,G,GS,Batting,Defense,P,C,...,2B,3B,SS,LF,CF,RF,OF,DH,PH,PR
0,2019,29,LAA,AL,22,15,22,22,0,22,...,0,0,0,0,0,0,0,0,0,0
1,2019,29,TBR,AL,3,2,3,3,0,3,...,0,0,0,0,0,0,0,0,0,0

In [14]:
kratz = Player("eric kratz")

I'm 90% sure that you want Erik Kratz

In [22]:
kratz.overview()

,Year,Age,Tm,Lg,G,GS,Batting,Defense,P,C,...,2B,3B,SS,LF,CF,RF,OF,DH,PH,PR
0,2010,30,PIT,NL,9,8,9,9,0,9,...,0,0,0,0,0,0,0,0,0,0
1,2011,31,PHI,NL,2,1,2,1,0,1,...,0,0,0,0,0,0,0,0,1,0
2,2012,32,PHI,NL,50,38,50,41,0,41,...,0,0,0,0,0,0,0,0,10,1
3,2013,33,PHI,NL,68,54,68,60,0,60,...,0,0,0,0,0,0,0,0,11,0
4,2014,34,TOR,AL,34,20,34,25,0,25,...,0,0,0,0,0,0,0,4,9,2
5,2014,34,KCR,AL,13,6,13,11,0,11,...,0,0,0,0,0,0,0,2,3,0
6,2015,35,PHI,NL,12,4,12,5,0,3,...,0,0,0,0,0,0,0,0,7,0
7,2015,35,KCR,AL,4,1,4,4,0,4,...,0,0,0,0,0,0,0,0,0,0
8,2016,36,PIT,NL,18,15,18,18,1,17,...,0,0,0,0,0,0,0,0,0,0
9,2016,36,HOU,AL,15,9,14,14,1,13,...,0,0,0,0,0,0,0,1,1,0
10,2017,37,NYY,AL,4,0,4,2,0,2,...,0,0,0,0,0,0,0,2,2,0
11,2018,38,MIL,NL,67,54,67,63,3,61,...,0,0,0,0,0,0,0,0,4,1
12,2019,39,SFG,NL,15,9,15,11,0,11,...,0,0,0,0,0,0,0,0,4,0
13,2019,39,TBR,AL,6,4,6,6,0,6,...,0,0,0,0,0,0,0,0,0,0

kratz.overview()

In [24]:
z = Player("zobrist")

I'm 90% sure that you want Ben Zobrist

In [25]:
z.overview().sum()

Year                                               30190
Age                                                  475
Tm         TBDTBDTBRTBRTBRTBRTBRTBRTBROAKKCRCHCCHCCHCCHC
Lg                        ALALALALALALALALALALALNLNLNLNL
G                                                   1651
GS                                                  1528
Batting                                             1651
Defense                                             1586
P                                                      1
C                                                      0
1B                                                    27
2B                                                   911
3B                                                     8
SS                                                   236
LF                                                   223
CF                                                    34
RF                                                   466
OF                                                   701
DH                                                    28
PH                                                    92
PR                                                     4
dtype: object

In [27]:
z.overview().groupby("Tm").sum()

,Year,Age,G,GS,Batting,Defense,P,C,1B,2B,3B,SS,LF,CF,RF,OF,DH,PH,PR
Tm,,,,,,,,,,,,,,,,,,,
CHC,8070,146,461,393,461,433,1,0,10,295,0,7,112,0,130,220,2,51,0
KCR,2015,34,59,58,59,57,0,0,0,35,4,0,18,0,2,20,2,0,0
OAK,2015,34,67,63,67,60,0,0,0,34,0,0,27,0,3,30,4,4,0
TBD,4013,51,83,76,83,82,0,0,0,0,0,82,0,0,0,0,0,3,2
TBR,14077,210,981,938,981,954,0,0,17,547,4,147,66,34,331,431,20,34,2